<!-- navbar header -->
<div class='header-mobile navbar-header visible-xs visible-sm'>
  <button
    class='header-mobile__menu pull-left'
    ng-click='ctrl.openMobileMenu()'>
    <i class='mdi mdi-format-align-justify'></i>
  </button>
  <!-- brand -->
  <header-user-menu></header-user-menu>
</div>
<!-- / navbar header -->

<!-- navbar collapse -->
<div class='navbar-collapse hidden-xs hidden-sm'>
  <div class='header-logo pull-left'>
    <a ui-sref='app.dashboard'></a>
  </div>
  <div class='header-menu'>
    <md-tabs md-no-ink='true'
             class='header-menu-wrapper'
             ng-click='ctrl.hideRightSidebar()'>
      <md-tab md-active='ctrl.isDiactiveState()'></md-tab>
      <md-tab md-active='ctrl.isActiveState("app.dashboard")' ui-sref='app.dashboard'>
        <translate>top_menu.dashboard</translate>
      </md-tab>
      <md-tab md-active='ctrl.isActiveState("app.analytics")' ui-sref='app.analytics'>
        <translate>top_menu.analytics</translate>
      </md-tab>
      <md-tab md-active='ctrl.isActiveState("app.agenda")' ui-sref='app.agenda'>
        <translate>top_menu.calendar</translate>
      </md-tab>
      <md-tab md-active='ctrl.isActiveState("app.customers")' ui-sref='app.customers'>
        <translate>top_menu.customers</translate>
      </md-tab>
      <md-tab ng-if='ctrl.userIsManager()' md-active='ctrl.isActiveState("app.leads")' ui-sref='app.leads'>
        <translate>top_menu.leads</translate>
      </md-tab>
    </md-tabs>
  </div>
  <header-user-menu></header-user-menu>
  <header-search></header-search>
</div>
<!-- / navbar collapse -->
