<ul class='nav navbar-nav navbar-right m-l-sm'>
  <li ng-click='ctrl.hideRightSidebar()'>
    <div class='header-account-menu pull-right m-l-sm' uib-dropdown on-toggle='toggled(open)'>
      <div class='clearfix' uib-dropdown-toggle>
        <div class='header-account-menu__info pull-left'>
          <p class='header-account-menu__name'>{{ ctrl.User.current.first_name }}</p>
          <div class='header-account-menu__info'
            ng-show='ctrl.User.getCurrentCompany()'>
            <p>{{ ctrl.User.getCurrentCompany().name }}</p>
          </div>
        </div>
        <b class='pull-right caret m-l-sm m-t'></b>
      </div>

      <!-- dropdown -->
      <ul class='header-account-menu-box dropdown-menu' uib-dropdown-menu>
        <li ng-repeat='company in ctrl.User.getCompanies()'>
          <a href='javascript://' ng-click='ctrl.setDefaultCompany(company.id)'>
            <span>{{ company.name }}</span>
            <i ng-show='company.id === ctrl.User.getCompanyId()' class='mdi mdi-check pull-right'></i>
          </a>
        </li>

        <li>
          <a href='javascript://'
             ng-click='ctrl.changeLang("en")'
             ng-if='ctrl.$translate.proposedLanguage() === "nl"'>
            <span class='lang en'></span>
          </a>
          <a href='#'
             ng-click='ctrl.changeLang("nl")'
             ng-if='ctrl.$translate.proposedLanguage() === "en"'>
            <span class='lang nl'></span>
          </a>
        </li>

        <li class='m-t-sm'>
          <a href='javascript://'
             ui-sref='app.general_settings'
             ng-show='ctrl.userIsManager()'>
            <span translate='right_menu.settings'></span>
          </a>
          <span ng-hide='ctrl.userIsManager()'
                title='{{ "notifications.access_only" | translate }}'
                translate='right_menu.settings'></span>
        </li>
        <li>
          <a href='javascript://'
             ui-sref='app.upgrade'
             ng-show='ctrl.userIsOwner()'>
            <span translate='right_menu.upgrade'></span>
          </a>
          <span ng-hide='ctrl.userIsOwner()'
                title='{{ "notifications.access_only" | translate }}'
                translate='right_menu.upgrade'></span>
        </li>
        <li>
          <a href='https://thenextsoftware.slaask.help'
             target='_blank'><span translate='help'></span></a>
        </li>
        <li>
          <a href='javascript://' ng-click='ctrl.logout()'>
            <span translate='right_menu.logout'></span>
          </a>
        </li>
      </ul>
      <!-- / dropdown -->
    </div>

    <button type='button'
      class='header-account-menu__avatar bg-light pull-right'
      ngf-select="ctrl.uploadPhoto($file, $invalidFiles)"
      accept="image/*"
      ngf-pattern="'.png,.jpg'"
      ngf-max-height="2000"
      ngf-max-size="1MB"
      ng-model="picFile"
      ng-click="upload_photo.upload_photo_error=''"
      ng-style="{'background-image': ctrl.User.current.photo ? 'url(' + ctrl.User.current.photo + ')' : 'none'}"
      md-ink-ripple></button>
  </li>
</ul>
