<md-menu>
  <button md-ink-ripple
        class='md-icon-button md-button'
        ng-disabled='disabled'
        aria-haspopup='true'
        aria-expanded='false'
        aria-disabled='false'
        ng-click='$mdMenu.open($event);'>
    <i class='mdi mdi-dots-vertical i-24'></i>
  </button>
  <md-menu-content width='4' class='reservation_menu'>
    <md-menu-item ng-repeat='menu in controller.ReservationStatus.right_menu[item.reservation.status]'>
      <md-button ng-click='controller.changeStatus(item.reservation, menu.status, callback)'
                 ng-disabled='menu.disabled'>
        <md-icon>
          <i class='mdi mdi-with-button-padding' ng-class='menu.class'></i>
        </md-icon>
        <span>{{ menu.name }}</span>
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if='!item.reservation.is_present'>
      <md-button ng-click='controller.setPresent(item.reservation)'>
        <md-icon>
          <i class='mdi mdi-check' />
        </md-icon>
        <span>Aanwezig</span>
      </md-button>
    </md-menu-item>
    <md-menu-item ng-if='item.reservation.is_present'>
      <md-button ng-click='controller.setPresent(item.reservation)'>
        <md-icon>
          <i class='mdi mdi-exclamation' />
        </md-icon>
        <span>Niet aanwezig</span>
      </md-button>
    </md-menu-item>
    <md-menu-divider role='separator'></md-menu-divider>
    <md-menu-item>
      <md-button ng-click='controller.answer(item.reservation);'>
        <md-icon>
          <i class='mdi mdi-reply' />
        </md-icon>
        <span>Antwoord</span>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>