<section class='no-margin page_filter_time_ranges'>
  <md-toolbar>
    <div class='md-toolbar-tools'>
      <h2 md-truncate flex>
        <i class='mdi mdi-arrow-left m-r-sm'
           ng-click='page_filter_time_ranges.setStateToList();'
           ng-show='page_filter_time_ranges.state === "form"'></i>
        <translate translate='filter_settings.{{ page_filter_time_ranges.type }}'></translate>
      </h2>
      <md-button md-no-ink class="md-icon-button" ng-click='page_filter_time_ranges.closeModal();'>
        <i class='mdi mdi-close m-r-sm i-24'></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-content>
    <div class='md-content-view' ng-class='page_filter_time_ranges.state === "list" ? "show" : "transparent"'>
      <div class='wrapper'>
        <p ng-if='page_filter_time_ranges.type == "overbooking"'
           translate='filter_time_ranges.overbooking_title'></p>
        <p ng-if='page_filter_time_ranges.type == "product"'
           translate='filter_time_ranges.product_title'></p>
        <p ng-if='page_filter_time_ranges.type == "zone"'
           translate='filter_time_ranges.zone_title'></p>
      </div>
      <table class='table no-margin' ng-show='page_filter_time_ranges.is_loaded'>
        <thead>
          <th translate='type'></th>
          <th translate='value'></th>
          <th ng-if='page_filter_time_ranges.type == "product"' translate='product'></th>
          <th ng-if='page_filter_time_ranges.type == "zone"' translate='zone'></th>
          <th translate='start_time'></th>
          <th translate='end_time'></th>
          <th>{{ "whole_day" | translate }}?</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat='time_range in page_filter_time_ranges.time_ranges'>
            <td class='v-middle'>{{ time_range.type }}</td>
            <td ng-if='["open", "product", "zone"].includes(page_filter_time_ranges.type)' class='v-middle'>{{ time_range.value ? 'opened' : 'closed' | translate }}</td>
            <td ng-if='page_filter_time_ranges.type == "overbooking"' class='v-middle'>{{ time_range.value ? 'overbooking' : 'not_overbooking' | translate }}</td>
            <td class='v-middle'
                ng-if='page_filter_time_ranges.type == "product"'
                ng-bind='page_filter_time_ranges.getProductsName(time_range)'></td>
            <td class='v-middle'
                ng-if='page_filter_time_ranges.type == "zone"'
                ng-bind='page_filter_time_ranges.getZoneName(time_range.zone.id)'></td>
            <td class='v-middle'>{{ time_range.start_time }}</td>
            <td class='v-middle'>{{ time_range.end_time }}</td>
            <td class='v-middle'>{{ time_range.whole_day ? 'yes' : 'no' | translate }}</td>
            <td class='v-middle text-right'>
              <button md-ink-ripple
                      class='md-btn md-fab no-shadow'
                      ng-disabled='disabled'
                      aria-haspopup='true'
                      aria-expanded='false'
                      aria-disabled='false'
                      ng-click='page_filter_time_ranges.edit(time_range)'>
                  <i class='mdi mdi-pencil i-20'></i>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class='wrapper'>
        <button md-ink-ripple
                ng-class="{ 'disabled': page_filter_time_ranges.is_loaded }"
                class='md-btn md-flat btn-fw text-success'
                ng-click='page_filter_time_ranges.add();'>
          <i class='mdi mdi-plus-circle-outline'></i>
          <translate>filter_time_ranges.new_rule</translate>
        </button>
      </div>
    </div>

    <div class='md-content-submit' ng-class='page_filter_time_ranges.state === "form" ? "show" : "transparent"'>
      <form name='page_filter_time_ranges_form'
            ng-submit='page_filter_time_ranges.submitForm(page_filter_time_ranges_form.$valid);'>
        <div class='wrapper' layout='column' layout-align='space-around center'>
          <div class='w-xl m-b-sm'>
            <md-datepicker ng-model='page_filter_time_ranges.form_data.fixed_date'></md-datepicker>
            <p class='m-b-none m-t-sm' translate='filter_time_ranges.change'></p>
          </div>
          <rzslider rz-slider-model="page_filter_time_ranges.slider.minValue"
                    rz-slider-high="page_filter_time_ranges.slider.maxValue"
                    rz-slider-options="page_filter_time_ranges.slider.options"></rzslider>
          <div class='w-xl'>
            <div class='md-form-group no-padder m-b-sm'
                 ng-if='page_filter_time_ranges.type == "product"'>

              <div class='md-form-group no-padder'>
                <md-checkbox ng-model='page_filter_time_ranges.form_data.multiple'
                             aria-label='{{ "filter_time_ranges.multiproduct" | translate }}'
                             ng-disabled='page_filter_time_ranges.form_data.id'>
                  {{ "filter_time_ranges.multiproduct" | translate }}
                </md-checkbox>
              </div>
              <md-input-container ng-if='!page_filter_time_ranges.form_data.multiple'>
                <md-select required
                           ng-model='page_filter_time_ranges.form_data.product'
                           placeholder='Product'>
                  <md-option ng-value='product.id'
                             ng-repeat='product in page_filter_time_ranges.products'>
                    {{ product.name }}
                  </md-option>
                </md-select>
              </md-input-container>
              <md-input-container ng-if='page_filter_time_ranges.form_data.multiple'>
                <md-select required
                           multiple
                           ng-model='page_filter_time_ranges.form_data.product'
                           placeholder='Product'>
                  <md-option ng-value='product.id'
                             ng-repeat='product in page_filter_time_ranges.products'>
                    {{ product.name }}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class='md-form-group no-padder m-b-sm'
                 ng-if='page_filter_time_ranges.type == "zone"'>
              <md-input-container>
                <md-select required
                           ng-model='page_filter_time_ranges.form_data.zone'
                           placeholder='Zone'>
                  <md-option ng-value='zone.id'
                             ng-repeat='zone in page_filter_time_ranges.zones'>
                    {{ zone.name }}
                  </md-option>
                </md-select>
              </md-input-container>
            </div>
            <div class='md-form-group no-padder'>
              <md-checkbox ng-model='page_filter_time_ranges.form_data.value'
                           aria-label='{{ page_filter_time_ranges.value_label | translate }}'>
                {{ page_filter_time_ranges.value_label | translate }}
              </md-checkbox>
            </div>
            <div class='md-form-group no-padder'>
              <md-checkbox ng-model='page_filter_time_ranges.form_data.whole_day'
                           ng-change='page_filter_time_ranges.slider.options.disabled = page_filter_time_ranges.form_data.whole_day'
                           aria-label='{{ "whole_day" | translate }}?'>
                {{ "whole_day" | translate }}?
              </md-checkbox>
            </div>

            <div class='m-t-sm' translate='filter_time_ranges.time_notify'></div>
            <p ng-if='page_filter_time_ranges.form_data.id' class='m-t-md'>
              <span class='text-danger uppercase'
                    ng-click='page_filter_time_ranges.destoyWithConfirm();'
                    translate='filter_time_ranges.remove_time_zone'></span>
            </p>
          </div>
        </div>

        <button type='submit'
                class='btn btn-lg btn-success text-success w-full no-top-radius md-content-button'
                ng-class="{ 'disabled': !page_filter_time_ranges_form.$valid || page_filter_time_ranges.is_submitting }">
          <translate>save</translate>
        </button>
      </form>
    </div>
  </md-content>
</section>