reservation-item,
lead-reservation-item
  display flex
  flex 1 1 auto
  min-height 72px

  .md-avatar
    margin-top 1rem
  .md-list-item-text
    margin 1rem 0
    flex 1 1 auto
  .md-list-item-content
    .mdi.mdi-information-outline
      font-size 19px
      margin-left -5px
    h3 > img
      height 16px
      vertical-align top
      margin-left 5px

  .mdi-home
    line-height 14px
    font-size 18px

.agenda-reservation-item-wrapper
  width 100%
  display table
  border-collapse collapse

.agenda-reservation-header
  display none

  & > div
    display table-cell
    vertical-align middle
    font-size 14px
    padding 8px 0 8px 16px
    min-width 72px
    border-bottom 1px solid border-color

agenda-reservation-item
  font-size 0
  display table-row
  border-bottom: 1px solid border-color

  &.active
    background-color rgba(88, 102, 110, 0.1)

  & > div
    display table-cell
    vertical-align middle
    font-size 14px
    padding 8px 16px
    min-width 72px

    &.agenda-item-icon
      width 72px

    &.agenda-item-time
      min-width 82px
      width 82px

  .eicon
    font-size 16px

  .mdi.mdi-information-outline
    font-size 19px
    margin-left -5px

  .mdi-home
    line-height 14px
    font-size 18px

@media (max-width: 767px)
  agenda-reservation-item
    .visible-xs
      display table-cell !important

@media (min-width: 992px)
  .agenda-reservation-header
    display table-row !important

@media (max-width: 991px) and (min-width: 768px)
  agenda-reservation-item
    .visible-sm
      display table-cell !important
