<div class='col-lg-8 col-md-8 col-sm-8'>
  <div class='panel'>
    <div class='panel-heading' translate='settings.themes.title'></div>
    <div class='panel-body'>
      <p translate='settings.themes.description'></p>
      <div class='row'>
        <div class='md-form-group no-padder'>
          <md-radio-group class='theme-images'
            ng-change='ctrl.submitForm();'
            ng-model='ctrl.plugin_theme_name'>
            <div class='col-md-3 col-xs-6' ng-repeat='theme in ctrl.AppConstants.themes'>
              <div class='theme-images-{{ theme.toLowerCase() }}'></div>
              <md-radio-button
                ng-value='theme.toLowerCase()'
                class="inline md-success">{{ theme }}</md-radio-button>
            </div>
          </div>
        </md-radio-group>
      </div>
    </div>
  </div>
</div>
<div class='col-lg-4 col-md-4 col-sm-4'>
  <settings-menu></settings-menu>
</div>