{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaVersion": 2015
  },
  "rules": {
    "no-console": "off",
    "no-param-reassign": "off"
  },
  "env": {
    "browser": true,
    "jquery": true
  },
  "globals": {
    "API_URL": true,
    "FACEBOOK_ID": true,
    "require": true,
    "describe": true,
    "it": true,
    "browser": true,
    "by": true,
    "element": true,
    "expect": true,
    "import": true,
    "parseInt": true,
  }
}
