<section class='reservation_part_edit reservation_modal no-margin'>
  <form ng-submit='reserv.submitForm()'>
    <md-toolbar class='blue-grey-900'>
      <div class='md-toolbar-tools'>
        <div ng-click='dash_reserv.closeModal()'>
          <i class='mdi mdi-arrow-left m-r-sm'></i>
          Reserveren
        </div>
      </div>
    </md-toolbar>
    <md-content>
      <div ng-hide='reserv.success'>
        <md-tabs class='reservation_tabs'
                 flex
                 md-selected='reserv.selected_index'
                 md-no-pagination
                 md-stretch-tabs
                 md-dynamic-height>
          
          <!-- <div data-ng-include=" 'new_reservation.date.view.html' "></div> -->

          <div data-ng-include=" 'new_reservation.number_of_persons.view.html' "></div>

          <div data-ng-include=" 'new_reservation.product.view.html' "></div>

          <!-- <div data-ng-include=" 'reservation_part.time.view.html' "></div> -->
          
          <div data-ng-include=" 'new_reservation.zone.view.html' "></div>
        </md-tabs>
        <button type='submit'
                class='btn btn-lg btn-success w-full no-top-radius md-content-button'
                ng-class="{ 'disabled': !reserv.formIsValid() || reserv.is_submitting }">
        <span>RESERVEER</span>
      </button>

      </div>

    </md-content>
  </form>
</section>