<section class='reservation_part_edit reservation_modal no-margin'>
  <form ng-submit='reserv.submitForm()'>
    <md-toolbar class='blue-grey-900'>
      <div class='md-toolbar-tools'>
        <div ng-click='dash_reserv.closeModal()'>
          <i class='mdi mdi-arrow-left m-r-sm'></i>
          Reserveren
        </div>
      </div>
    </md-toolbar>
    <md-content>
      <div ng-hide='reserv.success'>
        <md-tabs class='reservation_tabs'
                 flex
                 md-selected='reserv.ReservationLogic.selected_index'
                 md-no-pagination
                 md-stretch-tabs
                 md-dynamic-height>
          <md-tab>
            <md-tab-label>
              <div class='text-center l-h'><i class='mdi mdi-calendar'></i></div>
              <div class='text-center l-h'>
                <span ng-show='reserv.reservation_part.date'>{{ reserv.reservation_part.date | date:'d MMMM' }}</span>
                <span ng-hide='reserv.reservation_part.date'>DATUM</span>
              </div>
            </md-tab-label>
            <md-tab-body>
              <div class='b-t' flex>
                <div class='md-list-item'>
                  <div class='md-list-item-content text-center'>
                    <h4>Kies een datum</h4>
                  </div>
                </div>
                <div class='wrapper' layout='column' layout-align='space-around center'>
                  <datepicker ng-change='reserv.ReservationLogic.selectTab(1)'
                              starting-day="1"
                              show-weeks="false"
                              ng-model='reserv.reservation_part.date'
                              min-date='reserv.init_date'
                              max-date='reserv.max_date'
                              class='datepicker'></datepicker>
                </div>
              </div>
            </md-tab-body>
          </md-tab>


          <md-tab>
            <md-tab-label>
              <div class='text-center l-h'><i class='mdi mdi-account-multiple'></i></div>
              <div class='text-center l-h'>
                <span ng-show='reserv.reservation_part.person_count'>
                  {{ reserv.reservation_part.person_count }} PERSONEN
                </span>
                <span ng-hide='reserv.reservation_part.person_count'>AANTAL</span>
              </div>
            </md-tab-label>
            <md-tab-body>
              <div class='reservation_person_count b-t' flex>
                <div class='md-list-item'>
                  <div class='md-list-item-content text-center'>
                    <h4>Aantal personen</h4>
                  </div>
                </div>
                <div class='wrapper' layout='column' layout-align='space-around center'>
                  <div class='w-lg'>
                    <label ng-repeat='number in [1,2,3,4,5,6,7,8,9,10]'
                      ng-click='reserv.ReservationLogic.selectTab(2)'
                      ng-class="{ 'btn-success': reserv.reservation_part.person_count == number }"
                      class='btn btn-default btn-sm font-bold m-xs text-success'
                      ng-model='reserv.reservation_part.person_count'
                      uncheckable
                      btn-radio='number'>{{ number }}</label>

                    <label ng-click='reserv.ReservationLogic.triggerChoosePersonCount()'
                           ng-hide='reserv.ReservationLogic.choose_person_count_is_opened'
                           class='btn btn-sm font-bold m-xs text-success no-shadow no-border'>More...</label>

                    <div class='m-t-md' ng-show='reserv.ReservationLogic.choose_person_count_is_opened'>
                      <md-input-container class='md-block'>
                        <label>Aantal personen</label>
                        <input type='number'
                               class='md-input'
                               ng-model='reserv.reservation_part.person_count' required />
                      </md-input-container>

                      <button type='button'
                              class='btn btn-md btn-success text-success'
                              ng-click='reserv.ReservationLogic.triggerChoosePersonCount();reserv.ReservationLogic.selectTab(2);'>Ok</button>
                    </div>
                  </div>
                </div>
              </div>
            </md-tab-body>
          </md-tab>


          <md-tab>
            <md-tab-label>
              <div class='text-center l-h'><i class='mdi mdi-silverware-variant'></i></div>
              <div class='text-center l-h'>
                <span ng-show='reserv.reservation_part.product'>{{ reserv.ReservationLogic.getProductNameByProductId(reserv.products, reserv.reservation_part.product) }}</span>
                <span ng-hide='reserv.reservation_part.product'>PRODUCT</span>
              </div>
            </md-tab-label>
            <md-tab-body>
              <div class='reservation_product b-t' flex>
                <div class='md-list-item'>
                  <div class='md-list-item-content text-center'>
                    <h4>Welk product komt de klant voor?</h4>
                  </div>
                </div>
                <div class='wrapper'>
                  <div class='text-center' ng-show='reserv.products_is_loaded'>
                    <label ng-repeat='product in reserv.products'
                           ng-click='reserv.ReservationLogic.selectTab(3)'
                           class='box'
                           ng-model='reserv.reservation_part.product'
                           uncheckable
                           btn-radio='product.id'>
                      <i class='box_active_icon mdi mdi-check'></i>
                      <i class='box_icon mdi' ng-class="product.icon_class"></i>
                      <p class='no-margin'>{{ product.name }}</p>
                    </label>
                  </div>
                </div>
              </div>
            </md-tab-body>
          </md-tab>


          <md-tab>
            <md-tab-label>
              <div class='text-center l-h'><i class='mdi mdi-border-horizontal'></i></div>
              <div class='text-center l-h'>
                <span>ZONE</span>
              </div>
            </md-tab-label>
            <md-tab-body>
              <div class='reservation_zone b-t' flex>
                <div class='md-list-item'>
                  <div class='md-list-item-content text-center'>
                    <h4>Welk tafel komt de klant te zitten?</h4>
                  </div>
                </div>
                <div class='wrapper' ng-show='reserv.zones_is_loaded'>
                  <div class='zones_boxes clearfix text-center' ng-show='reserv.zones_is_showed'>
                    <div ng-repeat="zone in reserv.zones"
                         ng-click='reserv.setZone(zone);'
                         class='box'>
                      <i class='box_icon mdi mdi-martini'></i>
                      <p class='no-margin'>{{ zone.name }}</p>
                    </div>
                  </div>

                  <div class='tables_boxes' ng-hide='reserv.zones_is_showed'>

                    <p><small class='text-muted'>{{ reserv.reservation_part.zone.name }}:</small></p>
                    <label ng-repeat='table_id in reserv.reservation_part.zone.table_ids'
                           ng-class="{ 'disabled': reserv.ReservationLogic.isDisabledTableByTableId(reserv.tables, table_id) }"
                           class='btn btn-default block  m-b-xs no-shadow text-success text-left'
                           ng-model='reserv.reservation_part.tables_values[table_id]'
                           uncheckable
                           btn-checkbox>
                      <span class='m-r-lg'>Tafel {{ reserv.ReservationLogic.getTableNumberByTableId(reserv.tables, table_id) }}</span><span>{{ reserv.ReservationLogic.getPersonCountByTableId(reserv.tables, table_id) }} personen</span>
                    </label>

                    <label ng-click='reserv.zones_is_showed = true'
                           class='btn btn-sm font-bold m-xs text-success no-shadow no-border'>Show zones</label>

                    <button type='button'
                            class='btn btn-md btn-success text-success w-full'
                            ng-click='reserv.ReservationLogic.selectTab(4);'>Ok</button>
                  </div>
                </div>

              </div>
            </md-tab-body>
          </md-tab>


          <md-tab>
            <md-tab-label>
              <div class='text-center l-h'><i class='mdi mdi-clock'></i></div>
              <div class='text-center l-h'>
                <span ng-show='reserv.reservation_part.time'>
                  {{ reserv.reservation_part.time }}
                </span>
                <span ng-hide='reserv.reservation_part.time'>TIJDSTIP</span>
              </div>
            </md-tab-label>
            <md-tab-body>
              <div class='b-t' flex>
                <div class='md-list-item'>
                  <div class='md-list-item-content text-center'>
                    <h4>Beschikbare tijden</h4>
                  </div>
                </div>

                <div class='wrapper' layout='column' layout-align='space-around center'>
                  <div class='w-xl'>
                    <div class='text-center' ng-show='reserv.time_is_loaded'>
                      <label ng-repeat='time_obj in reserv.available_time'
                             ng-click='reserv.ReservationLogic.selectTab(5)'
                             ng-class="{ 'btn-success': reserv.reservation_part.time == time_obj.time }"
                             class='btn btn-default btn-lg m-xs m-l-none no-shadow text-success'
                             ng-model='reserv.reservation_part.time'
                             uncheckable
                             btn-radio='time_obj.time'>{{ time_obj.time }}</label>
                    </div>
                  </div>
                </div>
              </div>
            </md-tab-body>
          </md-tab>
        </md-tabs>

        <button type='submit'
                class='btn btn-lg btn-success text-success w-full no-top-radius md-content-button'
                ng-class="{ 'disabled': reserv.formIsValid() || reserv.is_submitting }">
          <span>RESERVEER</span>
        </button>

      </div>

    </md-content>
  </form>
</section>