.reservation_part_edit
  .md-content-submit
    min-height 480px

md-tabs.reservation_edit_tabs
  md-tabs-wrapper
    md-tabs-canvas
      md-pagination-wrapper
        md-tab-item.md-tab
          width 20%