<section class='reservation_part_edit reservation_modal no-margin'>
  <form ng-submit='reserv.submitForm()'>
    <md-toolbar class='blue-grey-900'>
      <div class='md-toolbar-tools'>
        <h2 md-truncate flex>Reserveren</h2>
        <md-button class="md-icon-button" ng-click='reserv.Confirm.onCloseModal(reserv.$modalInstance);' md-no-ink>
          <i class='mdi mdi-close m-r-sm i-24'></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-content>
      <div ng-hide='reserv.success'>
        <md-tabs class='reservation_tabs'
                 flex
                 md-selected='reserv.selected_index'
                 md-no-pagination
                 md-stretch-tabs
                 md-dynamic-height>

          <div data-ng-include=" 'new_reservation.number_of_persons.view.html' "></div>

          <div data-ng-include=" 'new_reservation.product.view.html' "></div>

          <div data-ng-include=" 'new_reservation.zone.view.html' "></div>
        </md-tabs>
        <div class='wrapper red-300 layout-align-space-around-center layout-column' ng-show='reserv.errors.length'>
          <div class='w-xl'>
            <div ng-repeat='error in reserv.errors'>
              {{ error }}
            </div>
          </div>
        </div>
        <button type='submit'
                class='btn btn-lg btn-success w-full no-top-radius md-content-button'
                ng-class="{ 'disabled': reserv.errors.length || reserv.is_submitting }">
        <span>RESERVEER</span>
      </button>

      </div>

    </md-content>
  </form>
</section>