<div ng-show='tables_settings.is_loaded'>
  <button ng-click='tables_settings.addZone()' md-ink-ripple class='panel-add-button md-btn md-fab m-b orange'>
    <i class='mdi mdi-plus i-24'></i>
  </button>

  <div class='settings_tables panel' ng-hide='tables_settings.zones.length'>
    <div class='panel-heading'>
      <span class='accordion-toggle'>
        Nieuwe zone
      </span>
    </div>
  </div>

  <accordion class='settings_tables' close-others='true'>
    <accordion-group ng-repeat='zone in tables_settings.zones' is-open='tables_settings.opened[$index]'>
      <accordion-heading>
        <div class='clearfix'>
          <div class='pull-left'>
          {{ zone.name }}
          </div>

          <md-menu class='pull-left m-l-sm'>
            <i class='mdi mdi-dots-vertical i-20' ng-click='$mdMenu.open($event);'></i>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click='tables_settings.removeZone($index)'>Zone verwijderen</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </accordion-heading>

      <form name='tables_form' ng-submit='tables_settings.submitForm();'>
        <table class='table no-margin' ng-show='tables_settings.is_loaded'>
          <col width='33%'>
          <col width='33%'>
          <col width='33%'>
          <thead>
            <th>Tafelnummer</th>
            <th>Aantal personen</th>
            <th></th>
          </thead>
        </table>
        <ul class='tables md-list no-padder no-margin' dnd-list='tables_settings.tables_by_zone[zone.id]'>
          <li class='table_item md-list-item clear'
              ng-repeat="table in tables_settings.tables_by_zone[zone.id] | orderBy:'position'"
              dnd-draggable="table"
              dnd-moved="tables_settings.tables_by_zone[zone.id].splice($index, 1)"
              dnd-effect-allowed="move"
              dnd-selected="tables_settings.selected = table"
              dnd-dragend='tables_settings.submitForm();'
              ng-class="{'selected': tables_settings.selected === table}">
            <div class='table_item_number pull-left m-t-sm'>
              <md-input-container class='no-margin'>
                <input type='number'
                       class='text-center w-40'
                       name='table_number_{{$index}}'
                       ng-model='tables_settings.tables_by_zone[zone.id][$index].table_number'
                       ng-change='tables_settings.submitForm();'
                       required
                       ng-maxlength='3'
                       minlength='1'
                       min='0' />

                <div ng-messages='tables_form[tables_settings.getTableNumberNameByZoneAndIndex(zone.id, $index)].$error'>
                  <div ng-message='required'>This is required!</div>
                </div>
                <div ng-messages='tables_form[tables_settings.getTableNumberNameByZoneAndIndex(zone.id, $index)].$error'
                     ng-show='tables_settings.errors.children.tables.children[tables_settings.getGlobalPosition(table)].children.table_number.errors'>
                  <div ng-repeat='error in tables_settings.errors.children.tables.children[tables_settings.getGlobalPosition(table)].children.table_number.errors'>{{ error }}</div>
                </div>
              </md-input-container>
            </div>
            <div class='table_item_persons pull-left m-t-sm'>
              <md-input-container class='no-margin'>
                <input type='number'
                       class='text-center w-40'
                       ng-model='tables_settings.tables_by_zone[zone.id][$index].number_of_persons'
                       ng-change='tables_settings.submitForm()'
                       required
                       ng-maxlength='3'
                       minlength='1'
                       min='0' />
              </md-input-container>
            </div>
            <div class='table_item_actions pull-left text-right'>
              <md-menu>
                <button md-ink-ripple
                      class='md-btn md-fab no-shadow'
                      ng-disabled='disabled'
                      aria-haspopup='true'
                      aria-expanded='false'
                      aria-disabled='false'
                      ng-click='$mdMenu.open($event)'>
                  <i class='mdi mdi-dots-vertical i-24'></i>
                </button>
                <md-menu-content>
                  <md-menu-item>
                    <md-button ng-click='tables_settings.removeTable(zone.id, $index)'>Tafel verwijderen</md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </li>
        </ul>
      </form>

      <div class='wrapper b-t'>
        <button md-ink-ripple
                class='md-btn md-flat btn-fw text-success'
                ng-click='tables_settings.addTableByZoneId(zone.id)'>
          <i class='mdi mdi-plus-circle-outline'></i>
          TAFEL TOEVOEGEN
        </button>
      </div>
    </accordion-group>
  </accordion>
</div>