<section class='no-margin'>
  <md-toolbar>
    <div class='md-toolbar-tools'>
      <h2 translate='settings.table_groups.title'
          md-truncate
          flex></h2>
      <md-button class='md-icon-button'
                 ng-click='ctrl.$modalInstance.dismiss("cancel")'
                 md-no-ink>
        <i class='mdi mdi-close m-r-sm i-24'></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-content>
    <div class='wrapper md-content-submit'
         layout='column'
         layout-align='space-around center'>
      <div class='w-xl'>
        <form name='table_group_form'
              ng-submit='ctrl.submitForm()'>
          <color-picker ng-model='ctrl.form_data.color'></color-picker>

          <md-input-container class='md-block'>
            <label translate='tables'></label>
            <md-select multiple ng-model='ctrl.form_data.table_ids'>
              <div ng-repeat='(zone_id, tables) in ctrl.tablesByZone'>
                <md-option ng-value='table.id' ng-repeat='table in tables'>
                  {{ 'table' | translate }} {{ table.table_number }} - {{ table.number_of_persons }} <trasnalte class='lowercase'>persons</trasnalte>
                </md-option>
              </div>
            </md-select>
            <div class='md-errors-spacer'></div>
          </md-input-container>

          <md-input-container class='md-block'>
            <label translate='settings.table_groups.min'></label>
            <input type='number'
                   ng-model='ctrl.form_data.min'
                   min='1'
                   required />
          </md-input-container>

          <md-input-container class='md-block'>
            <label translate='settings.table_groups.max'></label>
            <input type='number'
                   ng-model='ctrl.form_data.max'
                   min='1'
                   required />
          </md-input-container>

          <div class='md-form-group no-padder m-b-md'>
            <md-checkbox ng-model='ctrl.form_data.can_be_combined'
              aria-label='Can be combined?'>
              Can be combined?
            </md-checkbox>
          </div>

          <button type='submit'
              ng-class="{ 'disabled': ctrl.is_submitting }"
              class='btn btn-lg btn-success text-success w-full no-top-radius md-content-button'
              translate='save'>
          </button>
        </form>
      </div>
    </div>
  </md-content>
</section>
