.settings_tables
  .panel-group
    .panel
      .panel-collapse
        .panel-body
          padding 0

  .tables
    .dndPlaceholder
      background-color font-color
      display block
      height 88px

    .table_item
      height 88px

      .table_item_number,
      .table_item_persons,
      .table_item_group
        width 26%

      .table_item_actions
        width 22%

.settings_add_items .clearfix
  max-height 276px
  overflow-y auto
  padding 8px 8px

.new_item_wrapper
  .md-input
    height 39px
  md-input-container>md-select
    height 39px
  button.btn
    display block
    width 100%
    position absolute
    top 474px

.settings_tables_notify
  margin-bottom -20px