<section class='no-margin new_zone_wrapper'>
  <md-toolbar class='blue-grey-900'>
    <div class='md-toolbar-tools'>
      <i class='mdi mdi-arrow-left m-r-sm'></i>
      Zone toevoegen
    </div>
  </md-toolbar>
  <md-content>
    <div class='md-content-submit'>
      <div class='md-list-item'>
        <div class='md-list-item-content text-center'>
          <h4>Wat voor soort zone wil je toevoegen?</h4>
        </div>
      </div>
      <div class='settings_add_tables'>
        <div class='clearfix'>
          <label ng-repeat="(zone, className) in new_zone.icons_classes"
                 ng-class="{ 'disabled': new_zone.zonesNames().includes(zone) }"
                 ng-click='new_zone.changeClass(className)'
                 class='box'
                 ng-model='new_zone.item.name'
                 uncheckable
                 btn-radio='zone'>
            <i class='box_active_icon mdi mdi-check'></i>
            <i class='box_icon mdi {{ new_zone.icons_classes[zone] }}'></i>
            <p class='no-margin'>{{ zone }}</p>
          </label>
        </div>
      </div>

      <div class='md-form-group m-l-sm no-padder'>
        <md-checkbox ng-model="new_zone.item.use_in_frontoffice_availability"
                     aria-label='Gebruiken voor reserveringen via frontoffice'>
          Gebruiken voor reserveringen via frontoffice
        </md-checkbox>
      </div>

      <button
            ng-hide='new_zone.add_name_is_opened'
            class='md-btn md-flat btn-fw m-t-md text-success'
            ng-click='new_zone.add_name_is_opened = true;'>
        <i class='mdi mdi-plus-circle-outline'></i>
        ZELF NAAM TOEVOEGEN
      </button>

      <md-input-container class='m-l-sm' ng-show='new_zone.add_name_is_opened'>
        <label>ZELF NAAM TOEVOEGEN</label>
        <input ng-model='new_zone.item.name' ng-required />
      </md-input-container>

      <md-input-container ng-show="new_zone.add_name_is_opened">
        <label>ICON</label>
        <md-select ng-model="new_zone.item.icon_class" ng-required>
          <md-option ng-repeat="icon_class in new_zone.icons_classes" ng-value="icon_class">
            <i class="mdi {{ icon_class }} i-24"></i>
          </md-option>
        </md-select>
      </md-input-container>

      <button class='btn btn-lg btn-success text-success no-top-radius md-content-button'
              ng-class="{ 'disabled': !(new_zone.item.name && new_zone.item.icon_class) }"
              ng-click='new_zone.submitForm();'>
        <span ng-hide='new_zone.is_submitting'>OPSLAAN</span>
        <div layout='row' layout-align='space-around' ng-show='new_zone.is_submitting'>
          <md-progress-circular md-mode="indeterminate" md-diameter='24' class='white'></md-progress-circular>
        </div>
      </button>
    </div>
  </md-content>
</section>
