default_color = #58666e

.settings_tables
  .panel-group
    .panel
      .panel-heading
        .accordion-toggle
          .pull-left
            line-height 25px
      .panel-collapse
        .panel-body
          padding 0

  .tables
    .dndPlaceholder
      background-color default_color
      display block
      height 88px
    
    .table_item
      height 88px

      .table_item_number
        width 40%
      .table_item_persons
        width 40%
      .table_item_actions
        width 20%