default_color = #58666e

.settings_tables
  .panel-group
    .panel
      .panel-heading
        .accordion-toggle
          .pull-left
            line-height 25px
      .panel-collapse
        .panel-body
          padding 0

  .tables
    .dndPlaceholder
      background-color default_color
      display block
      height 88px

    .table_item
      height 88px

      .table_item_number
        width 40%
      .table_item_persons
        width 40%
      .table_item_actions
        width 20%

.settings_add_tables
  max-height 276px
  overflow-y auto
  padding 8px 8px

.new_zone_wrapper
  .md-input
    height 39px
  md-input-container>md-select
    height 39px

md-backdrop.md-select-backdrop
  z-index 1058

.md-select-menu-container
  z-index 1059
  md-content
    padding-bottom 0 !important