<div class='col-lg-8 col-md-8 col-sm-8'>
  <div class='settings-names-content'>
    <button ng-click='ctrl.add()'
            class='panel-add-button md-btn md-fab m-b'
            md-ink-ripple>
      <md-tooltip>{{ 'settings.customer_settings_names.new' | translate }}?</md-tooltip>
      <i class='mdi mdi-plus i-24'></i>
    </button>

    <div class='panel' ng-if='ctrl.is_loaded'>
      <div class='panel-heading' translate='settings.customer_settings_names.title'></div>
      <div class='md-list'>
        <div class='md-list-item no-padder'>
          <table class='table' ng-show='ctrl.settingsNames.length > 0'>
            <thead>
              <th translate='language'></th>
              <th translate='type'></th>
              <th translate='value'></th>
              <th></th>
            </thead>
            <tbody>
              <tr ng-repeat='settingsName in ctrl.settingsNames'>
                <td class='v-middle' ng-bind='settingsName.language'></td>
                <td class='v-middle'>{{ settingsName.type | translate }}</td>
                <td class='v-middle' ng-bind='settingsName.value'></td>
                <td class='v-middle text-right'>
                  <md-menu>
                    <button md-ink-ripple
                          class='md-btn md-fab no-shadow'
                          ng-disabled='disabled'
                          aria-haspopup='true'
                          aria-expanded='false'
                          aria-disabled='false'
                          ng-click='$mdMenu.open($event)'>
                      <i class='mdi mdi-dots-vertical i-24'></i>
                    </button>
                    <md-menu-content>
                      <md-menu-item>
                        <md-button ng-click='ctrl.edit($index)'>
                          {{ 'settings.customer_settings_names.edit' | translate }}
                        </md-button>
                      </md-menu-item>
                      <md-menu-item>
                        <md-button ng-click='ctrl.showConfirm($index)'>
                          {{ 'settings.customer_settings_names.delete' | translate }}
                        </md-button>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                </td>
              </tr>
            </tbody>
            <div class='md-padding'
                 ng-hide='ctrl.settingsNames.length > 0'
                 translate='geen'>
            </div>
          </table>
        </div>
      </div>
    </div>

    <div class='panel' ng-hide='ctrl.is_loaded'>
      <div class='panel-heading' translate='settings.customer_settings_names.title'></div>
      <md-list class='no-padder'>
        <md-list-item class='md-no-proxy'>
          <fix-settings-item></fix-settings-item>
        </md-list-item>
        <md-list-item class='md-no-proxy'>
          <fix-settings-item></fix-settings-item>
        </md-list-item>
        <md-list-item class='md-no-proxy'>
          <fix-settings-item></fix-settings-item>
        </md-list-item>
        <md-list-item class='md-no-proxy'>
          <fix-settings-item></fix-settings-item>
        </md-list-item>
        <md-list-item class='md-no-proxy'>
          <fix-settings-item></fix-settings-item>
        </md-list-item>
        <md-list-item class='md-no-proxy'>
          <fix-settings-item></fix-settings-item>
        </md-list-item>
      </md-list>
    </div>
  </div>
</div>
<div class='col-lg-4 col-md-4 col-sm-4'>
  <settings-menu></settings-menu>
</div>
