<section class='no-margin'>
  <md-toolbar>
    <div class='md-toolbar-tools'>
      <h2 md-truncate flex translate='settings.customer_settings_names.edit'></h2>
      <md-button class='md-icon-button'
                 ng-click='controller.$modalInstance.dismiss("cancel");'
                 md-no-ink>
        <i class='mdi mdi-close m-r-sm i-24'></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-content>
    <form name='edit_settings_name'
          ng-submit='controller.submitForm(edit_settings_name.$valid)'>
      <div class='wrapper md-content-submit' layout='column' layout-align='space-around center'>
        <div class='w-xl'>
          <md-input-container class='md-block'>
            <label translate='value'></label>
            <input ng-model='controller.form_data.value' required />
          </md-input-container>
          <div class='md-form-group no-padder'>
            <md-radio-group ng-model='controller.form_data.language'>
              <md-radio-button value='NL' class='inline md-success'>
                {{ 'language.netherlands' | translate }}
              </md-radio-button>
              <md-radio-button value='EN' class='inline md-success'>
                {{ 'language.english' | translate }}
              </md-radio-button>
            </md-radio-group>
          </div>
          <div class='md-form-group no-padder'>
            <md-radio-group ng-model='controller.form_data.type'>
              <md-radio-button value='allergy' class='inline md-success'>
                {{ 'allergy' | translate }}
              </md-radio-button>
              <md-radio-button value='preference' class='inline md-success'>
                {{ 'preference' | translate }}
              </md-radio-button>
            </md-radio-group>
          </div>
        </div>
      </div>
      <button type='submit'
              ng-class="{ 'disabled': !edit_settings_name.$valid || controller.is_submitting }"
              class='btn btn-lg btn-success text-success w-full no-top-radius md-content-button'
              translate='save'>
      </button>
    </form>
  </md-content>
</section>