<div class='col-lg-8 col-md-8 col-sm-8'> 
  <div class='panel' ng-if='ctrl.is_loaded'>
    <div class='panel-heading' translate='settings.employees.title'></div>
    <div class='panel-body no-padder'>
      <table class='table no-margin'>
        <thead>
          <th translate='name'></th>
          <th translate='email'></th>
          <th translate='settings.employees.rights' ng-show='ctrl.isOwner'></th>
          <th ng-show='ctrl.isOwner'></th>
        </thead>
        <tbody>
          <tr ng-repeat='employee in ctrl.employees'>
            <td class='v-middle'>{{ employee.user.first_name }} {{ employee.user.last_name }}</td>
            <td class='v-middle'>{{ employee.user.email }}</td>
            <td class='v-middle' ng-show='ctrl.isOwner'>
              <form
                name='employee_form'
                ng-submit='ctrl.submitForm(employee.user.id);'>
                <md-input-container class='no-margin p-t-none'>
                    <md-select class='pull-left'
                               name='name'
                               md-on-close='ctrl.submitForm(employee.id);'
                               ng-model='ctrl.employee_form[employee.id].name'>
                      <md-option value='waiter' translate='settings.employees.rights_list.waiter'></md-option>
                      <md-option value='restaurant_manager' translate='settings.employees.rights_list.restaurant_manager'></md-option>
                      <md-option value='backoffice_manager' translate='settings.employees.rights_list.backoffice_manager'></md-option>
                      <md-option value='owner' translate='settings.employees.rights_list.owner'></md-option>
                    </md-select>
                  </md-input-container>
                </form>
            </td>
            <td class='v-middle text-right' ng-if='ctrl.isOwner'>
              <md-menu>
                  <button md-ink-ripple
                        class='md-btn md-fab no-shadow'
                        ng-disabled='disabled'
                        aria-haspopup='true'
                        aria-expanded='false'
                        aria-disabled='false'
                        ng-click='$mdMenu.open($event)'>
                    <i class='mdi mdi-dots-vertical i-24'></i>
                  </button>
                  <md-menu-content>
                    <md-menu-item>
                      <md-button ng-click='ctrl.destroyEmployee(employee)'
                                 translate='settings.employees.remove'></md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class='panel-footer'>
      <button md-ink-ripple
              ng-show='ctrl.isOwner'
              class='md-btn md-flat btn-fw text-success'
              ng-click='ctrl.addEmployee();'>
        <i class='mdi mdi-plus-circle'></i>
        <translate class='uppercase'>settings.employees.add</translate>
      </button>
    </div>
  </div>

  <div class='panel' ng-if='!ctrl.is_loaded'>
    <div class='panel-heading' translate='settings.employees.title'></div>
    <md-list class='no-padder'>
      <md-list-item class='md-no-proxy'>
        <fix-settings-item></fix-settings-item>
      </md-list-item>
      <md-list-item class='md-no-proxy'>
        <fix-settings-item></fix-settings-item>
      </md-list-item>
      <md-list-item class='md-no-proxy'>
        <fix-settings-item></fix-settings-item>
      </md-list-item>
      <md-list-item class='md-no-proxy'>
        <fix-settings-item></fix-settings-item>
      </md-list-item>
      <md-list-item class='md-no-proxy'>
        <fix-settings-item></fix-settings-item>
      </md-list-item>
      <md-list-item class='md-no-proxy'>
        <fix-settings-item></fix-settings-item>
      </md-list-item>
    </md-list>
</div>
</div>
<div class='col-lg-4 col-md-4 col-sm-4'>
  <settings-menu></settings-menu>
</div>