<section ng-controller='NewReservationCtrl as reserv' class='reservation_modal no-margin'>
  <form ng-submit='reserv.submitForm()'>
    <md-toolbar>
      <div class='md-toolbar-tools'>
        <div ng-click='dash_reserv.closeModal()' ng-hide='reserv.success'>
          <i class='mdi mdi-arrow-left m-r-sm'></i>
          Reserveren
        </div>
        <div ng-show='reserv.success'>
          Nieuwe reservering
        </div>
      </div>
    </md-toolbar>
    <md-content>
      <div ng-hide='reserv.success'>
        <md-tabs class='reservation_tabs'
                 flex
                 md-selected='reserv.selected_index'
                 md-no-pagination
                 md-stretch-tabs
                 md-dynamic-height>

          <div data-ng-include=" 'new_reservation.date.view.html' "></div>

          <div data-ng-include=" 'new_reservation.number_of_persons.view.html' "></div>

          <div data-ng-include=" 'new_reservation.product.view.html' "></div>

          <div data-ng-include=" 'new_reservation.time.view.html' "></div>

          <div data-ng-include=" 'new_reservation.zone.view.html' "></div>

          <div data-ng-include=" 'new_reservation.group.view.html' "></div>

          <div data-ng-include=" 'new_reservation.person.view.html' " ng-init="showConfirmEmailCheckbox = true"></div>

        </md-tabs>
      </div>

      <div class='md-content-submit b-t' flex ng-show='reserv.success'>
        <div class='md-list-item'>
          <div class='md-list-item-content'>
            <h4>Reservering geplaatst</h4>
          </div>
        </div>
        <div class='wrapper'>
          <div class="md-list-item inset" ng-repeat='part in reserv.reservation.reservation_parts'>
              <div class="md-list-item-left">
                <i class="mdi mdi-attachment icon-muted i-24"></i>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md" ng-if='part.time_type == "single"'>{{ reserv.getDateForSuccess(part.date) }} {{ part.time }}</h3>
                <h3 class="text-md" ng-if='part.time_type == "range"'>{{ reserv.getDateForSuccess(part.date) }} {{ part.start_date_time }} - {{ part.end_date_time }}</h3>
                <small class="font-thin">{{ reserv.ReservationLogic.getProductNameByProductId(reserv.products, part.product) }},  {{ part.number_of_persons }} personen</small>
              </div>
            </div>
          <div class="md-list-item inset" ng-if='reserv.reservation.primary_phone_number'>
            <div class="md-list-item-left">
              <i class="mdi mdi-phone icon-muted i-24"></i>
            </div>
            <div class="md-list-item-content">
              <h3 class="text-md">{{ reserv.reservation.primary_phone_number }}</h3>
              <small class="font-thin">Telefoon</small>
            </div>
          </div>
          <div class="md-list-item inset">
            <div class="md-list-item-left ">
              <i class="mdi mdi-email icon-muted i-24"></i>
            </div>
            <div class="md-list-item-content">
              <h3 class="text-md">{{ reserv.reservation.mail }}</h3>
              <small class="font-thin">E-mail</small>
            </div>
          </div>

          <div class="md-list-item ">
            <div class="md-list-item-left ">
              <i class="mdi mdi-comment-text icon-muted i-24"></i>
            </div>
            <div class="md-list-item-content">
              <h3 class="text-md">{{ reserv.reservation.notes }}</h3>
              <small class="font-thin">Opmerkingen</small>
            </div>
          </div>
        </div>
        <button type='button'
                class='btn btn-lg btn-success text-success w-full no-top-radius md-content-button'
                ng-show='reserv.success'
                ng-click='dash_reserv.closeModal()'>TERUG NAAR OVERZICHT</button>
      </div>
    </md-content>
  </form>
</section>