button[disabled]
  opacity 0.3

.cancelled
  opacity 0.3

.empty_reservations
  background url(/public/images/empty-reservations.png) no-repeat center 20px
  height 220px
  padding-top 175px
  text-align center
