<div class='col-lg-6 col-md-6 col-sm-6'>

  <div ng-show='reservations.reservationsLoaded && reservations.hasReservations();'>
    <div class='panel'>
      <div class='panel-heading'>Actie vereist</div>
      <md-list class='no-padder'
               ng-show='reservations.action_required.length'>
        <div class='b-b'>
          <md-list-item class='reservation_today md-2-line md-no-proxy b-b-none'
               ng-class='{"active": reservations.active_part == item.id, 
                          "cancelled": item.reservation.status == "cancelled"}'
               data-ng-include=" 'dashboard_reservations.item.view.html' "
               ng-repeat='item in data = reservations.action_required'
               ng-init='hideIcon = item.reservation.id === data[$index - 1].reservation.id'
               ng-mouseup='reservations.active_part = item.id'
               md-ink-ripple></md-list-item>
        </div>
      </md-list>
      <div class='md-padding'
           ng-hide='reservations.action_required.length'>Leeg</div>
    </div>

    <div class='panel'>
      <div class='panel-heading'>Groepen deze week</div>
      <md-list class='no-padder'
               ng-show='reservations.group_this_week.length'>
        <div class='b-b'>
          <md-list-item class='reservation_today md-2-line md-no-proxy b-b-none'
               ng-class='{"active": reservations.active_part == item.id, 
                          "cancelled": item.reservation.status == "cancelled"}'
               data-ng-include=" 'dashboard_reservations.item.view.html' "
               ng-repeat='item in data = reservations.group_this_week'
               ng-init='hideIcon = item.reservation.id === data[$index - 1].reservation.id'
               ng-mouseup='reservations.active_part = item.id'
               md-ink-ripple></md-list-item>
        </div>
      </md-list>
      <div class='md-padding'
           ng-hide='reservations.group_this_week.length'>Leeg</div>
    </div>

    <button ng-click='dash.openReservation()'
            class='panel-add-button md-btn md-fab m-b'
            md-ink-ripple>
      <i class='mdi mdi-plus i-24'></i>
    </button>

    <div class='panel'>
      <div class='panel-heading'>Vandaag</div>
      <md-list class='no-padder'
               ng-show='reservations.ReservationPart.partsByDate(reservations.today, reservations.moment()).length'>
        <div class='b-b'>
          <md-list-item class='reservation_today md-2-line md-no-proxy b-b-none'
               ng-class='{"active": reservations.active_part == item.id, 
                          "cancelled": item.reservation.status == "cancelled"}'
               data-ng-include=" 'dashboard_reservations.item.view.html' "
               ng-repeat='item in data = reservations.ReservationPart.partsByDate(reservations.today, reservations.moment())'
               ng-init='hideIcon = item.reservation.id === data[$index - 1].reservation.id'
               ng-mouseup='reservations.active_part = item.id'
               md-ink-ripple></md-list-item>
        </div>
      </md-list>
      <div class='md-padding'
           ng-hide='reservations.ReservationPart.partsByDate(reservations.today, reservations.moment()).length'>Leeg</div>
    </div>
  </div>

  <div ng-show='reservations.reservationsLoaded && !reservations.hasReservations();'>
    <button ng-click='dash.openReservation();' md-ink-ripple class='panel-add-button md-btn md-fab m-b'>
      <i class='mdi mdi-plus i-24'></i>
    </button>
    <div class='panel'>
      <div class='wrapper' layout='column' layout-align='space-around center'>
        <div class='w-xl m-t-xxl m-b-xxl text-center'>
          Je hebt nog geen reserveringen klik op de "+" om je eerste reservering aan te maken
        </div>
      </div>
    </div>
  </div>
</div>

<div data-ng-include=" 'user_menu.view.html' " ng-controller='UserMenuCtrl as user'></div>