<div class='panel-body fixing-vertical-alignment reservation_full_wrapper' ng-if="searchFlag || tables.includes(reservation_part.table_ids[0])">

  <div class='col-md-2'>
    <div class='md-list-item-left img-circle m-t-sm grey-100'>
      <div class='pull-left m-l-sm'>
        <i ng-class='reservations.ReservationStatus.getIcon(reservation)'
           class='mdi i-20'
           ng-click='reservations.ReservationStatus.setPresent(reservations.current_company.id, reservation, !reservation.is_present)'></i>
      </div>
    </div>
  </div>
  <div class='col-md-2'>
    <i class='mdi mdi-clock'></i>
    {{ reservations.ReservationStatus.parsedDate(reservation_part.date_time) }}
  </div>
  <div class='col-md-2'>
    <a ng-click='user.openCustomerMenu(reservation.customer.id, reservation_part.id)' ng-controller='UserMenuCtrl as user'>
      {{reservation.customer.last_name}} {{reservation.customer.first_name}}
    </a>
  </div>
  <div class='col-md-2'>
    <i class='mdi mdi-account-multiple'></i>
    <small class='font-thin m-r-xs'>{{ reservation_part.number_of_persons }}x</small>
  </div>
  <div class='col-md-1'>
    <img class='table_icon' src='public/images/table.svg' ng-show="reservation_part.table_ids.length" />
    <small class='font-thin' ng-bind='reservations.getTableNumbersByTableIds(reservation_part.table_ids).join(", ")'></small>
  </div>
  <div class='col-md-2 description' title="{{ reservation.notes }}">
    {{ reservation.notes || '&nbsp;' }}
  </div>
  <div class='col-md-1'>
    <div class='pull-right'>
      <button md-ink-ripple
              class='md-btn md-fab m-t-xs m-b-xs m-r-n-sm no-shadow'
              ng-disabled='disabled'
              aria-haspopup='true'
              aria-expanded='false'
              aria-disabled='false'
              ng-click='user.openCustomerMenu(reservation.customer.id, reservation_part.id)' ng-controller='UserMenuCtrl as user'>
        <i class='mdi mdi-dots-vertical i-24'></i>
      </button>
    </div>
  </div>

</div>

<div data-ng-include=" 'user_menu.view.html' " ng-controller='UserMenuCtrl as user'></div>