<div class='col-lg-6 col-md-6 col-sm-6'>
  <div class='panel'>
    <div class='panel-heading'>Actie vereist</div>
    <div class='md-list'>
      <div class='wrapper' layout='row' layout-align='space-around' ng-hide='reservations.action_required.length > 0'>
        <md-progress-circular md-mode="indeterminate" md-diameter='22'></md-progress-circular>
      </div>

      <div ng-repeat='reservation in reservations.filtered(reservations.action_required)'>
        <div class='reservation_action_required md-list-item'
             data-ng-include=" 'dashboard_reservations.item.view.html' "
             ng-repeat='reservation_part in reservation.reservation_parts'></div>
      </div>
    </div>
    <div class='panel-footer' ng-show='reservations.action_required.length > 0'>
      <button md-ink-ripple class='md-btn md-flat btn-fw text-success m-l-xxl'>
        <i class='mdi mdi-checkbox-marked-circle'></i>
        Bevestig
      </button>
      <button md-ink-ripple class='md-btn md-flat btn-fw m-l-sm text-success'>
        <i class='mdi mdi-reply'></i>
        Antwoord
      </button>
    </div>
  </div>

  <div class='panel'>
    <div class='panel-heading'>Groepen deze week</div>
    <div class='md-list'>
      <div class='wrapper' layout='row' layout-align='space-around' ng-hide='reservations.group_this_week.length > 0'>
        <md-progress-circular md-mode="indeterminate" md-diameter='22'></md-progress-circular>
      </div>

      <div ng-repeat='reservation in reservations.filtered(reservations.group_this_week)'>
        <div class='reservation_group_this_week md-list-item'
             data-ng-include=" 'dashboard_reservations.item.view.html' "
             ng-repeat='reservation_part in reservation.reservation_parts'></div>
      </div>
    </div>
  </div>

  <button ng-click='dash.openReservation();' md-ink-ripple class='panel-add-button md-btn md-fab m-b orange'>
    <i class='mdi mdi-plus i-24'></i>
  </button>

  <div class='panel'>
    <div class='panel-heading'>Vandaag</div>
    <div class='md-list'>
      <div class='wrapper' layout='row' layout-align='space-around' ng-hide='reservations.today.length > 0'>
        <md-progress-circular md-mode="indeterminate" md-diameter='22'></md-progress-circular>
      </div>
      <div ng-repeat='reservation in reservations.filtered(reservations.today)'>
        <div class='reservation_today md-list-item'
             data-ng-include=" 'dashboard_reservations.item.view.html' "
             ng-repeat='reservation_part in reservation.reservation_parts'></div>
      </div>
    </div>
  </div>
</div>