<div ng-class='reservation.status'>
  <div class='md-list-item-left img-circle m-t-sm grey-100'>
    <div class='pull-left m-l-sm'>
      <i ng-class='reservations.ReservationStatus.status_classes[reservation.status]'
         class='mdi i-20'
         ng-click='reservations.ReservationStatus.changeTodayIconClass(reservations.current_company.id, reservation, reservation_part)'></i>
    </div>
  </div>
  <div class='pull-right'>
    <md-menu>
      <button md-ink-ripple
            class='md-btn md-fab m-t-xs m-b-xs no-shadow'
            ng-disabled='disabled'
            aria-haspopup='true'
            aria-expanded='false'
            aria-disabled='false'
            ng-click='$mdMenu.open($event);'>
        <i class='mdi mdi-dots-vertical i-24'></i>
      </button>
      <md-menu-content width="4" class="reservation_menu">
        <md-menu-item ng-repeat="menu in reservations.ReservationStatus.right_menu[reservation.status]">
          <md-button ng-click='reservations.changeStatus(reservation, menu.status);' ng-disabled="menu.disabled">
            <i class='mdi i-24 mdi-with-button-padding' ng-class="menu.class"></i>
            <span class="menu_name">{{ menu.name }}</span>
          </md-button>
        </md-menu-item>
        <md-menu-item ng-show='reservations.showAnswerButton();'>
          <md-button ng-click='reservations.answer(reservation);'>
            <i class='mdi i-24 mdi-reply' />
            <span class="menu_name">Antwoord</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
  <div class='md-list-item-content'>
    <a ng-click='user.openCustomerMenu(reservation.customer.id, reservation_part.id)' ng-controller='UserMenuCtrl as user'>
      <h3 class='text-md'>{{reservation.customer.last_name}} {{reservation.customer.first_name}}</h3>
    </a>
    <div>
      <i class='mdi mdi-account-multiple'></i>
      <small class='font-thin m-r-xs'>{{ reservation_part.number_of_persons }}x</small>
      <i class='mdi mdi-clock'></i>
      <small class='font-thin m-r-xs' ng-bind='reservations.ReservationStatus.parsedDate(reservation_part.date_time)'></small>
      <span ng-show='reservations.getTableNumbersByTableIds(reservation_part.table_ids).length'>
        <img class='table_icon' src='public/images/table.svg' />
        <small class='font-thin' ng-bind='reservations.getTableNumbersByTableIds(reservation_part.table_ids).join(", ")'></small>
      </span>
    </div>
    <small class='font-thin'>
      {{ (reservation.notes || '&nbsp;') | limitTo: 50 }}{{ reservation.notes.length > 50 ? '...' : '' }}
    </small>
  </div>
</div>