<div class='md-avatar'>
  <div ng-if='!hideIcon'
       ng-class='reservations.ReservationStatus.getIconColor(reservation)'
       class='md-list-item-left img-circle'>
    <div class='pull-left m-l-sm'>
      <i ng-class='reservations.ReservationStatus.getIcon(reservation)'
         class='mdi i-20'
         ng-click='reservations.ReservationStatus.setPresent(reservations.current_company_id, reservation, !reservation.is_present)'></i>
    </div>
  </div>
  <div ng-if='hideIcon' class='md-list-item-left'>
  </div>
</div>
<div class='md-list-item-text'>
  <div class='pull-right'
       data-ng-include=" 'reservation_status_menu.view.html' "
       ng-init='controller = reservations'></div>
  <div class='md-list-item-content'
       ng-click='user.openCustomerMenu(reservation.customer.id, reservation_part.id)'
       ng-controller='UserMenuCtrl as user'>
    <h3 class='text-md'>{{reservation.customer.last_name}} {{reservation.customer.first_name}}</h3>
    <div>
      <i class='mdi mdi-account-multiple'></i>
      <small class='font-thin m-r-xs'>{{ reservation_part.number_of_persons }}x</small>
      <i class='mdi mdi-clock'></i>
      <small class='font-thin m-r-xs'>{{ reservations.moment(reservation_part.date_time).format('DD.MM.YYYY HH:mm') }}</small>
      <span class='m-r-xs'
            ng-show='reservations.Table.getTableNumbersByTableIds(reservations.tables, reservation_part.table_ids).length'>
        <img class='table_icon' src='public/images/table.svg' />
        <small class='font-thin'>{{ reservations.Table.getTableNumbersByTableIds(reservations.tables, reservation_part.table_ids).join(", ") }}</small>
      </span>
      <i class='mdi mdi-silverware-variant'></i>
      <small class='font-thin m-r-xs'>{{ reservation_part.product.name }}</small>
    </div>
    <small class='font-thin' ng-if='reservation.notes'>
      {{ reservation.notes | limitTo: 50 }}{{ reservation.notes.length > 50 ? '...' : '' }}
    </small>
  </div>
</div>