<div class="print-block">
    <div class="totals">
        <div>Total number of guest: {{reservations.totalNumberOfPersons}},</div>
        <div>total number of resevations: {{reservations.totalNumberOfReservations}}</div>
    </div>
    <table border="1" cellpadding="0" cellspacing="0" width="100%" class="print-reservation">
        <thead>
        <th width="15%">Aanwezig</th>
        <th>Tafels</th>
        <th>Tijd</th>
        <th>Pers.</th>
        <th>Naam</th>
        <th>Product</th>
        <th width="15%">Opmerkingen</th>
        <th width="10%">Phone</th>
        </thead>
        <tbody ng-repeat='reservation in reservations.reservations' ng-show='reservations.reservations.length'>
            <tr ng-repeat='reservation_part in reservation.reservation_parts'>
            <td align="center">
                <input type="checkbox" />
            </td>
            <td>
                <div>
                    <small class='font-thin' ng-bind='reservations.getTableNumbersByTableIds(reservation_part.table_ids).join(", ")'></small>
                </div>
            </td>
            <td ng-bind='reservations.ReservationStatus.parsedDate(reservation_part.date_time)'></td>
            <td>
                {{ reservation_part.number_of_persons }}
            </td>
            <td><div>{{ reservation.customer.last_name }} {{ reservation.customer.first_name }}</div></td>
            <td>
                {{ reservation_part.product.name }}
            </td>
            <td><div>{{ reservation.notes }}</div></td>
            <td>{{ reservation.customer.primary_phone_number }}</td>
            </tr>
        </tbody>
    </table>
</div>