<div class='wrapper' layout='column' layout-align='space-around center'>
  <div class='text-center m-t-xxl'>
    <img src='public/images/addfriend.png'
         srcset='public/images/addfriend@2x.png 2x'
         title='add_friend' />
  </div>

  <h2 class='text-center'>Gratis een maand The Next Table?<br> nodig een vriend uit</h2>
  <div class='w-xl'>
    <form name='add_invite'
          ng-submit='ctrl.submitForm(add_invite.$valid)'>
      <md-input-container class='md-block'>
        <label>Voor- en achternaam</label>
        <input type='string'
               ng-model='ctrl.form_data.full_name'
               required />
      </md-input-container>
      <md-input-container class='md-block'>
        <label>E-mail</label>
        <input type='email'
               ng-model='ctrl.form_data.email'
               required/>
      </md-input-container>
      <button class='btn btn-lg btn-success btn-block rounded-md m-t-md m-b-md'
              ng-class="{ 'disabled': !add_invite.$valid || ctrl.is_submitting }"
              type='submit'
              md-no-ink>Uitnodigen</button>
    </form>
  </div>
</div>