<section>
  <md-toolbar>
    <div class='md-toolbar-tools'>
      <h2 md-truncate flex translate='authorization'></h2>
      <md-button class='md-icon-button'
                 ng-click='ctrl.$modalInstance.close()'
                 md-no-ink>
        <i class='mdi mdi-close m-r-sm i-24'></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-content>
    <div class='wrapper md-content-submit'
         layout='column'
         layout-align='space-around center'>
      <div class='w-xl'>
        <form name='lightspeed_auth_form'
          ng-submit='ctrl.submitForm(lightspeed_auth_form.$valid);'>
          <md-input-container class='md-block'>
            <label translate='username'></label>
            <input ng-model='ctrl.form_data.username' required />
          </md-input-container>
          <md-input-container class='md-block'>
            <label translate='password'></label>
            <input ng-model='ctrl.form_data.password' required />
          </md-input-container>
          <button type='submit'
            ng-class="{ 'disabled': !lightspeed_auth_form.$valid || ctrl.is_submitting }"
            class='btn btn-lg btn-success text-success w-full no-top-radius md-content-button'
            translate='save'>
          </button>
        </form>
      </div>
    </div>
  </md-content>
</section>