<form name='NewWalkInReservationForm'
  ng-submit='ctrl.submitForm(NewWalkInReservationForm)'
  ng-if='!ctrl.isSuccess'>
  <div class='md-content-submit reservation_person b-t walk-in-wrapper' flex>
    <div class='md-list-item'>
      <div class='md-list-item-content text-center'>
        <h4 translate='reservation.walkin_title'></h4>
      </div>
    </div>
    <div class='wrapper' layout='column' layout-align='space-around center'>
      <div class='w-xl'>
        <md-input-container class='md-block'>
          <label translate='number_of_guests'></label>
          <md-icon class="mdi mdi-account-multiple i-24 m-t-n-xs"></md-icon>
          <input type="number" ng-model='ctrl.current_part.number_of_persons' required />
        </md-input-container>
        <md-input-container class='md-block'>
          <label translate='table'></label>
          <md-icon class="mdi mdi-border-horizontal i-24 m-t-n-xs"></md-icon>
          <md-select multiple ng-model='ctrl.current_part.tables'>
            <md-optgroup ng-repeat='zone in ctrl.zones' label='{{ zone.name }}'>
              <md-option ng-value='table.id' ng-repeat='table in zone.tables'
                         ng-disabled='ctrl.isDisabledTableByTableId(table.id)'>
                <translate>table</translate> {{ table.table_number }} - {{ table.number_of_persons }} <translate>persons</translate>
              </md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
      </div>
      <div class='w-xl m-t-md' ng-show='ctrl.additional_is_opened'>
        <name-new-reservation
          class='no-margin'
          ng-if='ctrl.showAutocompleteCustomerName()'
          current-company-id='ctrl.current_company_id'
          reservation='ctrl.reservation'></name-new-reservation>

        <div ng-if='!ctrl.showAutocompleteCustomerName()'>
          <md-input-container class='md-block'>
            <label translate='last_name'></label>
            <input ng-model='ctrl.reservation.last_name' />
          </md-input-container>
          <md-input-container class='md-block'>
            <label translate='first_name'></label>
            <input ng-model='ctrl.reservation.first_name' />
          </md-input-container>
        </div>

        <md-input-container class='md-block'>
          <label translate='email'></label>
          <input type='email' ng-model='ctrl.reservation.mail' ng-required='false' />
        </md-input-container>

        <md-input-container class='md-block'>
          <label translate='country'></label>
          <md-select ng-model='ctrl.reservation.country'>
            <md-option
              ng-value='code'
              ng-repeat='(code, name) in ctrl.AppConstants.countries'
              ng-selected='code === "NL"'>
              {{ name }}
            </md-option>
          </md-select>
          <div class='md-errors-spacer'></div>
        </md-input-container>

        <md-input-container class='md-block'>
          <label translate='phone'></label>
          <input
            name='primary_phone_number'
            ng-model='ctrl.reservation.primary_phone_number'
            country='{{ ctrl.reservation.country }}'
            phone-valid
            ng-required='false' />
          <span
            ng-show='NewWalkInReservationForm.primary_phone_number.$error.phoneValid'
            translate='notifications.not_valid'></span>
        </md-input-container>
        <md-input-container class='md-block'>
          <label translate='note'></label>
          <input ng-model='ctrl.reservation.notes' />
        </md-input-container>
        <div class='md-form-group no-padder'>
          <md-radio-group ng-model="ctrl.reservation.language">
            <md-radio-button value='NL' class='inline md-success'>
              {{ 'language.netherlands' | translate }}
            </md-radio-button>
            <md-radio-button value='EN' class='inline md-success'>
              {{ 'language.english' | translate }}
            </md-radio-button>
          </md-radio-group>
        </div>
        <div class='md-form-group no-padder' ng-if='!ctrl.is_customer_reservation'>
        <md-checkbox ng-model='ctrl.reservation.send_confirmation'
                     ng-checked='true'
                     aria-label='Bevestiging mailen'>
          {{ 'mail_confirmation' | translate }}
        </md-checkbox>
      </div>
      </div>
    </div>
    <button type='button'
            md-ink-ripple
            ng-click='ctrl.triggerAdditionalInfo()'
            class='md-btn w-full md-flat btn-fw no-radius text-success'>
        <span ng-hide='ctrl.additional_is_opened'>
          <i class='mdi mdi-plus-circle-outline'></i>
          <translate class='uppercase'>reservation.more_fields</translate>
        </span>
        <span ng-show='ctrl.additional_is_opened'>
          <i class='mdi mdi-minus-circle-outline'></i>
          <translate class='uppercase'>reservation.less_fields</translate>
        </span>
    </button>
    <div class='wrapper red-300 layout-align-space-around-center layout-column' ng-show='ctrl.errors.length'>
      <div class='w-xl'>
        <div ng-repeat='error in ctrl.errors'>
          {{ error }}
        </div>
      </div>
    </div>
    <button type='submit'
            class='btn btn-lg btn-success text-success w-full no-top-radius md-content-button'
            ng-class="{ 'disabled': ctrl.is_submitting }"
            ng-show='!ctrl.isSuccess'>
      <translate>reservation.reserve</translate>
    </button>
  </div>
</form>

<success-new-reservation
  ng-if='ctrl.isSuccess'
  reservation='ctrl.response'></success-new-reservation>