<app-header class='header navbar'></app-header>
<div class='content clearfix' ui-view></div>
<user-menu></user-menu>
<mobile-menu></mobile-menu>

<div ng-show='app.$rootScope.show_spinner' id='loading-bar-spinner'>
  <div class='spinner-icon'></div>
</div>

<growl-notifications ng-if='app.Notification.getText()'></growl-notifications>
<growl-notification ng-if='app.Notification.getText()'
                    on-close="app.Notification.setText('')">
  Error: {{ app.Notification.getText() }}
</growl-notification>
<trial></trial>