<md-tab>
  <md-tab-label>
    <div class='text-center l-h' translate='preferences'></div>
  </md-tab-label>
  <md-tab-body>
    <div class='md-content-submit'>
      <div class='wrapper' layout='column' layout-align='space-around center'>
        <div class='w-xl'>

          <label ng-repeat='preference in ctrl.customerPreferences'
            class='btn btn-default block m-b-xs no-shadow text-success text-left'
            ng-model='ctrl.item'
            uib-uncheckable
            uib-btn-radio='preference'>
            <span>{{ preference.owner }}: {{ preference.name }} {{ preference.value }}</span>
            <span class='pull-right' ng-click='ctrl.delete($index)'>
              <i class='mdi mdi-close i-21'></i>
            </span>
          </label>

          <form name='user_preferences_form'>
            <md-input-container class='md-block'>
              <label translate='guest_name'></label>
              <input required ng-model='ctrl.item.owner' />
            </md-input-container>
            <md-input-container class='md-block'>
              <label translate='name'></label>
              <input required ng-model='ctrl.item.name' />
            </md-input-container>
            <md-autocomplete
              md-search-text='ctrl.item.value'
              md-items='item in ctrl.searchPreference(ctrl.item.value, ctrl.preferences)'
              md-item-text='item'
              md-min-length='0'
              md-menu-container-class='input-suggestion'
              md-floating-label='{{ "value" | translate }}'
              required>
              <md-item-template>
                <span>{{ item }}</span>
              </md-item-template>
            </md-autocomplete>

            <input type='hidden' ng-model='ctrl.item.id' />
          </form>
        </div>
      </div>
      <button type='submit'
              ng-class="{ 'disabled': !user_preferences_form.$valid || ctrl.preferences_is_submitting }"
              ng-click='ctrl.submitForm(user_preferences_form)'
              class='btn btn-lg btn-success text-success w-full no-top-radius md-content-button'>
        <translate>save</translate>
      </button>
    </div>
  </md-tab-body>
</md-tab>
