<div class='dashboard-reservation panel'>
  <div class='panel-heading' translate='reservations'></div>
  <div class='panel-body relative'>
      <div class='col-xs-6 m-t-sm m-b-md'>
        <div class='fix-chart grey-300'></div>
      </div>
      <div class='col-xs-6 m-t-sm m-b-md'>
        <div class='fix-chart grey-300'></div>
      </div>
      <div class='col-xs-6 m-t-sm m-b-md'>
        <div class='fix-chart grey-300'></div>
      </div>
      <div class='col-xs-6 m-t-sm m-b-md'>
        <div class='fix-chart grey-300'></div>
      </div>
  </div>
</div>

<div class='panel'>
  <div class='panel-heading' translate='dashboard.regular_guests'></div>
  <div class='panel-body no-padder'>
    <table class='table m-b-none'>
      <thead>
        <tr>
            <th width='40%' translate='name'></th>
            <th>TheNextReview</th>
            <th translate='number_of_visits'></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
        </tr>
        <tr>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
        </tr>
        <tr>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class='panel'>
  <div class='panel-heading' translate='dashboard.special_requests'></div>
  <div class='panel-body no-padder'>
    <table class='table m-b-none'>
      <thead>
        <tr>
          <th width='60%' translate='name'></th>
          <th translate='dashboard.particularities'></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
        </tr>
        <tr>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
        </tr>
        <tr>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>