<div class='settings-warnings-content'>
  <div class='panel'>
    <div class='panel-heading' translate='settings.warnings.title'></div>
    <div class='md-list' ng-show='warnings_settings.is_loaded'>
      <div class='md-list-item no-padder'>
        <table class='table'>
          <thead>
            <th translate='title'></th>
            <th translate='text'></th>
            <th translate='language'></th>
            <th></th>
          </thead>
          <tbody>
            <tr ng-repeat='warning in warnings_settings.warnings'>
              <td class='v-middle' ng-bind='warning.title'></td>
              <td class='v-middle' ng-bind='warning.text'></td>
              <td class='v-middle' ng-bind='warning.lang'></td>
              <td class='v-middle text-right'>
                <md-menu>
                  <button md-ink-ripple
                        class='md-btn md-fab no-shadow'
                        ng-disabled='disabled'
                        aria-haspopup='true'
                        aria-expanded='false'
                        aria-disabled='false'
                        ng-click='$mdMenu.open($event)'>
                    <i class='mdi mdi-dots-vertical i-24'></i>
                  </button>
                  <md-menu-content>
                    <md-menu-item>
                      <md-button ng-click='warnings_settings.editWarning(warning.id)'>
                        {{ 'settings.warnings.edit' | translate }}
                      </md-button>
                    </md-menu-item>
                  </md-menu-content>
                </md-menu>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>