<div class='analytics-content clearfix' ng-if='ctrl.analyticsLoaded'>
  <div class='raw'>
    <div class='col-xs-12 col-sm-6'>
      <div class='panel'>
        <div class='panel-heading' translate='analytics.average_guests_per_day'></div>
        <div class='panel-body'>
          <div class='clearfix m-b-sm'>
            <div class='select-wrapper pull-left'>
              <button class='mdi md-icon-button md-button mdi-filter-variant no-margin i-24 pull-left'
                      md-ink-ripple></button>
              <md-select class='pull-left'
                         ng-change='ctrl.updateAverageGuestsPerDayProduct()'
                         ng-model='ctrl.average_guests_per_day_product'>
                <md-option ng-value='null' translate='none'></md-option>
                <md-option ng-value='item'
                           ng-repeat='item in ctrl.products'>
                  {{ item.name }}
                </md-option>
              </md-select>
            </div>
            <p class='pull-left m-b-none m-t-sm'
               ng-if='ctrl.average_guests_per_day_product'>
              {{ ctrl.average_guests_per_day_product.name }}
            </p>
            <button class='md-button md-mini md-icon-button no-margin pull-right'
              ng-class='{ "md-fab md-primary": ctrl.average_guests_per_day_type == "year" }'
              ng-click='ctrl.updateAverageGuestsPerDayType("year")'
              md-ink-ripple>
              Y
            </button>
            <button class='md-button md-mini md-icon-button no-margin pull-right'
              ng-class='{ "md-fab md-primary": ctrl.average_guests_per_day_type == "month" }'
              ng-click='ctrl.updateAverageGuestsPerDayType("month")'
              md-ink-ripple>
              M
            </button>
            <button class='md-button md-mini md-icon-button no-margin pull-right'
              ng-class='{ "md-fab md-primary": ctrl.average_guests_per_day_type == "week" }'
              ng-click='ctrl.updateAverageGuestsPerDayType("week")'
              md-ink-ripple>
              W
            </button>
          </div>
          <canvas id='average_guests_per_day'
            class='chart chart-line' 
            chart-data='ctrl.analyticsData.getAverageGuestsPerDay.data'
            chart-labels='ctrl.analyticsData.getAverageGuestsPerDay.labels'
            chart-series='ctrl.analyticsData.getAverageGuestsPerDay.series'>
          </canvas>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-6'>
      <div class='panel'>
        <div class='panel-heading' translate='analytics.total_amount_of_guests'></div>
        <div class='panel-body'>
          <div class='clearfix m-b-sm'>
            <div class='select-wrapper pull-left'>
              <button class='mdi md-icon-button md-button mdi-filter-variant no-margin i-24 pull-left'
                      md-ink-ripple></button>
              <md-select class='pull-left'
                         ng-change='ctrl.updateTotalAmountOfGuestsProduct()'
                         ng-model='ctrl.total_amount_of_guests_product'>
                <md-option ng-value='null' translate='none'></md-option>
                <md-option ng-value='item'
                           ng-repeat='item in ctrl.products'>
                  {{ item.name }}
                </md-option>
              </md-select>
            </div>
            <p class='pull-left m-b-none m-t-sm'
               ng-if='ctrl.total_amount_of_guests_product'>
              {{ ctrl.total_amount_of_guests_product.name }}
            </p>
          </div>
          <canvas id='total_guests_per_day'
            class='chart-bar'
            chart-data='ctrl.analyticsData.getTotalAmountOfGuests.data'
            chart-labels='ctrl.analyticsData.getTotalAmountOfGuests.labels'
            chart-series='ctrl.analyticsData.getTotalAmountOfGuests.series'
            chart-dataset-override='ctrl.totalAmountOfGuestsDatasetOverride'>
          </canvas> 
        </div>
      </div>
    </div>
  </div>
  <div class='raw'>
    <div class='col-xs-12 col-sm-6'>
      <div class='panel'>
        <div class='panel-heading' translate='analytics.reservations_per_hour'></div>
        <div class='panel-body'>
          <canvas id='reservations_per_date_time'
            class='chart chart-bar'
            chart-data='ctrl.analyticsData.getReservationsPerDateTime.data'
            chart-labels='ctrl.analyticsData.getReservationsPerDateTime.labels'
            chart-series='ctrl.analyticsData.getReservationsPerDateTime.series'
            chart-colors='ctrl.barColors'>
          </canvas>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-6'>
      <div class='panel'>
        <div class='panel-heading' translate='analytics.age_of_guests'></div>
        <div class='panel-body'>
          <canvas id='reservations_per_age'
            class='chart chart-bar'
            chart-data='ctrl.analyticsData.getReservationsPerAge.data'
            chart-labels='ctrl.analyticsData.getReservationsPerAge.labels'
            chart-series='ctrl.analyticsData.getReservationsPerAge.series'
            chart-colors='ctrl.barColors'>
          </canvas>
        </div>
      </div>
    </div>
  </div>

  <div class='raw clearfix'>
    <div class='col-xs-12 col-sm-4'
      ng-if='ctrl.analyticsData.getAveragePaymentPerMonth.data[0].length'>
      <div class='panel'>
        <div class='panel-heading' translate='analytics.average_payment_per_month'></div>
        <div class='panel-body'>
          <canvas id='average_per_month'
            class='chart chart-bar'
            chart-data='ctrl.analyticsData.getAveragePaymentPerMonth.data'
            chart-labels='ctrl.analyticsData.getAveragePaymentPerMonth.labels'
            chart-series='ctrl.analyticsData.getAveragePaymentPerMonth.series'
            chart-colors='ctrl.barColors'>
          </canvas>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-4'
      ng-if='ctrl.analyticsData.getAverageSeatingPerMonth.data[0].length'>
      <div class='panel'>
        <div class='panel-heading' translate='analytics.average_seating_per_month'></div>
        <div class='panel-body'>
          <canvas id='seating_per_month'
            class='chart chart-bar'
            chart-data='ctrl.analyticsData.getAverageSeatingPerMonth.data'
            chart-labels='ctrl.analyticsData.getAverageSeatingPerMonth.labels'
            chart-series='ctrl.analyticsData.getAverageSeatingPerMonth.series'
            chart-colors='ctrl.barColors'>
          </canvas>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-4'
      ng-if='ctrl.analyticsData.getTopProductsInIntegratoins.data.length'>
      <div class='panel'>
        <div class='panel-heading' translate='analytics.product_integrations'></div>
        <div class='panel-body'>
          <div class='pie-chart col-xs-6 m-t-sm'
               ng-repeat='value in ctrl.analyticsData.getTopProductsInIntegratoins.data track by $index'>
            <div class='pie-chart-graph'>
              <div ui-jq='easyPieChart'
                ui-options='{
                  percent: ctrl.Charts.getPercent(ctrl.analyticsData.getTopProductsInIntegratoins.total, value),
                  lineWidth: 2,
                  trackColor: "#787878",
                  barColor: "#f6f6f6",
                  scaleColor: false,
                  size: 84,
                  rotate: 90,
                  lineCap: "butt"
                }'>
                <div>
                  <span>{{ value }}</span>
                </div>
              </div>
            </div>
            <div class='pie-chart-title m-t-sm m-b-sm'>
              {{ ctrl.analyticsData.getTopProductsInIntegratoins.labels[$index] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class='raw'>
    <div class='col-xs-12 col-sm-4'>
      <div class='panel'>
        <div class='panel-heading' translate='analytics.booking_channels'></div>
        <div class='panel-body'>
          <div class='pie-chart col-xs-6 m-t-sm'
               ng-repeat='value in ctrl.analyticsData.getBookingChannels.data track by $index'>
            <div class='pie-chart-graph'>
              <div ui-jq='easyPieChart'
                ui-options='{
                  percent: ctrl.Charts.getPercent(ctrl.analyticsData.getBookingChannels.total, value),
                  lineWidth: 2,
                  trackColor: "#787878",
                  barColor: "#f6f6f6",
                  scaleColor: false,
                  size: 84,
                  rotate: 90,
                  lineCap: "butt"
                 }'>
                <div>
                  <span>{{ value }}</span>
                </div>
              </div>
            </div>
            <div class='pie-chart-title m-t-sm m-b-sm'>
              {{ ctrl.analyticsData.getBookingChannels.labels[$index] }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-4'>
      <div class='panel'>
        <div class='panel-heading' translate='analytics.product_distribution'></div>
        <div class='panel-body'>
          <div class='pie-chart col-xs-6 m-t-sm'
               ng-repeat='value in ctrl.analyticsData.getProductDistribution.data track by $index'>
            <div class='pie-chart-graph'>
              <div ui-jq='easyPieChart'
                ui-options='{
                  percent: ctrl.Charts.getPercent(ctrl.analyticsData.getProductDistribution.total, value),
                  lineWidth: 2,
                  trackColor: "#787878",
                  barColor: "#f6f6f6",
                  scaleColor: false,
                  size: 84,
                  rotate: 90,
                  lineCap: "butt"
                 }'>
                <div>
                  <span>{{ value }}</span>
                </div>
              </div>
            </div>
            <div class='pie-chart-title m-t-sm m-b-sm'>
              {{ ctrl.analyticsData.getProductDistribution.labels[$index] }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-4'>
      <div class='panel'>
        <div class='panel-heading' translate='gender'></div>
        <div class='panel-body'>
          <div class='pie-chart col-xs-6 m-t-sm'
               ng-repeat='value in ctrl.analyticsData.getGender.data track by $index'>
            <div class='pie-chart-graph'>
              <div ui-jq='easyPieChart'
                ui-options='{
                  percent: ctrl.Charts.getPercent(ctrl.analyticsData.getGender.total, value),
                  lineWidth: 2,
                  trackColor: "#787878",
                  barColor: "#f6f6f6",
                  scaleColor: false,
                  size: 84,
                  rotate: 90,
                  lineCap: "butt"
                 }'>
                <div>
                  <span>{{ value }}</span>
                </div>
              </div>
            </div>
            <div class='pie-chart-title m-t-sm m-b-sm'>
              {{ ctrl.analyticsData.getGender.labels[$index] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<fix-analytics ng-if='!ctrl.analyticsLoaded'></fix-analytics>
