<md-sidenav class='md-sidenav-right md-whiteframe-z2 pos-fix customer-sidenav'
            md-component-id='right'
            md-disable-backdrop
            ng-swipe-left='user.closeCustomerMenu()'>
  <md-content>
    <div class='wrapper'>
      <div class='clear'>
        <button md-ink-ripple class='md-btn md-flat btn-fw' ng-click='user.closeCustomerMenu()'>
          <i class='mdi mdi-close i-30' ></i>
        </button>
        <button md-ink-ripple
                class='pull-right md-btn md-flat btn-fw'
                ng-click='user.openEditModal()'>
          <i class='mdi mdi-pencil i-26'></i>
        </button>
        <button md-ink-ripple
                class='pull-right md-btn md-flat btn-fw'
                ng-class="user.UserMenu.customer.regular ? 'star_active' : ''"
                ng-click='user.toggleStar(user.UserMenu.customer)'>
          <i class='mdi mdi-star i-26'></i>
        </button>
      </div>
      <h1 class='i-30'>
        <img ng-src='{{ user.Customer.socialImageUrl(user.UserMenu.customer) }}'
             ng-if='user.Customer.socialImageUrl(user.UserMenu.customer)'
             class='customer_avatar m-r-md' />
        <i ng-if='!user.Customer.socialImageUrl(user.UserMenu.customer)'
           class='customer_avatar customer_empty_avatar m-r-xs mdi mdi-account i-24'></i>
        <span class='user_name'
              ng-if='user.UserMenu.customer.last_name || user.UserMenu.customer.first_name'>
          {{ user.UserMenu.customer.last_name }}
          {{ user.UserMenu.customer.first_name }}
        </span>
        <span class='user_name'
              translate='unknown'
              ng-if='!user.UserMenu.customer.last_name && !user.UserMenu.customer.first_name'>
        </span>
      </h1>
    </div>

    <ul class='nav'>
      <li class='hidden-folded padder m-t m-b-sm text-muted text-xs'>
        <span translate='reserv'></span>
      </li>
      <div class='inset' ng-if='user.UserMenu.current_part'>
        <div class='md-list-item-left'>
          <i class='mdi mdi-attachment icon-muted i-24'></i>
        </div>
        <div class='md-list-item-content'>
          <h3 class="text-md">
            {{ user.parsedDate(user.UserMenu.current_part.date_time) }}
          </h3>
          <small class="font-thin">
            <span ng-if='user.UserMenu.current_part.product.name'>
              {{ user.UserMenu.current_part.product.name }},
            </span>
            {{ user.UserMenu.current_part.number_of_persons }} <translate class='lowercase' translate='persons'></translate>
          </small>
        </div>
      </div>

      <div class="inset" ng-if='user.UserMenu.customer.primary_phone_number'>
        <div class="md-list-item-left">
          <i class="mdi mdi-phone icon-muted i-24"></i>
        </div>
        <div class="md-list-item-content">
          <h3 class="text-md">
            {{ user.UserMenu.customer.primary_phone_number }}
          </h3>
          <small class="font-thin" translate='phone'></small>

        </div>
      </div>

      <div class="inset" ng-if='user.UserMenu.customer.mail'>
        <div class="md-list-item-left">
          <i class="mdi mdi-email icon-muted i-24"></i>
        </div>
        <div class="md-list-item-content">
          <h3 class="text-md">
            {{ user.UserMenu.customer.mail }}
          </h3>
          <small class="font-thin" translate='email'></small>

        </div>
      </div>

      <div class="inset" ng-if='user.UserMenu.current_reservation.notes'>
        <div class="md-list-item-left">
          <i class="mdi mdi-comment-text icon-muted i-24"></i>
        </div>
        <div class="md-list-item-content">
          <h3 class="text-md">
            {{ user.UserMenu.current_reservation.notes }}
          </h3>
          <small class="font-thin" translate='notes'></small>
        </div>
      </div>

      <div class="inset" ng-repeat='note in user.UserMenu.notes'>
        <div class="md-list-item-left">
          <i class="mdi mdi-information-outline icon-muted i-24"></i>
        </div>
        <div class="md-list-item-content">
          <h3 class="text-md">
            {{ note.note }}
          </h3>
          <small class="font-thin" translate='notes'></small>
        </div>
      </div>

      <div class="inset" ng-repeat='allergy in user.UserMenu.allergies'>
        <div class="md-list-item-left">
          <i class="mdi mdi-information-outline icon-muted i-24"></i>
        </div>
        <div class="md-list-item-content">
          <h3 class="text-md">
            {{ allergy.allergy }}
          </h3>
          <small class="font-thin" translate='allergies'></small>
        </div>
      </div>

      <div class="inset" ng-repeat='preference in user.UserMenu.preferences'>
        <div class="md-list-item-left">
          <i class="mdi mdi-information-outline icon-muted i-24"></i>
        </div>
        <div class="md-list-item-content">
          <h3 class="text-md">
            {{ preference.name }}
            {{ preference.value }}
          </h3>
          <small class="font-thin" translate='preferences'></small>
        </div>
      </div>

      <div class="inset" ng-if='user.UserMenu.customer.average_rating'>
        <div class="md-list-item-left ">
          <i class="mdi mdi-star-outline icon-muted i-24"></i>
        </div>
        <div class="md-list-item-content">
          <h3 class="text-md">{{ user.UserMenu.customer.average_rating }}</h3>
          <small class="font-thin" translate='av_rating'></small>
        </div>
      </div>

      <!-- list -->

      <li ng-if='user.Customer.socialUrl(user.UserMenu.customer)'>
        <ul class="nav nav-sub">
          <li ui-sref-active="active">
            <a href='{{ user.Customer.socialUrl(user.UserMenu.customer) }}'
               target='_blank'
               md-ink-ripple
               class='text-success fb-button'>
              <span translate='view_profile'></span>
            </a>
          </li>
        </ul>
      </li>

      <li class='hidden-folded padder m-t m-b-sm text-muted text-xs'
          ng-show='user.getPartByReservations().length'>
        <span translate='reservation.previous'></span>
      </li>

      <li ng-repeat='reservation in user.UserMenu.reservations'>
        <a md-ink-ripple
           ng-repeat='part in reservation.reservation_parts'
           ng-click='user.openEditReservationModal(reservation, part)'>
          <div class="md-list-item-left">
            <i class="mdi mdi-book icon-muted i-24"></i>
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">
              {{ user.parsedDate(part.date_time) }}
            </h3>
            <small class="font-thin">
              <span ng-if='part.product.name'>{{ part.product.name }},</span>
              {{ part.number_of_persons }} <translate class='lowercase' translate='persons'></translate>
            </small>
            <div class='pull-right review_score' ng-if='reservation.review'>
              <i class='mdi mdi-star-outline icon-muted i-20'></i>
              <small class='font-thin'>{{ reservation.review.score }}</small>
            </div>
          </div>
        </a>

        <a md-ink-ripple
           ng-if='reservation.reservation_pdf'
           ng-click='user.loadPDF(reservation.id)'>
          <div class="md-list-item-left">
            <i class="mdi mdi-attachment icon-muted i-24"></i>
          </div>
          <div class="md-list-item-content">
            <h3 class='text-md'
                translate='reservation.pdf_for'
                translate-values='{ text: user.parsedDate(reservation.reservation_parts[0].date_time) }'>
            </h3>
            <small class='font-thin' translate='reservation.pdf'></small>
          </div>
        </a>

        <a md-ink-ripple
           ng-if='reservation.review'
           href='{{ reservation.review.url }}'
           target='_blank'>
          <div class="md-list-item-left">
            <i class="mdi mdi-star-outline icon-muted i-24"></i>
          </div>
          <div class="md-list-item-content">
            <h3 class="text-md">
              Score TheNextReview:
              <chart-rating tnrrating='reservation.review.score'></chart-rating>
            </h3>
            <small class="font-thin">
              {{ reservation.review.notes }}
            </small>
          </div>
        </a>
      </li>

      <div class='inset'
           ng-if='user.UserMenu.last_reservations.length > 0'
           ng-repeat='ls_reservation in user.UserMenu.last_reservations'>
        <div class='md-list-item-left'>
          <i class='mdi mdi-cash icon-muted i-24'></i>
        </div>
        <div class='md-list-item-content'>
          <h3 class='text-md'>{{ 'receipts.status' | translate }}: {{ ls_reservation.status }}</h3>
          <small class='font-thin'>{{ 'date' | translate }}: {{ user.moment(ls_reservation.paid_on).format('DD.MM.YYYY HH:mm') }}, {{ 'total' | translate }}: {{ ls_reservation.total }}, Amount: {{ ls_reservation.amount || 0 }}</small>
        </div>
      </div>
    </ul>
  </md-content>
</md-sidenav>