<div class='dashboard'>
  <div data-ng-include=" 'dashboard_reservations.view.html' "
       ng-controller='DashboardReservationsCtrl as reservations'></div>
  <div data-ng-include=" 'charts.view.html' "
       ng-controller='ChartsCtrl as charts'></div>

  <div class='col-lg-2 col-md-2 hidden-xs hidden-sm'>
    <div class='dashboard-ad panel'>
      <div class='panel-body'>
        <div>
          <img class='w-full'
               src='/public/images/receipts.png'
               srcset='/public/images/receipts@2x.png 2x'
               title='{{ "dashboard.review" | translate }}' />
        </div>
        <p class='m-t-sm text-center'
           translate='dashboard.review'><p/>
      </div>
      <div class='panel-footer text-center'>
        <a href='https://dashboard.thenextreview.nl/register'
           target='_blank'
           md-ink-ripple
           class='md-btn md-flat btn-fw text-success'
           translate='dashboard.try'></a>
      </div>
    </div>

    <div class='dashboard-invite panel'>
      <div class='panel-body'>
        <div>
          <img class='w-full'
               src='/public/images/addfriend.png'
               srcset='/public/images/addfriend@2x.png 2x'
               title='add_friend' />
        </div>
        <p class='m-t-sm text-center'>Gratis een maand TheNextTable?</p>
      </div>
      <div class='panel-footer text-center'>
        <a href='#'
           ng-click='dash.openInvitePopup()'
           class='md-btn md-flat btn-fw text-success'
           md-ink-ripple>Vriend uitnodigen</a>
      </div>
    </div>

    <div class='dashboard-ad panel'>
      <div class='panel-body'>
        <div>
          <img class='w-full'
               src='/public/images/reviews.png'
               srcset='/public/images/reviews@2x.png 2x'
               title='{{ "dashboard.balance" | translate }}' />
        </div>
        <p class='m-t-sm text-center'
           translate='dashboard.balance'><p/>
      </div>
      <div class='panel-footer text-center'>
        <a href='https://dashboard.kassatellen.nl'
           target='_blank'
           md-ink-ripple
           class='md-btn md-flat btn-fw text-success'
           translate='dashboard.try'></a>
      </div>
    </div>
  </div>
</div>
