<div class='dashboard'>
  <div class='col-lg-6 col-md-6 col-sm-6'>
    <div class='panel'>
      <div class='panel-heading'>Actie vereist</div>
      <div class='md-list'>
        <div class='wrapper' layout='row' layout-align='space-around' ng-hide='dash.action_required.length > 0'>
          <md-progress-circular md-mode="indeterminate" md-diameter='22'></md-progress-circular>
        </div>

        <div ng-repeat='reservation in dash.action_required'>
          <div class='md-list-item' ng-repeat='reservation_part in reservation.reservation_parts'>
            <div class='md-list-item-left img-circle m-t-sm grey-100'>
              <i class='mdi-action-grade i-24'></i>
            </div>
            <div class='pull-right'>
              <button md-ink-ripple
                      class='md-btn md-fab m-t-xs m-b-xs no-shadow'
                      ng-disabled='disabled'
                      aria-haspopup='true'
                      aria-expanded='false'
                      aria-disabled='false'
                      ng-click='dash.openUserMenu()'>
                <i class='mdi mdi-dots-vertical i-24'></i>
              </button>
            </div>
            <div class='md-list-item-content'>
              <h3 class='text-md'>{{reservation.customer.last_name}} {{reservation.customer.first_name}}</h3>
              <div>
                <i class='mdi mdi-account-multiple'></i>
                <small class='font-thin m-r-xs'>{{ reservation_part.person_count }}x</small>
                <i class='mdi mdi-clock'></i>
                <small class='font-thin' ng-bind='dash.parsedDate(reservation_part.datetime)'></small>
              </div>
              <small class='font-thin'>
                {{ reservation.notes | limitTo: 50 }}{{ reservation.notes.length > 50 ? '...' : '' }}
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class='panel-footer' ng-show='dash.action_required.length > 0'>
        <button md-ink-ripple class='md-btn md-flat btn-fw text-success m-l-xxl'>
          <i class='mdi mdi-checkbox-marked-circle'></i>
          Bevestig
        </button>
        <button md-ink-ripple class='md-btn md-flat btn-fw m-l-sm text-success'>
          <i class='mdi mdi-reply'></i>
          Antwoord
        </button>
      </div>
    </div>

    <div class='panel'>
      <div class='panel-heading'>Groepen deze week</div>
      <div class='md-list'>
        <div class='wrapper' layout='row' layout-align='space-around' ng-hide='dash.group_this_week.length > 0'>
          <md-progress-circular md-mode="indeterminate" md-diameter='22'></md-progress-circular>
        </div>

        <div ng-repeat='reservation in dash.group_this_week'>
          <div class='md-list-item' ng-repeat='reservation_part in reservation.reservation_parts'>
            <div class='md-list-item-left img-circle m-t-sm grey-100'>
              <i class='mdi-action-grade i-24'></i>
            </div>
            <div class='pull-right'>
              <button md-ink-ripple
                      class='md-btn md-fab m-t-xs m-b-xs no-shadow'
                      ng-disabled='disabled'
                      aria-haspopup='true'
                      aria-expanded='false'
                      aria-disabled='false'
                      ng-click='dash.openUserMenu()'>
                <i class='mdi mdi-dots-vertical i-24'></i>
              </button>
            </div>
            <div class='md-list-item-content'>
              <h3 class='text-md'>{{reservation.customer.last_name}} {{reservation.customer.first_name}}</h3>
              <div>
                <i class='mdi mdi-account-multiple'></i>
                <small class='font-thin m-r-xs'>{{ reservation_part.person_count }}x</small>
                <i class='mdi mdi-clock'></i>
                <small class='font-thin' ng-bind='dash.parsedDate(reservation_part.datetime)'></small>
              </div>
              <small class='font-thin'>
                {{ reservation.notes | limitTo: 50 }}{{ reservation.notes.length > 50 ? '...' : '' }}
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button ng-click='dash.openReservation()' md-ink-ripple class='panel-add-button md-btn md-fab m-b orange'>
      <i class='mdi mdi-plus i-24'></i>
    </button>

    <script type="text/ng-template" id="reservationContent.html">
      <div ng-include=" 'dashboard.reservation.view.html' "></div>
    </script>

    <div class='panel'>
      <div class='panel-heading'>Vandaag</div>
      <div class='md-list'>
        <div class='wrapper' layout='row' layout-align='space-around' ng-hide='dash.today.length > 0'>
          <md-progress-circular md-mode="indeterminate" md-diameter='22'></md-progress-circular>
        </div>

        <div class='md-list-item clear' ng-repeat='reservation in dash.today'>
          <div ng-repeat='reservation_part in reservation.reservation_parts'>
            <div class='md-list-item-left img-circle m-t-sm grey-100'>
              <i class='mdi-action-grade i-24'></i>
            </div>
            <div class='pull-right'>
              <button md-ink-ripple
                      class='md-btn md-fab m-t-xs m-b-xs no-shadow'
                      ng-disabled='disabled'
                      aria-haspopup='true'
                      aria-expanded='false'
                      aria-disabled='false'
                      ng-click='dash.openUserMenu()'>
                <i class='mdi mdi-dots-vertical i-24'></i>
              </button>
            </div>
            <div class='md-list-item-content'>
              <h3 class='text-md'>{{reservation.customer.last_name}} {{reservation.customer.first_name}}</h3>
              <div>
                <i class='mdi mdi-account-multiple'></i>
                <small class='font-thin m-r-xs'>{{ reservation_part.person_count }}x</small>
                <i class='mdi mdi-clock'></i>
                <small class='font-thin' ng-bind='dash.parsedDate(reservation_part.datetime)'></small>
              </div>
              <small class='font-thin'>
                {{ reservation.notes | limitTo: 50 }}{{ reservation.notes.length > 50 ? '...' : '' }}
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>





  <div class='col-lg-4 col-md-4 col-sm-6'>
    <div class='dashboard-reservation panel'>
      <div class='panel-heading'>
        Reserveringen
      </div>
      <div class='panel-body'>



      </div>
    </div>
  </div>






  <div class='col-lg-2 col-md-2 hidden-xs hidden-sm'>
    <div class='dashboard-ad panel'>
      <div class='panel-body'>
        <div>
          <img src='public/images/receipts.png' srcset='public/images/receipts@2x.png 2x' title='receipts' />
        </div>
        <p>Ook je reviews bijhouden?<p/>
      </div>
      <div class='panel-footer text-center'>
        <button md-ink-ripple class='md-btn md-flat btn-fw text-success'>Probeer gratis</button>
      </div>
    </div>

    <div class='dashboard-ad panel'>
      <div class='panel-body'>
        <div>
          <img src='public/images/reviews.png' srcset='public/images/reviews@2x.png 2x' title='reviews' />
        </div>
        <p>Ook je bonnetjes online bijhouden?<p/>
      </div>
      <div class='panel-footer text-center'>
        <button md-ink-ripple class='md-btn md-flat btn-fw text-success'>Probeer gratis</button>
      </div>
    </div>
  </div>

  <div data-ng-include=" 'user_menu.view.html' " ng-controller='UserMenuCtrl as user'></div>
</div>
