<div class='panel no-margin'>
  <div class='panel-heading no-border blue-grey-900 i-24'>
    <div ng-click='reserv.closeModal()' ng-hide='reserv.success'>
      <i class='mdi mdi-arrow-left m-r-sm'></i>
      Reserveren
    </div>
    <div ng-show='reserv.success'>
      Nieuwe reservering
    </div>
  </div>

  <div ng-hide='reserv.success'>
    <md-tabs class='reservation_tabs'
             flex
             md-selected='data.selectedIndex'
             md-no-pagination
             md-center-tab
             md-stretch-tabs
             md-dynamic-height>
      <md-tab>
        <md-tab-label>
          <div class='text-center l-h'><i class='mdi mdi-calendar'></i></div>
          <div class='text-center l-h'>
            <span ng-show='reserv.reservation.full_date'>{{ reserv.reservation.full_date | date:'d MMMM' }}</span>
            <span ng-hide='reserv.reservation.full_date'>DATUM</span>
          </div>
        </md-tab-label>
        <md-tab-body>
          <div class='b-t' flex>
            <div class='md-list-item'>
              <div class='md-list-item-content text-center'>
                <h4>Kies een datum</h4>
              </div>
            </div>
            <div class='wrapper' layout='column' layout-align='space-around center'>
              <datepicker ng-change='data.selectedIndex=1'
                          datepicker-options='reserv.dateOptions'
                          ng-model='reserv.reservation.full_date'
                          min-date='reserv.initDate'
                          class='datepicker'></datepicker>
            </div>
          </div>
        </md-tab-body>
      </md-tab>

      <md-tab>
        <md-tab-label>
          <div class='text-center l-h'><i class='mdi mdi-account-multiple'></i></div>
          <div class='text-center l-h'>
            <span ng-show='reserv.reservation.person_count'>
              {{ reserv.reservation.person_count }} PERSONEN
            </span>
            <span ng-hide='reserv.reservation.person_count'>AANTAL</span>
          </div>
        </md-tab-label>
        <md-tab-body>
          <div class='b-t' flex>
            <div class='md-list-item'>
              <div class='md-list-item-content text-center'>
                <h4>Aantal personen</h4>
              </div>
            </div>
            <div class='wrapper' layout='column' layout-align='space-around center'>
              <div class='w-lg'>
                <label ng-repeat='number in [1,2,3,4,5,6,7,8,9,10]'
                  ng-click='data.selectedIndex=2'
                  ng-class="{ 'btn-success': reserv.reservation.person_count == number }"
                  class='btn btn-default btn-lg m-xs text-success no-shadow no-border'
                  ng-model='reserv.reservation.person_count'
                  uncheckable
                  btn-radio='number'>{{ number }}</label>

                <label ng-click='reserv.triggerChoosePersonCount()'
                       ng-hide='reserv.choose_person_count_is_opened'
                       class='btn btn-default btn-lg m-xs text-success no-shadow no-border'>More...</label>

                <div class='m-t-md' ng-show='reserv.choose_person_count_is_opened'>
                  <div class='md-form-group float-label'>
                    <input type='number' class='md-input' ng-model='reserv.reservation.person_count' required />
                    <label>Aantal personen</label>
                  </div>

                  <button class='btn btn-md btn-success text-success'
                          ng-click='reserv.triggerChoosePersonCount();data.selectedIndex=2'>Ok</button>
                </div>
              </div>
            </div>
          </div>
        </md-tab-body>
      </md-tab>


      <md-tab>
        <md-tab-label>
          <div class='text-center l-h'><i class='mdi mdi-food-fork-drink'></i></div>
          <div class='text-center l-h'>
            <span ng-show='reserv.reservation.product'>{{ reserv.getProductNameByProductId(reserv.reservation.product) }}</span>
            <span ng-hide='reserv.reservation.product'>PRODUCT</span>
          </div>
        </md-tab-label>
        <md-tab-body>
          <div class='b-t' flex>
            <div class='md-list-item'>
              <div class='md-list-item-content text-center'>
                <h4>Welk product komt de klant voor?</h4>
              </div>
            </div>
            <div class='wrapper' layout='column' layout-align='space-around center'>
              <div class='w-lg'>
                <label ng-repeat="product in reserv.products"
                       ng-click='data.selectedIndex=3'
                       ng-class="{ 'btn-success': reserv.reservation.product == product.id }"
                       class='btn btn-default btn-lg m-xs m-l-none no-border no-shadow text-success'
                       ng-model='reserv.reservation.product'
                       uncheckable
                       btn-radio='product.id'>{{ product.name }}</label>
              </div>
            </div>
          </div>
        </md-tab-body>
      </md-tab>



      <md-tab>
        <md-tab-label>
          <div class='text-center l-h'><i class='mdi mdi-border-horizontal'></i></div>
          <div class='text-center l-h'>
            <span>ZONE</span>
          </div>
        </md-tab-label>
        <md-tab-body>
          <div class='b-t' flex>
            <div class='md-list-item'>
              <div class='md-list-item-content text-center'>
                <h4>Welk tafel komt de klant te zitten?</h4>
              </div>
            </div>
            <div class='wrapper' layout='column' layout-align='space-around center'>
              <div class='w-xxl'>
                <div ng-repeat='zone in reserv.zones'>
                  <p><small class='text-muted'>{{ zone.name }}:</small></p>

                  <label ng-repeat='table_id in zone.table_ids'
                         ng-click='data.selectedIndex=4'
                         ng-class="{ 'disabled': reserv.isDisabledTableByTableId(table_id) }"
                         class='btn btn-default block  m-b-xs no-shadow text-success text-left'
                         ng-model='reserv.reservation.tables_values[table_id]'
                         uncheckable
                         btn-checkbox>
                    <span class='m-r-lg'>Tafel {{ reserv.getTableNumberByTableId(table_id) }}</span><span>{{ reserv.getPersonCountByTableId(table_id) }} personen</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </md-tab-body>
      </md-tab>



      <md-tab>
        <md-tab-label>
          <div class='text-center l-h'><i class='mdi mdi-clock'></i></div>
          <div class='text-center l-h'>
            <span ng-show='reserv.reservation.time'>
              {{ reserv.reservation.time }}
            </span>
            <span ng-hide='reserv.reservation.time'>TIJDSTIP</span>
          </div>
        </md-tab-label>
        <md-tab-body>
          <div class='b-t' flex>
            <div class='md-list-item'>
              <div class='md-list-item-content text-center'>
                <h4>Beschikbare tijden</h4>
              </div>
            </div>

            <div class='wrapper' layout='column' layout-align='space-around center'>
              <div class='w-xl'>
                <div ng-show='reserv.time_is_loaded'>
                  <label ng-repeat="time_obj in reserv.available_time"
                         ng-click='data.selectedIndex=5'
                         ng-class="{ 'btn-success': reserv.reservation.time == time_obj.time,
                                     'disabled': reserv.timeIsDisabled(time_obj)}"
                         class='btn btn-default btn-lg m-xs m-l-none no-shadow text-success'
                         ng-model='reserv.reservation.time'
                         uncheckable
                         btn-radio='time_obj.time'>{{ time_obj.time }}</label>
                </div>
                <div class='m-t-xxl m-b-xxl'
                     layout='row'
                     layout-sm='column'
                     layout-align='space-around'
                     ng-hide='reserv.time_is_loaded'>

                  <md-progress-circular md-mode="indeterminate" md-diameter='22'></md-progress-circular>
                </div>
              </div>
            </div>
          </div>
        </md-tab-body>
      </md-tab>


      <md-tab>
        <md-tab-label>
          <div class='text-center l-h'><i class='mdi mdi-account'></i></div>
          <div class='text-center l-h'>PERSOON</div>
        </md-tab-label>
        <md-tab-body>
          <div class='b-t' flex>
            <div class='md-list-item'>
              <div class='md-list-item-content text-center'>
                <h4>Persoonsgegevens</h4>
              </div>
            </div>
            <div class='wrapper' layout='column' layout-align='space-around center'>
              <div class='w-xl'>
                <div class='md-form-group float-label'>
                  <input class='md-input' ng-model='reserv.reservation.name' required />
                  <label>Voor- en achternaam</label>
                </div>
                <div class='md-form-group float-label'>
                  <input class='md-input' ng-model='reserv.reservation.mail' required />
                  <label>E-mail</label>
                </div>
                <div class='md-form-group float-label'>
                  <input class='md-input' ng-model='reserv.reservation.primary_phone_number' required />
                  <label>Telefoonnummer</label>
                </div>
                <div class='md-form-group float-label'>
                  <input class='md-input' ng-model='reserv.reservation.notes' required />
                  <label>Opmerking</label>
                </div>
                <div class='md-form-group float-label no-padder'>
                  <md-radio-group ng-model="reserv.reservation.language">
                    <md-radio-button value='NL' class='inline md-success'>Nederlands</md-radio-button>
                    <md-radio-button value='EN' class='inline md-success'>Engels</md-radio-button>
                  </md-radio-group>
                </div>
                <div class='md-form-group float-label no-padder'>
                  <md-checkbox ng-model="reserv.reservation.is_group" aria-label="Groep">
                    Groep
                  </md-checkbox>
                </div>
                <div class='md-form-group float-label no-padder'>
                  <md-checkbox ng-model="reserv.reservation.send_confirmation" aria-label="Inschrijven nieuwsbrief">
                    Inschrijven nieuwsbrief
                  </md-checkbox>
                </div>
              </div>
              <div class='w-xl' ng-show='reserv.additional_is_opened'>
                <div class='md-form-group float-label'>
                  <input class='md-input' ng-model='reserv.reservation.secondary_phone_number' required />
                  <label>Secundair nummer</label>
                </div>
                <div class='md-form-group float-label'>
                  <input class='md-input' ng-model='reserv.reservation.street' required />
                  <label>Straat</label>
                </div>
                <div class='md-form-group float-label'>
                  <input class='md-input' ng-model='reserv.reservation.house_number' required />
                  <label>Huisnummer</label>
                </div>
                <div class='md-form-group float-label'>
                  <input class='md-input' ng-model='reserv.reservation.zipcode' required />
                  <label>Postcode</label>
                </div>
                <div class='md-form-group float-label'>
                  <input class='md-input' ng-model='reserv.reservation.city' required />
                  <label>Stad</label>
                </div>
                <div class='md-form-group float-label'>
                  <input class='md-input'
                         ng-focus='reserv.openDatepicker($event)'
                         ng-model='reserv.reservation.date_of_birth'
                         datepicker-popup='{{ reserv.format }}'
                         is-open='reserv.opened'
                         datepicker-options='reserv.dateOptions'
                         show-button-bar='false'
                         ng-required='true'
                         close-text='Close' />
                  <label>Geboortedatum</label>
                </div>
                <div class='md-form-group float-label no-padder'>
                  <md-radio-group ng-model="reserv.reservation.gender">
                    <md-radio-button value='Man' class="inline md-success">Man</md-radio-button>
                    <md-radio-button value='Vrouw' class="inline md-success">Vrouw</md-radio-button>
                  </md-radio-group>
                </div>
                <div class='md-form-group float-label'>
                  <input class='md-input' ng-model='reserv.reservation.companyName' required />
                  <label>Bedrijfsnaam</label>
                </div>
                <div class='md-form-group float-label'>
                  <input class='md-input' ng-model='reserv.reservation.commerce_number' required />
                  <label>KvK nummer</label>
                </div>
                <div class='md-form-group float-label'>
                  <input class='md-input' ng-model='reserv.reservation.vat' required />
                  <label>BTW nummer</label>
                </div>

                <button md-ink-ripple
                        class='md-btn md-flat m-b m-t btn-fw text-success'
                        ngf-select
                        ng-model='reserv.reservation.reservationPDF'
                        ngf-multiple='false'>PDF UPLOADEN...</button>
              </div>

              <button md-ink-ripple ng-click='reserv.triggerAdditionalInfo()'
                      class='md-btn md-flat btn-fw text-success'>

                <span ng-hide='reserv.additional_is_opened'>
                  <i class='mdi mdi-plus-circle-outline'></i>
                  MEER VELDEN
                </span>
                <span ng-show='reserv.additional_is_opened'>
                  <i class='mdi mdi-minus-circle-outline'></i>
                  MINDER VELDEN
                </span>
              </button>
            </div>
          </div>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </div>

  <div class='b-t' flex ng-show='reserv.success'>
    <div class='md-list-item'>
      <div class='md-list-item-content text-center'>
        <h4>Reservering geplaatst</h4>
      </div>
    </div>
    <div class='wrapper'>
      <div class="md-list-item inset">
        <div class="md-list-item-left">
          <img src="img/a2.jpg" class="w-full img-circle">
        </div>
        <div class="md-list-item-content">
          <h3 class="text-md">Jelle Klaasen</h3>
          <small class="font-thin">Min Li Chan</small>
        </div>
      </div>
      <div class="md-list-item inset">
        <div class="md-list-item-left ">
          <i class="mdi mdi-phone icon-muted i-24"></i>
        </div>
        <div class="md-list-item-content">
          <h3 class="text-md">(650) 555-1234</h3>
          <small class="font-thin">Telefoon</small>
        </div>
      </div>
      <div class="md-list-item inset">
        <div class="md-list-item-left ">
          <i class="mdi mdi-email icon-muted i-24"></i>
        </div>
        <div class="md-list-item-content">
          <h3 class="text-md">info@Example.com</h3>
          <small class="font-thin">E-mail</small>
        </div>
      </div>

      <div class="md-list-item ">
        <div class="md-list-item-left ">
          <i class="mdi-action-grade icon-muted i-24"></i>
        </div>
        <div class="md-list-item-content">
          <h3 class="text-md">Ik wil graag champagne op tafel</h3>
          <small class="font-thin">Opmerkingen</small>
        </div>
      </div>
    </div>
  </div>

  <div class='panel-footer no-border no-padder bg-success' ng-show='data.selectedIndex == 5 || reserv.success'>
    <button class='btn btn-lg btn-success text-success w-full'
            ng-class="{ 'disabled': reserv.formIsValid() }"
            ng-show='data.selectedIndex == 5 && !reserv.success'
            ng-click='reserv.sendForm()'>RESERVEER</button>

    <button class='btn btn-lg btn-success text-success w-full'
            ng-show='reserv.success'
            ng-click='reserv.closeModal()'>TERUG NAAR OVERZICHT</button>
  </div>
</div>
