<div class='dashboard'>
  <div class='col-lg-6'>
    <div class='dashboard-book dashboard-book--request-acts panel'>
      <div class='panel-heading'>Actie vereist</div>
      <div class='panel-body'>
        <div class='dashboard-book-list'>
          <div class='dashboard-book-item clearfix'>
            <div class='dashboard-book-item__icon pull-left'>
              <i class='mdi mdi-star-outline'></i>
            </div>
            <div class='dashboard-book-item__info pull-left'>
              <p class='dashboard-book-item__name'>Sjors Klaasen</p>
              <div class='dashboard-book-item__base-info clearfix'>
                <i class='mdi mdi-account-multiple'></i>
                <span>2x</span>
                <i class='mdi mdi-clock'></i>
                <span>20:45</span>
                <i><img src='images/table.svg' title='table' /></i>
                <span>3</span>
              </div>
              <div class='dashboard-book-item__description'>
                Bla bla bla bla bla bla bla bla bla
              </div>
            </div>
            <div class='dashboard-book-item__actions pull-right'>
              <i class='mdi mdi-dots-vertical'></i>
            </div>
          </div>
        </div>
      </div>
      <div class='panel-footer'>
        <div class='dashboard-book__actions clearfix'>
          <div class='pull-left'>
            <i class='mdi mdi-check-circle'></i>
            <span>Bevestig</span>
          </div>
          <div class='pull-left'>
            <i class='mdi mdi-reply'></i>
            <span>Antwoord</span>
          </div>
        </div>
      </div>
    </div>


    <div class='dashboard-book dashboard-book--week panel'>
      <div class='panel-heading'>Groepen deze week</div>
      <div class='panel-body'>
        <div class='dashboard-book-list'>
          <div class='dashboard-book-item clearfix'>
            <div class='dashboard-book-item__icon pull-left'>
              <i class='mdi mdi-account-multiple'></i>
            </div>
            <div class='dashboard-book-item__info pull-left'>
              <p class='dashboard-book-item__name'>Sjors Klaasen</p>
              <div class='dashboard-book-item__base-info clearfix'>
                <i class='mdi mdi-account-multiple'></i>
                <span>2x</span>
                <i class='mdi mdi-clock'></i>
                <span>20:45</span>
                <i><img src='images/table.svg' title='table' /></i>
                <span>3</span>
              </div>
              <div class='dashboard-book-item__description'>
                Bla bla bla bla bla bla bla bla bla
              </div>
            </div>
            <div class='dashboard-book-item__actions pull-right'>
              <i class='mdi mdi-dots-vertical'></i>
            </div>
          </div>


          <div class='dashboard-book-item clearfix'>
            <div class='dashboard-book-item__icon pull-left'>
              <i class='mdi mdi-account-multiple'></i>
            </div>
            <div class='dashboard-book-item__info pull-left'>
              <p class='dashboard-book-item__name'>Sjors Klaasen</p>
              <div class='dashboard-book-item__base-info clearfix'>
                <i class='mdi mdi-account-multiple'></i>
                <span>2x</span>
                <i class='mdi mdi-clock'></i>
                <span>20:45</span>
                <i><img src='images/table.svg' title='table' /></i>
                <span>3</span>
              </div>
              <div class='dashboard-book-item__description'>
                Bla bla bla bla bla bla bla bla bla
              </div>
            </div>
            <div class='dashboard-book-item__actions pull-right'>
              <i class='mdi mdi-dots-vertical'></i>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class='dashboard-book dashboard-book--today panel'>
      <div class='panel-heading'>
        Vandaag
        <div class='dashboard-book__add'>
          <i class='mdi mdi-plus'></i>
        </div>
      </div>
      <div class='panel-body'>
        <div class='dashboard-book-list'>
          <div class='dashboard-book-item clearfix'>
            <div class='dashboard-book-item__icon pull-left'>
              <i class='mdi mdi-check'></i>
            </div>
            <div class='dashboard-book-item__info pull-left'>
              <p class='dashboard-book-item__name'>Sjors Klaasen</p>
              <div class='dashboard-book-item__base-info clearfix'>
                <i class='mdi mdi-account-multiple'></i>
                <span>2x</span>
                <i class='mdi mdi-clock'></i>
                <span>20:45</span>
                <i><img src='images/table.svg' title='table' /></i>
                <span>3</span>
              </div>
              <div class='dashboard-book-item__description'>
                Bla bla bla bla bla bla bla bla bla
              </div>
            </div>
            <div class='dashboard-book-item__actions pull-right'>
              <i class='mdi mdi-dots-vertical'></i>
            </div>
          </div>


          <div class='dashboard-book-item dashboard-book-item--blocked clearfix'>
            <div class='dashboard-book-item__icon pull-left'>
              <i class='mdi mdi-close'></i>
            </div>
            <div class='dashboard-book-item__info pull-left'>
              <p class='dashboard-book-item__name'>Sjors Klaasen</p>
              <div class='dashboard-book-item__base-info clearfix'>
                <i class='mdi mdi-account-multiple'></i>
                <span>2x</span>
                <i class='mdi mdi-clock'></i>
                <span>20:45</span>
                <i><img src='images/table.svg' title='table' /></i>
                <span>3</span>
              </div>
              <div class='dashboard-book-item__description'>
                Bla bla bla bla bla bla bla bla bla
              </div>
            </div>
            <div class='dashboard-book-item__actions pull-right'>
              <i class='mdi mdi-dots-vertical'></i>
            </div>
          </div>


          <div class='dashboard-book-item clearfix'>
            <div class='dashboard-book-item__icon pull-left'>
              <i class='mdi mdi-exclamation'></i>
            </div>
            <div class='dashboard-book-item__info pull-left'>
              <p class='dashboard-book-item__name'>Sjors Klaasen</p>
              <div class='dashboard-book-item__base-info clearfix'>
                <i class='mdi mdi-account-multiple'></i>
                <span>2x</span>
                <i class='mdi mdi-clock'></i>
                <span>20:45</span>
                <i><img src='images/table.svg' title='table' /></i>
                <span>3</span>
              </div>
              <div class='dashboard-book-item__description'>
                Bla bla bla bla bla bla bla bla bla
              </div>
            </div>
            <div class='dashboard-book-item__actions pull-right'>
              <i class='mdi mdi-dots-vertical'></i>
            </div>
          </div>


          <div class='dashboard-book-item clearfix'>
            <div class='dashboard-book-item__icon pull-left'>
              <i class='mdi mdi-checkbox-blank-circle-outline'></i>
            </div>
            <div class='dashboard-book-item__info pull-left'>
              <p class='dashboard-book-item__name'>Sjors Klaasen</p>
              <div class='dashboard-book-item__base-info clearfix'>
                <i class='mdi mdi-account-multiple'></i>
                <span>2x</span>
                <i class='mdi mdi-clock'></i>
                <span>20:45</span>
                <i><img src='images/table.svg' title='table' /></i>
                <span>3</span>
              </div>
              <div class='dashboard-book-item__description'>
                Bla bla bla bla bla bla bla bla bla
              </div>
            </div>
            <div class='dashboard-book-item__actions pull-right'>
              <i class='mdi mdi-dots-vertical'></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-lg-4'>
    2
  </div>
  <div class='col-lg-2'>
    <div class='dashboard-ad panel'>
      <div class='panel-body'>
        <div>
          <img src='images/receipts.png' title='receipts' />
        </div>
        <p>Ook je reviews bijhouden?<p/>
      </div>
      <div class='panel-footer'>
        <a href='#'>Probeer gratis</a>
      </div>
    </div>

    <div class='dashboard-ad panel'>
      <div class='panel-body'>
        <div>
          <img src='images/reviews.png' title='reviews' />
        </div>
        <p>Ook je bonnetjes online bijhouden?<p/>
      </div>
      <div class='panel-footer'>
        <a href='#'>Probeer gratis</a>
      </div>
    </div>
  </div>
</div>
