.dashboard
  .dashboard-book
    &.dashboard-book--today
      margin-top 52px

    .panel-heading
      position relative

      .dashboard-book__add
        position absolute
        right 24px
        top -28px

    .panel-footer
      .dashboard-book__actions
        padding-left 54px

        div
          margin-right 40px
          line-height 32px
          font-size 15px
          text-transform uppercase
          color #36b590
          font-weight bold

          i
            font-size 24px
            margin-right 5px

          i,span
            vertical-align middle

    .panel-body
      padding 0

      .dashboard-book-list
        .dashboard-book-item
          padding 8px 15px
          border-top 1px solid #f6f6f6

          &.dashboard-book-item--blocked
            opacity 0.5

            & *
              cursor: default

          &:first-child
            border-width 0

          .dashboard-book-item__icon
            margin 10px 14px 0 0;
            font-size 24px
            width 40px
            height 40px
            display block
            line-height 40px
            text-align center
            border-radius 50%
            background-color #fafafa

          .dashboard-book-item__info
            .dashboard-book-item__name
              font-size 16px
              line-height 18px
              margin 0

            .dashboard-book-item__base-info,
            .dashboard-book-item__description
              color #787878

            .dashboard-book-item__base-info
              font-size 15px

              span,
              i
                float left
                line-height 20px;
                margin-right 6px

              span
                font-size 14px

              i
                font-size 18px

                img
                  margin-top -3px

          .dashboard-book-item__actions
            margin: 10px 10px 0 14px
            width 40px
            height 40px
            cursor pointer

            i
              line-height 40px
              text-align center
              font-size 24px


  .dashboard-reservation
    .clearfix
      padding 12px 0

      .dashboard-reservation__chart
        display inline-block
        margin-bottom 10px

        & > div
          position relative
          text-align center

          div
            position relative
            z-index 1
            font-size 16px

        canvas
          position absolute
          top 0
          left 0
          z-index 0

      .dashboard-reservation__title
        font-size 16px


  .dashboard-ad
    .panel-body
      img
        width 100%

      p
        margin 15px 0
        line-height 20px
        font-size 16px
        text-align center

    .panel-footer
      text-align center

      a
        line-height 30px
        text-transform uppercase
        text-align center
        color #36b590
        font-weight bold
        font-size 15px
        letter-spacing 1px
