green_color = #36b590
default_color = #58666e

md-tabs.reservation_tabs
	border-radius 0

	md-tabs-wrapper
		background-color #263238

		md-tabs-canvas
			height 56px

			md-pagination-wrapper
				height 56px
				width 100%

				md-tab-item.md-tab
					width 16.66%
					height 56px
					padding 5px 0
					font-size 16px
					line-height 30px

					&.md-active
						color #fff

				md-ink-bar
					height 4px
					background-color green_color

	md-tabs-content-wrapper
		md-tab-content
			.flex
				overflow-y auto
				height 442px

				&.reservation_person
					height auto
					padding-bottom 78px
					min-height 442px

					& > button[type='submit']
						position absolute
						bottom 0

					& > button[type='button']
						position absolute
						bottom 46px

        &.reservation_person_count
					.wrapper
						.w-lg
							& > label
								padding 12px 0
								width 44px
								border-radius 50%
								border none
								box-shadow none

				&.reservation_product
					.wrapper
						& > div
							label
								position relative
								color default_color
								width 159px
								height 110px
								border-radius 0
								text-align center
								margin 10px 8px

								i
									display none
									position absolute
									width 16px
									height 16px
									top -8px
									right -8px
									line-height 16px
									border-radius 50%
									background-color green_color
									color #fff

								p
									line-height 96px

								&.active
									border-color green_color
									background-color #fff
									box-shadow none

									i
										display block

				&.reservation_zone
					.wrapper
						.w-xxl
							label.active
								background-color green_color
								border-color green_color
								color #fff !important

@media (max-width 600px)
	md-tabs.reservation_tabs
		md-tabs-wrapper
			md-tabs-canvas
				md-pagination-wrapper
					md-tab-item
						.text-center
							display none

							&:first-child
								display block
								heght 46px

								i
									font-size 22px
									line-height 46px