<div class='fade-in-right-big smooth ng-scope'>
  <div class='container w-xxl w-auto-xs ng-scope'>
    <div class='auth popup panel no-border m-t text-muted'>
      <div class='panel-heading blue-grey-900'>
        <div></div>
      </div>
      <div ng-hide='auth.success'>
        <div class='text-muted m-b m-t text-center'>Wachtwoord resetten</div>
        <form ng-submit='auth.submitForm()'>
          <div class='text-default wrapper text-center bg-danger' ng-show='auth.errors'>
            <div ng-repeat='error in auth.errors'>
              {{ error.message }}
            </div>
          </div>

          <div class='list-group-item' ng-show='auth.authType == "reset_password"'>
            <input type='email'
                   class='form-control no-border'
                   ng-model='auth.formData.email'
                   ng-required='auth.authType == "reset_password"'
                   placeholder='E-mail'
                   autocomplete='new-password' />
          </div>

          <div class='list-group-item' ng-show='auth.authType == "reset_password_finish"'>
            <input type='password'
                   class='form-control no-border'
                   ng-model='auth.formData.plainPassword.first'
                   ng-required='auth.authType == "reset_password_finish"'
                   placeholder='Wachtwoord'
                   autocomplete='new-password' />
          </div>

          <div class='list-group-item' ng-show='auth.authType == "reset_password_finish"'>
            <input type='password'
                   class='form-control no-border'
                   ng-model='auth.formData.plainPassword.second'
                   ng-required='auth.authType == "reset_password_finish"'
                   placeholder='Wachtwoord herhalen'
                   autocomplete='new-password' />
          </div>

          <div class='wrapper'>
            <button type='submit'
                    style='height: 42px;'
                    class='md-btn md-flat btn-fw btn-block m-t-md'
                    ng-class="{ 'disabled': auth.isSubmitting }">
              <span>Doorgaan</span>
            </button>

            <div class='text-center bold'>
              <div class='m-t-lg'>
                <a class='text-success' ui-sref='auth.register'>CREATE AN ACCOUNT</a>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class='wrapper text-center' ng-show='auth.success && auth.authType == "reset_password"'>
        <h3>Wachtwoord resetten</h3>
        <p>If the e-mail address you entered is correct, you'll receive a mail containing further instructions within a few minutes.</p>
      </div>
    </div>
  </div>
</div>
