.auth
  .panel-heading
    div
      width 125px
      height 40px
      background url('../../../public/images/logo-mini@2x.png') no-repeat 0 0;
      margin 0 auto
  & > form
    .list-group-item
      border-radius 0

    & > .wrapper
      & > button
        height 48px

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5)
  .auth
    .panel-heading
      div
        background-image url('../../../public/images/logo-mini@2x.png')
        background-size 125px 40px;
