<div class='fade-in-right-big smooth ng-scope'>
  <div class='container w-xxl w-auto-xs ng-scope'>
    <div class='auth popup panel no-border m-t text-muted'>
      <div class='panel-heading blue-grey-900'>
        <img src='/public/images/logo@2x.png' />
      </div>
      <div class='text-muted m-b m-t text-center'
           translate='auth.welcome'></div>
      <form ng-submit='ctrl.submitForm()'>
        <div ng-show='ctrl.authType == "login"'>
          <div class='text-default wrapper text-center bg-danger' ng-show='ctrl.errors'>
            {{ ctrl.errors.message }}
          </div>

          <div class='list-group-item'>
            <input type='email'
                   class='form-control no-border'
                   ng-model='ctrl.formData._username'
                   ng-required='ctrl.authType == "login"'
                   placeholder='E-mail'
                   autocomplete='new-password' />
          </div>

          <div class='list-group-item'>
            <input type='password'
                   class='form-control no-border'
                   ng-model='ctrl.formData._password'
                   placeholder='Wachtwoord'
                   autocomplete='new-password' />
          </div>
        </div>

        <div ng-show='ctrl.authType == "register"'>
          <div class='text-default wrapper text-center bg-danger'
               ng-show='ctrl.errors'>
            <div ng-repeat='error in ctrl.errors'>
              {{ error.origin }}: {{ error.message }}
            </div>
          </div>

          <div class='list-group-item'>
            <input type='email'
                   class='form-control no-border'
                   ng-model='ctrl.formData.email'
                   ng-required='ctrl.authType == "register"'
                   placeholder='E-mail'
                   autocomplete='new-password' />
          </div>

          <div class='list-group-item'>
            <input type='text'
                   class='form-control no-border'
                   ng-model='ctrl.formData.first_name'
                   ng-required='ctrl.authType == "register"'
                   placeholder='Voornaam' />
          </div>

          <div class='list-group-item'>
            <input type='text'
                   class='form-control no-border'
                   ng-model='ctrl.formData.last_name'
                   ng-required='ctrl.authType == "register"'
                   placeholder='Achternaam' />
          </div>

          <div class='list-group-item'>
            <input type='password'
                   class='form-control no-border'
                   ng-model='ctrl.formData.plainPassword.first'
                   ng-required='ctrl.authType == "register"'
                   placeholder='Wachtwoord'
                   autocomplete='new-password' />
          </div>

          <div class='list-group-item no-border'>
            <input type='password'
                   class='form-control no-border'
                   ng-model='ctrl.formData.plainPassword.second'
                   placeholder='Wachtwoord herhalen'
                   autocomplete='new-password' />
          </div>
        </div>

        <div class='wrapper'>
          <button type='submit'
                  class='md-btn md-flat btn-fw btn-block m-t-md'
                  ng-class="{ 'disabled': ctrl.isSubmitting }">
            <span>
              <span ng-show='ctrl.authType == "login"' translate='auth.login'></span>
              <span ng-show='ctrl.authType == "register"' translate='auth.create_account'></span>
            </span>
          </button>

          <div class='text-center bold'>
            <div class='m-t-lg'>
              <a ng-show='ctrl.authType == "login"'
                 class='text-success'
                 target='_blank'
                 href='https://calendly.com/thenextsoftware'>VRAAG HIER EEN DEMO AAN</a>
              <a ng-show='ctrl.authType == "register"'
                 class='text-success uppercase'
                 ui-sref='auth.login'
                 translate='auth.signin'></a>
            </div>
            <div class='m-t-sm'>
              <a ui-sref='auth.reset_password'
                 class='uppercase'
                 translate='auth.forgot_pass'></a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
