<div class='customers'>
  <div class='col-lg-10 col-md-10 col-sm-10'>
    <div class='page_filter m-b-md clearfix'>
      <div class='pull-left'
           ng-init='controller = customer'
           data-ng-include=" 'page_filter.profile_settings.view.html' "></div>

      <button class='md-icon-button md-button no-margin'
        type='button'
        ng-click='customer.openMergePopup()'
        md-ink-ripple>
        <i class="mdi mdi-sync-alert i-24"></i>
      </button>
    </div>

    <div class='panel'>
      <div class='panel-heading' translate='customers.title'></div>
      <md-list class='no-padder'>
        <div class='char_wrapper'
             ng-repeat='(char, customers) in customer.CustomerService.store'
             scroll-more="customer.loadCustomers(true)">
          <div class='md-list-item-left char'>{{ char }}</div>
          <md-list-item ng-click='customer.openCustomerMenu(customerItem.id)'
                        ng-class='{"active": customer.active_profile == customerItem.id}'
                        ng-repeat="customerItem in customers"
                        ng-mouseup='customer.active_profile = customerItem.id'
                        class='md-2-line md-no-proxy b-b-none m-l-xxl'>
            <div class='md-avatar'>
              <div class='grey-100 img-circle customer_avatar'
                   ng-if='!customer.Customer.socialImageUrl(customerItem)'></div>
              <img ng-src='{{ customer.Customer.socialImageUrl(customerItem) }}'
                   ng-if='customer.Customer.socialImageUrl(customerItem)'
                   class='customer_avatar' />
            </div>
            <div class='md-list-item-text'>
              <h3>{{ customerItem.last_name }} {{ customerItem.first_name }}</h3>
            </div>
            <div class='pull-right'>
              <button md-ink-ripple
                      class='md-icon-button md-button'
                      ng-disabled='disabled'
                      aria-haspopup='true'
                      aria-expanded='false'
                      aria-disabled='false'
                      ng-click='customer.openCustomerMenu(customerItem.id)'>
                <i class='mdi mdi-dots-vertical i-24'></i>
              </button>
            </div>
          </md-list-item>
        </div>
        <div ng-show='customer.isEmpty()'
             class='md-padding'
             translate='geen'></div>
      </md-list>
    </div>
  </div>
</div>

<alphabet group-by="1" letter-clicked="customer.onFilterChanged(letter)"></alphabet>
<alphabet group-by="2" letter-clicked="customer.onFilterChanged(letter)"></alphabet>
