<div class='analytics-content'>
  <div class='raw'>
    <div class='col-xs-12 col-sm-6'>
      <div class='panel'>
        <div class='panel-heading' translate='analytics.average_guests_per_day'></div>
        <div class='panel-body'>
          <div class='fix-chart-bar m-t-sm m-b-md raw crearfix'>
            <div class='pull-left grey-300'></div>
            <div class='pull-left grey-300'></div>
            <div class='pull-left grey-300'></div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-6'>
      <div class='panel'>
        <div class='panel-heading' translate='analytics.total_amount_of_guests'></div>
        <div class='panel-body'>
          <div class='fix-chart-bar m-t-sm m-b-md raw crearfix'>
            <div class='pull-left grey-300'></div>
            <div class='pull-left grey-300'></div>
            <div class='pull-left grey-300'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='raw'>
    <div class='col-xs-12 col-sm-6'>
      <div class='panel'>
        <div class='panel-heading' translate='analytics.reservations_per_hour'></div>
        <div class='panel-body'>
          <div class='fix-chart-bar m-t-sm m-b-md raw crearfix'>
            <div class='pull-left grey-300'></div>
            <div class='pull-left grey-300'></div>
            <div class='pull-left grey-300'></div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-6'>
      <div class='panel'>
        <div class='panel-heading' translate='analytics.age_of_guests'></div>
        <div class='panel-body'>
          <div class='fix-chart-bar raw crearfix'>
            <div class='pull-left grey-300'></div>
            <div class='pull-left grey-300'></div>
            <div class='pull-left grey-300'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='raw'>
    <div class='col-xs-12 col-sm-4'>
      <div class='panel'>
        <div class='panel-heading' translate='analytics.booking_channels'></div>
        <div class='panel-body'>
          <div class='col-xs-6 m-t-sm m-b-md'>
            <div class='fix-chart grey-300'></div>
          </div>
          <div class='col-xs-6 m-t-sm m-b-md'>
            <div class='fix-chart grey-300'></div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-4'>
      <div class='panel'>
        <div class='panel-heading' translate='analytics.product_distribution'></div>
        <div class='panel-body'>
          <div class='col-xs-6 m-t-sm m-b-md'>
            <div class='fix-chart grey-300'></div>
          </div>
          <div class='col-xs-6 m-t-sm m-b-md'>
            <div class='fix-chart grey-300'></div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-xs-12 col-sm-4'>
      <div class='panel'>
        <div class='panel-heading' translate='gender'></div>
        <div class='panel-body'>
          <div class='col-xs-6 m-t-sm m-b-md'>
            <div class='fix-chart grey-300'></div>
          </div>
          <div class='col-xs-6 m-t-sm m-b-md'>
            <div class='fix-chart grey-300'></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>