<ul class='nav navbar-nav navbar-right'>
  <li class='dropdown' dropdown ng-click='header.hideRightSidebar()'>
    <div class='header-account-menu pull-right m-l-sm'>
      <div class='dropdown-toggle clearfix m-r-sm' dropdown-toggle>
        <div class='header-account-menu__info pull-left m-l-sm'>
          <p class='header-account-menu__name'>{{ header.current_user.first_name }}</p>
          <div class='header-account-menu__info'>
            <p>{{ header.current_company.name }}</p>
          </div>
        </div>
        <b class='pull-right caret m-l-sm m-t'></b>
      </div>

      <!-- dropdown -->
      <ul class="header-account-menu-box dropdown-menu animated">
        <li ng-repeat='company in header.User.getCompanies()'>
          <a href='javascript://' ng-click='header.setDefaultCompany(company.id)'>
            <span>{{ company.name }}</span>
            <i ng-show='company.id === header.current_company_id' class='mdi mdi-check pull-right'></i>
          </a>
        </li>

        <li>
          <a href='#'
             ng-click='header.changeLang("en")'
             ng-if='header.$translate.proposedLanguage() === "nl"'>
            <span class='lang en'></span>
          </a>
          <a href='#'
             ng-click='header.changeLang("nl")'
             ng-if='header.$translate.proposedLanguage() === "en"'>
            <span class='lang nl'></span>
          </a>
        </li>

        <li class='m-t-sm'>
          <a href='#'
             ui-sref='app.settings.general'
             ng-show='header.userIsOwner()'>
            <span translate='right_menu.settings'></span>
          </a>
          <span ng-hide='header.userIsOwner()'
                title='{{ "notifications.access_only" | translate }}'
                translate='right_menu.settings'></span>
        </li>
        <li>
          <a href='#'
             ui-sref='app.upgrade'
             ng-show='header.userIsOwner()'>
            <span translate='right_menu.upgrade'></span>
          </a>
          <span ng-hide='header.userIsOwner()'
                title='{{ "notifications.access_only" | translate }}'
                translate='right_menu.upgrade'></span>
        </li>
        <li>
          <a href='https://thenextsoftware.slaask.help'
             target='_blank'><span translate='help'></span></a>
        </li>
        <li>
          <a href='#' ng-click='header.logout()'>
            <span translate='right_menu.logout'></span>
          </a>
        </li>
      </ul>
      <!-- / dropdown -->
    </div>
  </li>
</ul>
