.deze-week
  padding-bottom 0 !important

.table-wrapper
  display table
  width 100%
  height 100%
  border-spacing 0
  table-layout fixed
  padding 0 !important
  text-align center

.year-panel,
.month-panel,
.week-panel
  display table-cell
  float none
  height 100%
  padding 13px 0px
  vertical-align top
  border-right 1px solid border-color

.week-panel
  border-right-width 0px !important

.bottom_total_title
  font-size 13px
  letter-spacing 0.2px
  color #c8c8c8

.bottom_total_count
  font-size 20px
  line-height 1
  text-align center
  color #787878

.total_today
  font-size 20px
  line-height 1
  text-align center
  color #787878
  top 44%
  position absolute
  left 48.5%

.relative
  position relative

.dashboard-reservation
  .dashboard-reservation__chart
    canvas
      position relative
      top -85px
    div[ui-jq='easyPieChart']
      margin 0 auto
    div
      font-size 16px
  .dashboard-reservation__title
    font-size 16px

