.agenda-charts
  .agenda-charts-graph
    canvas
      position relative
      top -85px
    div[ui-jq='easyPieChart']
      margin 0 auto
    div
      font-size 16px
  .agenda-charts-title
    font-size 16px