<div class='agenda-charts panel'>
  <div class='panel-heading' translate='reservations'></div>
  <div class='panel-body relative'>
      <div class='pie-chart col-xs-6 m-t-sm'
           ng-repeat='(productId, productData) in agenda_charts.data.product'>
        <div class='pie-chart-graph'>
          <div ng-click='agenda_charts.showReservations(productId)'
               ui-jq='easyPieChart'
               ui-options='{
                percent: agenda_charts.Charts.getPercent(agenda_charts.data.totalNumberOfPersons, productData.numberOfPersons),
                lineWidth: 2,
                trackColor: "#787878",
                barColor: "#f6f6f6",
                scaleColor: false,
                size: 84,
                rotate: 90,
                lineCap: "butt"
               }'>
            <div>
              <span>{{ productData.numberOfPersons }}</span>
            </div>
          </div>
        </div>
        <div class='pie-chart-title m-t-sm m-b-sm'>{{ productData.name }}</div>
      </div>
  </div>
</div>