<div class='clearfix'>
  <div class='col-lg-8 col-md-8 col-sm-8'>
    <div data-ng-include=" 'page_filter.view.html' "
         ng-init='hideDatePicker = true;'
         ng-controller='PageFilterCtrl as page_filter'></div>

    <div ng-show='reservations.is_loaded && reservations.reservations.length'>
      <button ng-click='reservations.openReservation();'
              md-ink-ripple
              class='panel-add-button md-btn md-fab m-b m-t-n-md'>
        <i class='mdi mdi-plus i-24'></i>
      </button>

      <div class='panel'>
        <div class='panel-heading'>Vandaag</div>
        <div class='md-list'>
          <div class='b-b'
               ng-repeat='reservation in reservations.reservations' ng-show='reservations.reservations.length'>
            <div class='md-list-item b-b-none'
                 data-ng-include=" 'dashboard_reservations.item.view.html' "
                 ng-repeat='reservation_part in reservations.ReservationPart.partsByDate(reservation.reservation_parts, reservations.date_filter)'
                 ng-init='hideIcon = $index > 0'
                 ng-class='{ "p-t-none": $index > 0 }'></div>
          </div>
        </div>
      </div>
    </div>


    <div ng-show='reservations.is_loaded && !reservations.reservations.length'>
      <button ng-click='reservations.openReservation();'
              md-ink-ripple
              class='panel-add-button md-btn md-fab m-b m-t-n-md'>
        <i class='mdi mdi-plus i-24'></i>
      </button>

      <div class='panel'>
        <div class='wrapper' layout='column' layout-align='space-around center'>
          <div class='w-xl m-t-xxl m-b-xxl text-center'>
            Je hebt nog geen reserveringen klik op de "+" om je eerste reservering aan te maken
          </div>
        </div>
      </div>
    </div>
  </div>

  <div data-ng-include=" 'user_menu.view.html' " ng-controller='UserMenuCtrl as user'></div>
</div>
<div data-ng-include=" 'print_reservations.view.html' "></div>