<md-tab>
  <md-tab-label>
    <div class='text-center l-h' translate='allergies'></div>
  </md-tab-label>
  <md-tab-body>
    <div class='md-content-submit'>
      <div class='wrapper' layout='column' layout-align='space-around center'>
        <div class='w-xl'>

          <label ng-repeat='allergy in ctrl.customerAllergies'
            class='user-menu-allergy btn btn-default block m-b-xs no-shadow text-success text-left'
            ng-model='ctrl.item'
            uib-uncheckable
            uib-btn-radio='allergy'>
            <span>{{ allergy.owner }}:</span>
            <i ng-if='!ctrl.getAllergyClass(allergy.allergy)'
               class="mdi mdi-information-outline icon-muted m-r-xs"></i>
            <i ng-if='ctrl.getAllergyClass(allergy.allergy)'
               class="eicon eicon-{{ ctrl.getAllergyClass(allergy.allergy) }} m-r-xs"></i>
            <span>{{ allergy.allergy }}</span>
            <span class='pull-right' ng-click='ctrl.delete($index)'>
              <i class='mdi mdi-close i-21'></i>
            </span>
          </label>

          <form name='user_allergies_form'>
            <div class='wrapper'>
              <md-input-container class='md-block'>
                <label translate='guest_name'></label>
                <textarea required ng-model='ctrl.item.owner'></textarea>
              </md-input-container>
              <md-autocomplete
                md-search-text='ctrl.item.allergy'
                md-items='item in ctrl.searchAllergies(ctrl.item.allergy, ctrl.allergies)'
                md-item-text='item'
                md-min-length='0'
                md-menu-container-class='input-suggestion'
                md-floating-label='{{ "name" | translate }}'
                required>
              <md-item-template>
                <span>
                  <i class="eicon eicon-{{ ctrl.getAllergyClass(item) }} m-r-xs"></i>
                  {{ item }}</span>
              </md-item-template>
            </md-autocomplete>

              <input type="hidden" ng-model='ctrl.item.id' />
            </div>
          </form>
        </div>
      </div>

      <button type='submit'
              ng-class="{ 'disabled': !user_allergies_form.$valid || ctrl.allergies_is_submitting }"
              ng-click="ctrl.submitForm(user_allergies_form)"
              class='btn btn-lg btn-success text-success w-full no-top-radius md-content-button'>
        <translate>save</translate>
      </button>
    </div>
  </md-tab-body>
</md-tab>
