<div class='raw clearfix m-t-md m-b-xl'>
  <div class='col-xs-2 grey-300 rounded-sm m-b-sm m-r-md'>&nbsp;</div>
  <div class='col-xs-2 grey-300 rounded-sm m-b-sm m-r-md'>&nbsp;</div>
  <div class='col-xs-2 grey-300 rounded-sm m-b-sm m-r-md'>&nbsp;</div>
  <div class='col-xs-2 grey-300 rounded-sm m-b-sm m-r-md'>&nbsp;</div>
</div>
<div class='panel'>
  <div class='panel-heading' translate='reservations'></div>
  <md-list class='no-padder'>
    <md-list-item class='md-no-proxy'>
      <fix-reservations-item></fix-reservations-item>
    </md-list-item>
    <md-list-item class='md-no-proxy'>
      <fix-reservations-item></fix-reservations-item>
    </md-list-item>
    <md-list-item class='md-no-proxy'>
      <fix-reservations-item></fix-reservations-item>
    </md-list-item>
  </md-list>
</div>