<section class='no-margin'>
  <md-toolbar>
    <div class='md-toolbar-tools'>
      <h2 md-truncate flex translate='settings.warnings.edit'></h2>
      <md-button class="md-icon-button" ng-click='ctrl.closeModal();' md-no-ink>
        <i class='mdi mdi-close m-r-sm i-24'></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-content>
    <form class='md-content-submit' name='edit_warning' ng-submit='ctrl.submitForm(edit_warning.$valid)'>
      <div class='wrapper'>
        <md-input-container class='md-block'>
          <label translate='text'></label>
          <input ng-model='ctrl.form_data.text' required />
        </md-input-container>
      </div>
      <button type='submit'
              ng-class="{ 'disabled': !edit_warning.$valid || ctrl.is_submitting }"
              class='btn btn-lg btn-success text-success w-full no-top-radius md-content-button'
              translate='save'>
      </button>
    </form>
  </md-content>
</section>