<div ng-style="{ opacity: reservation.status == 'cancelled' ? 0.3 : 1 }">
  <div class='md-list-item-left img-circle m-t-sm grey-100'>
    <div class='pull-left m-l-sm'>
      <i ng-class='dash.status_classes[reservation.status]' class='mdi i-20' ng-click='dash.changeTodayIconClass(reservation, reservation_part)'></i>
    </div>
  </div>
  <div class='pull-right'>
    <md-menu>
      <i class='mdi mdi-dots-vertical i-24' ng-click='$mdMenu.open($event);'></i>
      <md-menu-content width="4" class="reservation_menu">
        <md-menu-item ng-repeat="menu in dash.right_menu[reservation.status]">
          <md-button ng-click='dash.changeStatus(reservation, menu.status)' ng-disabled="menu.disabled">
            <i class='mdi i-24 mdi-with-button-padding' ng-class="menu.class"></i>
            <span class="menu_name">{{ menu.name }}</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
  <div class='md-list-item-content'>
    <h3 class='text-md'>{{reservation.customer.last_name}} {{reservation.customer.first_name}}</h3>
    <div>
      <i class='mdi mdi-account-multiple'></i>
      <small class='font-thin m-r-xs'>{{ reservation_part.person_count }}x</small>
      <i class='mdi mdi-clock'></i>
      <small class='font-thin m-r-xs' ng-bind='dash.parsedDate(reservation_part.datetime)'></small>
      <span ng-show='dash.getTableNumbersByTableIds(reservation_part.table_ids).length'>
        <img class='table_icon' src='public/images/table.svg' />
        <small class='font-thin' ng-bind='dash.getTableNumbersByTableIds(reservation_part.table_ids).join(", ")'></small>
      </span>
    </div>
    <small class='font-thin'>
      {{ (reservation.notes || '&nbsp;') | limitTo: 50 }}{{ reservation.notes.length > 50 ? '...' : '' }}
    </small>
  </div>
</div>