/*.reservation_action_required
	.md-list-item-left
		.mdi:before
			content "\F4D2"

.reservation_group_this_week
	.md-list-item-left
		.mdi:before
			content "\F00E"
*/

.menu_name
  position relative
  top -5px
  left 30px

button[disabled]
  opacity 0.3