<div class='select-wrapper'>
  <button class='mdi md-icon-button md-button mdi-filter-variant no-margin i-24 pull-left'></button>
  <md-select multiple
             aria-label
             class='pull-left'
             ng-change='controller.changeFilterPostProcess()'
             ng-model='controller.filters'
             ng-model-options="{ trackBy: '$value.value' }">
    <md-option ng-value='item'
               ng-repeat='item in controller.filter_params'>
      {{ item.name }}: {{ item.value }}
    </md-option>
  </md-select>
</div>