.page_filter
  .list .mdi-view-module
  	opacity 0.3

  .calendar .mdi-view-list
  	opacity 0.3

  md-datepicker
    &>.md-button.md-datepicker-button
      margin 8px 0 0
    &>.md-datepicker-input-container
      margin-top 4px

  md-select
    margin 4px 0 0 0
    max-width 150px

  md-input-container
    height 30px

  md-datepicker
    md-icon
      margin-top 0
