<div class='page_filter m-b-md clearfix'>
  <div class='pull-left'>
    <md-datepicker ng-model='page_filter.date_filter'></md-datepicker>
  </div>
  <div class='pull-left'>
    <i class='mdi mdi-printer i-24 m-l-md' onclick='window.print();' />
  </div>
  <md-menu>
    <i class='mdi mdi-settings i-24 m-l-md' ng-click='$mdMenu.open($event);' />
    <md-menu-content>
      <md-menu-item>
        <md-button ng-click='page_filter.openSettings();'>Overboeken aan/uit zetten</md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
  <div class="pull-right" ng-if="showRightMenu">
    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click='page_filter.changeView("list");' ng-class="page_filter.reservations_view || view">
      <i class="mdi mdi-view-list i-24"></i>
    </button>

    <button class="md-icon-button md-button md-ink-ripple" type="button" ng-click='page_filter.changeView("calendar");' ng-class="page_filter.reservations_view || view">
      <i class="mdi mdi-view-module i-24"></i>
    </button>
  </div>
</div>


