green_color = #36b590

.seats-free
	.wrapper
		.scroll-x
			.table
				.time
					text-align center
				.clickable
					cursor pointer

					&:hover
						color #fff
						background-color green_color
