.edit_reservation
  .md-content-submit
    min-height 480px
  .wrapper
    label.btn.active
      color #fff

md-tabs.edit_reservation_tabs
  md-tabs-wrapper
    md-tabs-canvas
      md-pagination-wrapper
        md-tab-item.md-tab
          width 20%