<div class='agenda-charts panel'>
  <div class='panel-heading' translate='reservations'></div>
  <div class='panel-body'>
    <div class='col-xs-6 m-t-sm m-b-md'>
      <div class='fix-chart grey-300'></div>
    </div>
    <div class='col-xs-6 m-t-sm m-b-md'>
      <div class='fix-chart grey-300'></div>
    </div>
    <div class='col-xs-6 m-t-sm m-b-md'>
      <div class='fix-chart grey-300'></div>
    </div>
    <div class='col-xs-6 m-t-sm m-b-md'>
      <div class='fix-chart grey-300'></div>
    </div>
  </div>
</div>

<div class='panel'>
  <div class='panel-heading' translate='time_ranges'></div>
  <div class='panel-body no-padder'>
    <table class='table no-margin'>
      <thead>
        <th translate='type'></th>
        <th translate='value'></th>
        <th translate='time'></th>
      </thead>
      <tbody>
        <tr>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
        </tr>
        <tr>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
        </tr>
        <tr>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
          <td><div class='fix-text grey-300'>&nbsp;</div></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>