<md-tab ng-disabled="!reserv.reservation.is_group">
  <md-tab-label>
    <div class='text-center l-h'><i class='mdi mdi-account-multiple'></i></div>
    <div class='text-center l-h'>GROUP</div>
  </md-tab-label>
  <md-tab-body>
    <div class='md-content-submit reservation_group b-t' flex>
      <div class='md-list-item'>
        <div class='md-list-item-content text-center'>
          <h4>Groups</h4>
        </div>
      </div>
      <div class='wrapper'>
        <label ng-repeat='part in reserv.reservation.reservation_parts'
               class='btn btn-default block m-b-xs no-shadow text-success text-left'
               ng-click='reserv.selectTab(0)'
               ng-model='reserv.current_part'
               btn-radio='part'>
          <span class='m-r-lg'>
            <i class='mdi mdi-clock'></i>
            {{ reserv.moment(part.date).format('DD.MM.YY') }} {{ part.time }}
          </span>
          <span class='m-r-lg' ng-show='part.number_of_persons'>
            <i class='mdi mdi-account-multiple'></i>
            <small class='font-thin m-r-xs'>{{ part.number_of_persons }}x</small>
          </span>
          <span class='m-r-lg' ng-show='part.product'>
            <i class='mdi mdi-silverware-variant'></i>
            <small class='font-thin'>{{ reserv.Reservation.getProductNameByProductId(reserv.products, part.product) }}</small>
          </span>
          <span class='m-r-lg' ng-show='part.tables.length'>
            <img class='table_icon' src='public/images/table.svg' />
            <small class='font-thin' ng-bind='reserv.Table.getTableNumbersByTableIds(reserv.tables, part.tables).join(", ")'></small>
          </span>
          <div class='pull-right'>
            <i class='mdi mdi-delete' ng-click='reserv.removePart($event, $index);'></i>
          </div>
        </label>

        <label ng-click='reserv.addPart()'
               class='btn btn-sm font-bold m-xs text-success no-shadow no-border'>Add activiteit</label>

        <button type='button'
                class='btn btn-lg btn-success w-full no-top-radius md-content-button'
                ng-click='reserv.selectTab(reserv.pagination.person);'>NAAST</button>
      </div>
    </div>
  </md-tab-body>
</md-tab>