<div class='wrapper' layout='column' layout-align='space-around center'>
  <div class='w-xl'>
    <p>
      <small class='text-muted' translate='allergies'></small>
    </p>
    <md-input-container class='md-block'>
      <label translate='guest_name'></label>
      <input ng-model='reserv.allergy_data.owner' />
    </md-input-container>

    <md-autocomplete
        md-search-text='reserv.allergy_data.allergy'
        md-items='item in reserv.searchPreferncesAndAllergies(reserv.allergy_data.allergy, reserv.allergies)'
        md-item-text='item'
        md-min-length='0'
        md-menu-container-class='input-suggestion'
        md-floating-label='{{ "name" | translate }}'>
      <md-item-template>
        <span>{{ item }}</span>
      </md-item-template>
    </md-autocomplete>

    <button type='button'
            md-ink-ripple
            ng-click='reserv.addAllergy()'
            ng-disabled='!reserv.allergyIsValid()'
            class='md-btn md-flat m-b m-t btn-fw text-success'
            translate='add_allergy'>
    </button>
    <label class='btn btn-default block m-b-xs no-shadow text-success text-left'
           ng-repeat='allergy in reserv.reservation.allergies'>
      <span class='m-r-sm'>
        {{ allergy.owner }} - {{ allergy.allergy }}
      </span>
      <div class='pull-right'>
        <i class='mdi mdi-delete' ng-click='reserv.removeAllergy($index);'></i>
      </div>
    </label>
  </div>
</div>

<hr class='no-margin' />

<div class='wrapper' layout='column' layout-align='space-around center'>
  <div class='w-xl'>
    <p>
      <small class='text-muted'>Preferences</small>
    </p>
    <md-input-container class='md-block'>
      <label translate='guest_name'></label>
      <input ng-model='reserv.preference_data.owner' />
    </md-input-container>

    <md-autocomplete
        md-search-text='reserv.preference_data.name'
        md-items='item in reserv.searchPreferncesAndAllergies(reserv.preference_data.name, reserv.preferences)'
        md-item-text='item'
        md-min-length='0'
        md-menu-container-class='input-suggestion'
        md-floating-label='{{ "name" | translate }}'>
      <md-item-template>
        <span>{{ item }}</span>
      </md-item-template>
    </md-autocomplete>

    <md-input-container class='md-block'>
      <label translate='value'></label>
      <input ng-model='reserv.preference_data.value' />
    </md-input-container>
    <button type='button'
            md-ink-ripple
            ng-click='reserv.addPreference()'
            ng-disabled='!reserv.preferenceIsValid()'
            class='md-btn md-flat m-b m-t btn-fw text-success'
            translate='add_preference'>
    </button>
    <label class='btn btn-default block m-b-xs no-shadow text-success text-left'
           ng-repeat='preference in reserv.reservation.preferences'>
      <span class='m-r-sm'>
        {{ preference.owner }} - {{ preference.name }} {{ preference.value }}
      </span>
      <div class='pull-right'>
        <i class='mdi mdi-delete' ng-click='reserv.removePreference($index);'></i>
      </div>
    </label>
  </div>
</div>

<hr class='no-margin' />
