<md-tab>
  <md-tab-label>
    <div class='text-center l-h'><i class='mdi mdi-clock'></i></div>
    <div class='text-center l-h'>
      <span ng-show='reserv.current_part.time'>{{ reserv.current_part.time }}</span>
      <span ng-hide='reserv.current_part.time'>TIJDSTIP</span>
    </div>
  </md-tab-label>
  <md-tab-body>
    <div class='b-t' flex>
      <div class='md-list-item'>
        <div class='md-list-item-content text-center'>
          <h4>Beschikbare tijden</h4>
          <i class="mdi mdi-alert-circle i-16 red-color-200"></i>
          – Not enough available seats
        </div>
      </div>
      <div class='wrapper red-300 layout-align-space-around-center layout-column'
           ng-show='!reserv.current_part.date || !reserv.current_part.number_of_persons || !reserv.current_part.product'>
        <div class='w-xl'>
          <div ng-repeat='item in ["date", "number_of_persons", "product"]'
               ng-show='!reserv.current_part[item]'>
            {{ item.split('_').join(' ') }} is verplicht
          </div>
        </div>
      </div>
      <div class='wrapper' layout='column' layout-align='space-around center'>
        <div class='w-xl'>
          <label ng-repeat='time_obj in reserv.openedTimeRangePeriod()'
                 ng-change='reserv.changeTimePostProcess()'
                 ng-class="{ 'btn-success': reserv.current_part.time == time_obj.time,
                             'disabled red-300': reserv.timeIsDisabled(time_obj),
                             'btn-default text-success': !reserv.timeIsDisabled(time_obj) }"
                 class='time_item btn btn-lg no-shadow'
                 ng-model='reserv.current_part.time'
                 uncheckable
                 btn-radio='time_obj.time'>{{ time_obj.time }}</label>
          </div>
        </div>
      </div>
    </div>
  </md-tab-body>
</md-tab>