<md-tab>
  <md-tab-label>
    <div class='text-center l-h'><i class='mdi mdi-silverware-variant'></i></div>
    <div class='text-center l-h'>
      <span ng-show='reserv.current_part.product'>{{ reserv.Reservation.getProductNameByProductId(reserv.products, reserv.current_part.product) }}</span>
      <span ng-hide='reserv.current_part.product'>PRODUCT</span>
    </div>
  </md-tab-label>
  <md-tab-body>
    <div class='reservation_product b-t' flex>
      <div class='md-list-item'>
        <div class='md-list-item-content text-center'>
          <h4>Welk product komt de klant voor?</h4>
        </div>
      </div>
      <div class='wrapper'>
        <div class='text-center' ng-show='reserv.products_is_loaded'>
          <label ng-repeat='product in reserv.products'
                 ng-change='reserv.changeProductPostProcess()'
                 ng-if='reserv.checkProductForTimeRange(product.id)'
                 class='box'
                 ng-model='reserv.current_part.product'
                 uncheckable
                 btn-radio='product.id'>
            <i class='box_active_icon mdi mdi-check'></i>
            <i class='box_icon mdi' ng-class="product.icon_class"></i>
            <p class='no-margin'>{{ product.name }}</p>
          </label>
        </div>
      </div>
    </div>
  </md-tab-body>
</md-tab>