<md-tab>
  <md-tab-label>
    <div class='text-center l-h'><i class='mdi mdi-clock'></i></div>
    <div class='text-center l-h' ng-show='reserv.current_part.time_type == "single"'>
      <span ng-show='reserv.current_part.time'>
        <span>{{ reserv.current_part.time }}</span>
      </span>
      <span ng-hide='reserv.current_part.time'>TIJDSTIP</span>
    </div>
    <div class='text-center l-h' ng-show='reserv.current_part.time_type == "range"'>
      <span ng-show='reserv.current_part.start_date_time'>
        <span>{{ reserv.current_part.start_date_time }} - {{ reserv.current_part.end_date_time }}</span>
      </span>
      <span ng-hide='reserv.current_part.start_date_time'>TIJDSTIP</span>
    </div>
  </md-tab-label>
  <md-tab-body>
    <div class='b-t' flex>
      <div class='md-list-item'>
        <div class='md-list-item-content text-center'>
          <h4>Beschikbare tijden</h4>
        </div>
      </div>

      <div class='wrapper' layout='column' layout-align='space-around center'>
        <div class='w-xl'>
            <div class='text-center' ng-show='reserv.current_part.time_is_loaded'>
              <div class='md-form-group no-padder' ng-if='reserv.reservation.group'>
              <md-radio-group ng-model="reserv.current_part.time_type">
                <md-radio-button value='single' class='inline md-success'>Single</md-radio-button>
                <md-radio-button value='range' class='inline md-success'>Range</md-radio-button>
              </md-radio-group>
            </div>
            <label ng-repeat='time_obj in reserv.ReservationLogic.openedTimeRangePeriod(reserv.current_part.available_time)'
                   ng-if='reserv.current_part.time_type == "single"'
                   ng-change='reserv.changeTimePostProcess(time_obj.time)'
                   ng-class="{ 'btn-success': reserv.current_part.time == time_obj.time,
                               'disabled': reserv.timeIsDisabled(time_obj)}"
                   class='btn btn-default btn-lg m-xs m-l-none no-shadow text-success'
                   ng-model='reserv.current_part.time'
                   uncheckable
                   btn-radio='time_obj.time'>{{ time_obj.time }}</label>

            <label ng-repeat='time_obj in reserv.ReservationLogic.openedTimeRangePeriod(reserv.current_part.available_time)'
                   ng-if='reserv.current_part.time_type == "range"'
                   ng-change='reserv.changeTimePostProcess(time_obj.time)'
                   ng-class="{ 'btn-success': reserv.current_part.time_range[time_obj.time],
                               'disabled': reserv.timeIsDisabled(time_obj) }"
                   ng-model='reserv.current_part.time_range[time_obj.time]'
                   class='btn btn-default btn-lg m-xs m-l-none no-shadow text-success'
                   uncheckable
                   btn-checkbox>{{ time_obj.time }}</label>
          </div>
        </div>
      </div>
    </div>
  </md-tab-body>
</md-tab>