<md-tab>
  <md-tab-label>
    <div class='text-center l-h'><i class='mdi mdi-account'></i></div>
    <div class='text-center l-h' translate='persons'></div>
  </md-tab-label>
  <md-tab-body>
    <div class='md-content-submit reservation_person' flex>
      <div class='wrapper' layout='column' layout-align='space-around center'>
        <div class='w-xl'>
          <p>
            <small class='text-muted' translate='reservation.general_info'></small>
          </p>
          <div data-ng-include=" 'new_reservation.person.autocomplete.view.html' "
               ng-if='reserv.showAutocompleteCustomerName()'
               class='no-margin'></div>

          <div ng-if='!reserv.showAutocompleteCustomerName()'>
            <md-input-container class='md-block'>
              <label translate='last_name'></label>
              <input ng-model='reserv.reservation.last_name' />
            </md-input-container>
            <md-input-container class='md-block'>
              <label translate='first_name'></label>
              <input ng-model='reserv.reservation.first_name' />
            </md-input-container>
          </div>
          <md-input-container class='md-block'>
            <label translate='email'></label>
            <input type='email' ng-model='reserv.reservation.mail' />
          </md-input-container>
          <md-input-container class='md-block'>
            <label translate='phone'></label>
            <input
              class='phone'
              ng-model='reserv.reservation.primary_phone_number'
              ui-mask='+99999999999'
              model-view-value='true' />
          </md-input-container>
          <md-input-container class='md-block'>
            <label translate='note'></label>
            <input ng-model='reserv.reservation.notes' />
          </md-input-container>
          <div class='md-form-group no-padder'>
            <md-radio-group ng-model="reserv.reservation.language">
              <md-radio-button value='NL' class='inline md-success'>
                {{ 'language.netherlands' | translate }}
              </md-radio-button>
              <md-radio-button value='EN' class='inline md-success'>
                {{ 'language.english' | translate }}
              </md-radio-button>
            </md-radio-group>
          </div>
          <div class='md-form-group no-padder' ng-if='!reserv.is_customer_reservation'>
            <md-checkbox ng-model='reserv.reservation.send_confirmation'
                         ng-checked='true'
                         aria-label='{{ "mail_confirmation" | translate }}'>
              {{ 'mail_confirmation' | translate }}
            </md-checkbox>
          </div>
        </div>
      </div>

      <div ng-show='reserv.additional_is_opened'>
        <hr class='no-margin' />

        <div data-ng-include=" 'new_reservation.person.preferences.view.html' "
               ng-if='reserv.is_customer_reservation'
               class='no-margin'></div>

        <div class='wrapper' layout='column' layout-align='space-around center'>
          <div class='w-xl'>
            <p>
              <small class='text-muted' translate='reservation.additional_info'></small>
            </p>
            <md-input-container class='md-block'>
              <label translate='second_phone'></label>
              <input
                class='phone'
                ng-model='reserv.reservation.secondary_phone_number'
                ui-mask='+99999999999'
                model-view-value='true' />
            </md-input-container>
            <md-input-container class='md-block'>
              <label translate='birthdate'></label>
              <input class='md-input'
                     ng-focus='reserv.openDatepicker($event)'
                     ng-model='reserv.reservation.date_of_birth'
                     datepicker-popup='{{ reserv.AppConstants.calendar.format }}'
                     is-open='reserv.opened'
                     datepicker-options='reserv.AppConstants.calendar.date_options'
                     show-button-bar='false'
                     close-text='Close' />
            </md-input-container>
            <md-input-container class='md-block'>
              <label translate='address'></label>
              <input ng-model='reserv.reservation.street' />
            </md-input-container>
            <md-input-container class='md-block'>
              <label translate='house_number'></label>
              <input ng-model='reserv.reservation.house_number' />
            </md-input-container>
            <md-input-container class='md-block'>
              <label translate='postcode'></label>
              <input ng-model='reserv.reservation.zipcode' />
            </md-input-container>
            <md-input-container class='md-block'>
              <label translate='city'></label>
              <input ng-model='reserv.reservation.city' />
            </md-input-container>
            <md-input-container class='md-block'>
              <label translate='company_name'></label>
              <input ng-model='reserv.reservation.company_name' />
            </md-input-container>
            <div class='md-form-group no-padder'>
              <md-radio-group ng-model='reserv.reservation.gender'>
                <md-radio-button value='Man' class='inline md-success'>
                  {{ 'male' | translate }}
                </md-radio-button>
                <md-radio-button value='Vrouw' class='inline md-success'>
                  {{ 'female' | translate }}
                </md-radio-button>
              </md-radio-group>
            </div>

            <div ng-if='!reserv.is_customer_reservation'
                 ng-show='reserv.reservation.reservation_pdf'>
              <label class='btn btn-default block m-b-xs no-shadow text-success text-left'
                     ng-click='reserv.loadPDF();'>
                <span class='m-r-sm'>
                  <i class='mdi mdi-pdf'></i>
                  <translate>reservation.pdf</translate>
                </span>
                <div class='pull-right'>
                  <i class='mdi mdi-delete' ng-click='reserv.removePdf($event);'></i>
                </div>
              </label>
            </div>

            <button type='button'
                    ng-if='!reserv.is_customer_reservation'
                    md-ink-ripple
                    class='md-btn md-flat m-b m-t btn-fw text-success m-l-6'
                    ngf-select='reserv.uploadImage($file, $invalidFiles)'
                    ngf-drop=''
                    ngf-max-size="1MB"
                    ngf-pattern="'.pdf'"
                    accept='application/pdf'
                    ng-model='reserv.reservation.reservation_pdf'>
              {{ 'reservation.pdf_upload' | translate }}...
            </button>
          </div>
        </div>
      </div>
      <button type='button'
              md-ink-ripple
              ng-click='reserv.triggerAdditionalInfo()'
              class='md-btn w-full md-flat btn-fw no-radius text-success'>
          <span ng-hide='reserv.additional_is_opened'>
            <i class='mdi mdi-plus-circle-outline'></i>
            <translate class='uppercase'>reservation.more_fields</translate>
          </span>
          <span ng-show='reserv.additional_is_opened'>
            <i class='mdi mdi-minus-circle-outline'></i>
            <translate class='uppercase'>reservation.less_fields</translate>
          </span>
      </button>

      <div class='wrapper red-300 layout-align-space-around-center layout-column'
           ng-show='reserv.errors.length'>
        <div class='w-xl'>
          <div ng-repeat='error in reserv.errors'>
            {{ error }}
          </div>
        </div>
      </div>
      <button type='submit'
              class='btn btn-lg btn-success w-full no-top-radius md-content-button'
              ng-class="{ 'disabled': reserv.is_submitting }"
              ng-show='reserv.isPersonTab() && !reserv.is_success'>
        <translate>reservation.reserve</translate>
      </button>
    </div>
  </md-tab-body>
</md-tab>