<md-tab>
  <md-tab-label>
    <div class='text-center l-h'><i class='mdi mdi-account-multiple'></i></div>
    <div class='text-center l-h'>
      <span ng-show='reserv.current_part.number_of_persons'>
        {{ reserv.current_part.number_of_persons }} PERSONEN
      </span>
      <span ng-hide='reserv.current_part.number_of_persons'>AANTAL</span>
    </div>
  </md-tab-label>
  <md-tab-body>
    <div class='reservation_person_count b-t' flex>
      <div class='md-list-item'>
        <div class='md-list-item-content text-center'>
          <h4>Aantal personen</h4>
        </div>
      </div>
      <div class='wrapper' layout='column' layout-align='space-around center'>
        <div class='w-lg'>
          <label ng-repeat='number in [1,2,3,4,5,6,7,8,9,10]'
            ng-change='reserv.changeNumberOfPersonsPostProcess()'
            ng-class="{ 'btn-success': reserv.current_part.number_of_persons == number }"
            class='btn btn-default btn-sm font-bold m-xs text-success'
            ng-model='reserv.current_part.number_of_persons'
            uncheckable
            btn-radio='number'>{{ number }}</label>

          <label ng-click='reserv.ReservationLogic.triggerChooseNumberOfPersons()'
                 ng-hide='reserv.ReservationLogic.choose_number_of_persons_is_opened'
                 class='btn btn-sm font-bold m-xs text-success no-shadow no-border'>More...</label>

          <div class='m-t-md' ng-show='reserv.ReservationLogic.choose_number_of_persons_is_opened'>
            <md-input-container class='md-block'>
              <label>Aantal personen</label>
              <input type='number'
                     class='md-input'
                     ng-model='reserv.current_part.number_of_persons' required />
            </md-input-container>
            <button type='button'
                    class='btn btn-md btn-success text-success'
                    ng-click='reserv.ReservationLogic.triggerChooseNumberOfPersons();reserv.selectTab(reserv.pagination.number_of_persons);'>Ok</button>
          </div>
          <div class='md-form-group no-padder' ng-if='!reserv.is_customer_reservation'>
            <md-checkbox ng-model="reserv.reservation.is_group" aria-label="Group?">
              Group?
            </md-checkbox>
          </div>
        </div>
      </div>
    </div>
  </md-tab-body>
</md-tab>