.list_number_point
  padding-left 0
  list-style-type none
  
  li
    clear both
    line-height 28px

    span.number_point
      margin 3px 15px 0 0
      float left
      border 1px solid font-color
      border-radius 50%
      width 22px
      height 22px
      line-height 20px
      text-align center

.plugin-image
  position relative
  width 200px

  img
    width 100%

  i
    color #fff

  div
    position absolute
    top 5px
    right 5px

.untill-logo
  a
    background url('../../../public/images/logos/untill.jpg') no-repeat 0 0
    display block
    width 70px
    height 68px
    background-size cover

.api-checked
  color default-success-color
  position relative
  top 20px
  left 20px
