<div class='panel'>
  <div class='panel-heading' translate='mails'></div>
  <form ng-show='mails_settings.is_loaded'>
	  <div class='md-list'>
	  	<div class='md-list-item clear'>
	  		<div class='pull-left'>
		  		<h3 class='no-margin text-md' translate='settings.mails.request_confirm'></h3>
		  		<small class='text-muted' translate='settings.mails.request_confirm_description'></small>
	  		</div>
	  		<div class='pull-right m-r-n-xs'>
          <div class='md-form-group no-padder'>
            <md-switch ng-model='mails_settings.mails_settings_form_data.send_mail_to_owner_on_request'
            					 ng-change='mails_settings.submitMailsSettingsForm()'></md-switch>
          </div>
	  		</div>
	  	</div>
	  	<div class='md-list-item clear'>
	  		<div class='pull-left'>
		  		<h3 class='no-margin text-md' translate='settings.mails.reserv_confirm'></h3>
		  		<small class='text-muted' translate='settings.mails.reserv_confirm_description'></small>
	  		</div>
	  		<div class='pull-right m-r-n-xs'>
          <div class='md-form-group no-padder'>
            <md-switch ng-model='mails_settings.mails_settings_form_data.send_confirmation_mail_to_owner'
            					 ng-change='mails_settings.submitMailsSettingsForm()'></md-switch>
          </div>
	  		</div>
	  	</div>
      <div class='md-list-item clear'>
        <div class='pull-left'>
          <h3 class='no-margin text-md' translate='settings.mails.reserv_confirm'></h3>
          <small class='text-muted' translate='settings.mails.reserv_confirm_description'></small>
        </div>
        <div class='pull-right m-r-n-xs'>
          <div class='md-form-group no-padder'>
            <md-switch ng-model='mails_settings.mails_settings_form_data.send_mail_after_visit'
                       ng-change='mails_settings.submitMailsSettingsForm()'></md-switch>
          </div>
        </div>
      </div>
      <div class='md-list-item clear'>
        <div class='pull-left m-t-sm'>
          <h3 class='no-margin text-md' translate='settings.mails.send_mail_after_visit_in'></h3>
        </div>
        <div class='pull-right'>
          <md-input-container class='w-3x no-margin'>
            <input type='number'
                   class='text-center'
                   ng-model='mails_settings.mails_settings_form_data.send_mail_after_visit_hours_delay'
                   ng-change='mails_settings.submitMailsSettingsForm()'
                   required
                   ng-maxlength='3'
                   minlength='1'
                   min='0' />
          </md-input-container>
        </div>
      </div>
	  </div>
  </form>
</div>

<div class='panel blue-50' ng-show='mails_settings.is_loaded'>
  <div class='panel-body'>
    <p translate='settings.mails.following_placeholders'></p>
    <ul>
      <li>%OPMERKINGEN%</li>
      <li>%STATUS%</li>
      <li>%BEDRIJFSNAAM%</li>
      <li>%AANTAL_PERSONEN%</li>
      <li>%TIJDSTIP%</li>
      <li>%VOORNAAM%</li>
      <li>%ACHTERNAAM%</li>
      <li>%PRIMAIR_NUMMER%</li>
      <li>%SECUNDAIR_NUMMER%</li>
      <li>%STRAAT%</li>
      <li>%HUISNUMMER%</li>
      <li>%POSTCODE%</li>
      <li>%PLAATS%</li>
      <li>%MAIL%</li>
      <li>%GEBOORTEDATUM%</li>
      <li>%GESLACHT%</li>
      <li>%RESTAURANTNAAM%</li>
      <li>%PRODUCT%</li>
      <li>%EINDTIJD%</li>
      <li>%STARTTIJD%</li>
      <li>%DATUM%</li>
      <li>%ICAL_LINK%</li>
      <li>%GOOGLE_CAL_LINK%</li>
      <li>%TNRLINK%</li>
    </ul>
  </div>
</div>

<div class='panel'>
  <div class='panel-heading' translate='settings.mails.netherlands'></div>
  <div class='md-list' ng-show='mails_settings.is_loaded'>
    <div class='md-list-item no-padder'>
      <table class='table'>
        <thead>
          <th translate='type'></th>
          <th translate='title'></th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="mail in mails_settings.mails_texts_settings | filter:{ language: 'NL' }">
            <td class='v-middle'>{{ 'settings.mails.statuses.' + mail.type | translate }}</td>
            <td class='v-middle'>{{ mail.title }}</td>
            <td class='v-middle text-right'>
              <md-menu>
                <button md-ink-ripple
                      class='md-btn md-fab no-shadow'
                      ng-disabled='disabled'
                      aria-haspopup='true'
                      aria-expanded='false'
                      aria-disabled='false'
                      ng-click='$mdMenu.open($event)'>
                  <i class='mdi mdi-dots-vertical i-24'></i>
                </button>
                <md-menu-content>
                  <md-menu-item>
                    <md-button ng-click='mails_settings.editMail(mail.id)'>
                      {{ 'settings.mails.edit' | translate }}
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class='panel'>
  <div class='panel-heading' translate='settings.mails.english'></div>
  <div class='md-list' ng-show='mails_settings.is_loaded'>
    <div class='md-list-item no-padder'>
      <table class='table'>
        <thead>
          <th translate='type'></th>
          <th translate='title'></th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="mail in mails_settings.mails_texts_settings | filter:{ language: 'EN' }">
            <td class='v-middle'>{{ 'settings.mails.statuses.' + mail.type | translate }}</td>
            <td class='v-middle'>{{ mail.title }}</td>
            <td class='v-middle text-right'>
              <md-menu>
                <button md-ink-ripple
                      class='md-btn md-fab no-shadow'
                      ng-disabled='disabled'
                      aria-haspopup='true'
                      aria-expanded='false'
                      aria-disabled='false'
                      ng-click='$mdMenu.open($event)'>
                  <i class='mdi mdi-dots-vertical i-24'></i>
                </button>
                <md-menu-content>
                  <md-menu-item>
                    <md-button ng-click='mails_settings.editMail(mail.id)'>
                      {{ 'settings.mails.edit' | translate }}
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>