<div class='panel'>
  <div class='panel-heading'>Mails</div>
  <div class='wrapper'
  		 layout='row'
  		 layout-align='space-around'
  		 ng-hide='mails_settings.is_loaded'>
    <md-progress-circular md-mode="indeterminate" md-diameter='22'></md-progress-circular>
  </div>
  <form ng-show='mails_settings.is_loaded'>
	  <div class='md-list'>
	  	<div class='md-list-item clear'>
	  		<div class='pull-left'>
		  		<h3 class='no-margin text-md'>Aanvraagbevestiging</h3>
		  		<small class='text-muted'>Aanvraagbevestiging aan de restauranteigenaar sturen</small>
	  		</div>
	  		<div class='pull-right m-r-n-xs'>
          <div class='md-form-group no-padder'>
            <md-switch ng-model='mails_settings.mails_settings_form_data.send_mail_to_owner_on_request'
            					 ng-change='mails_settings.submitMailsSettingsForm()'></md-switch>
          </div>
	  		</div>
	  	</div>
	  	<div class='md-list-item clear'>
	  		<div class='pull-left'>
		  		<h3 class='no-margin text-md'>Reserveringsbevestiging</h3>
		  		<small class='text-muted'>Reserveringsbevestiging aan de restauranteigenaar sturen</small>
	  		</div>
	  		<div class='pull-right m-r-n-xs'>
          <div class='md-form-group no-padder'>
            <md-switch ng-model='mails_settings.mails_settings_form_data.send_confirmation_mail_to_owner'
            					 ng-change='mails_settings.submitMailsSettingsForm()'></md-switch>
          </div>
	  		</div>
	  	</div>
      <div class='md-list-item'>
        <div class='clear'>
          <div class='pull-left'>
            <h3 class='no-margin text-md'>Mail na bezoek</h3>
            <small class='text-muted'>Geef aan hoeveel uur na het bezoek je een mail wil versturen</small>
          </div>
          <div class='pull-right m-r-n-xs'>
            <div class='md-form-group no-padder'>
              <md-switch ng-model='mails_settings.mails_settings_form_data.send_mail_after_visit'
                         ng-change='mails_settings.submitMailsSettingsForm()'></md-switch>
            </div>
          </div>
        </div>
        <div class='clear'>
          <div class='pull-left m-t-sm'>
            <small class='text-muted'>Mail X uren na bezoek versturen</small>
          </div>
          <div class='pull-right'>
            <md-input-container class='w-3x no-margin'>
              <input type='number'
                     class='text-center'
                     ng-model='mails_settings.mails_settings_form_data.send_mail_after_visit_hours_delay'
                     ng-change='mails_settings.submitMailsSettingsForm()'
                     required
                     ng-maxlength='3'
                     minlength='1'
                     min='0' />
            </md-input-container>
          </div>
        </div>
      </div>
	  </div>
  </form>
</div>

<div class='panel'>
  <div class='panel-heading'>Nederlandse mails</div>
  <div class='wrapper'
       layout='row'
       layout-align='space-around'
       ng-hide='mails_settings.is_loaded'>
    <md-progress-circular md-mode="indeterminate" md-diameter='22'></md-progress-circular>
  </div>
  <div class='wrapper blue-50' ng-show='mails_settings.is_loaded'>
    <p>De volgende placeholders kunnen worden gebruikt:</p>
    <ul>
      <li>%OPMERKINGEN%</li>
      <li>%STATUS%</li>
      <li>%BEDRIJFSNAAM%</li>
      <li>%AANTAL_PERSONEN%</li>
      <li>%TIJDSTIP%</li>
      <li>%VOORNAAM%</li>
      <li>%ACHTERNAAM%</li>
      <li>%PRIMAIR_NUMMER%</li>
      <li>%SECUNDAIR_NUMMER%</li>
      <li>%STRAAT%</li>
      <li>%HUISNUMMER%</li>
      <li>%POSTCODE%</li>
      <li>%PLAATS%</li>
      <li>%MAIL%</li>
      <li>%GEBOORTEDATUM%</li>
      <li>%GESLACHT%</li>
      <li>%PRODUCT%</li>
      <li>%EINDTIJD%</li>
      <li>%STARTTIJD%</li>
      <li>%DATUM%</li>
      <li>%ICAL_LINK%</li>
      <li>%GOOGLE_CAL_LINK%</li>
      <li>%TNRLINK%</li>
    </ul>
  </div>
  <div class='md-list' ng-show='mails_settings.is_loaded'>
    <div class='md-list-item no-padder'>
      <table class='table'>
        <thead>
          <th>Type</th>
          <th>Titel</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="mail in mails_settings.mails_texts_settings | filter:{ language: 'NL' }">
            <td class='v-middle'>{{ mails_settings.statuses[mail.type] }}</td>
            <td class='v-middle'>{{ mail.title }}</td>
            <td class='v-middle text-right'>
              <md-menu>
                <button md-ink-ripple
                      class='md-btn md-fab no-shadow'
                      ng-disabled='disabled'
                      aria-haspopup='true'
                      aria-expanded='false'
                      aria-disabled='false'
                      ng-click='$mdMenu.open($event)'>
                  <i class='mdi mdi-dots-vertical i-24'></i>
                </button>
                <md-menu-content>
                  <md-menu-item>
                    <md-button ng-click='mails_settings.editMail(mail.id)'>Mail bewerken</md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class='panel'>
  <div class='panel-heading'>Engelse mails</div>
  <div class='wrapper'
       layout='row'
       layout-align='space-around'
       ng-hide='mails_settings.is_loaded'>
    <md-progress-circular md-mode="indeterminate" md-diameter='22'></md-progress-circular>
  </div>
  <div class='md-list' ng-show='mails_settings.is_loaded'>
    <div class='md-list-item no-padder'>
      <table class='table'>
        <thead>
          <th>Type</th>
          <th>Titel</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat="mail in mails_settings.mails_texts_settings | filter:{ language: 'EN' }">
            <td class='v-middle'>{{ mails_settings.statuses[mail.type] }}</td>
            <td class='v-middle'>{{ mail.title }}</td>
            <td class='v-middle text-right'>
              <md-menu>
                <button md-ink-ripple
                      class='md-btn md-fab no-shadow'
                      ng-disabled='disabled'
                      aria-haspopup='true'
                      aria-expanded='false'
                      aria-disabled='false'
                      ng-click='$mdMenu.open($event)'>
                  <i class='mdi mdi-dots-vertical i-24'></i>
                </button>
                <md-menu-content>
                  <md-menu-item>
                    <md-button ng-click='mails_settings.editMail(mail.id)'>Mail bewerken</md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>