<section class='no-margin page_filter_settings'>
  <md-toolbar class='blue-grey-900'>
    <div class='md-toolbar-tools'
         ng-click='page_filter_settings.closeModal();'
         ng-show='page_filter_settings.state === "list"'>
      <i class='mdi mdi-close m-r-sm' />
      Overboeken aan/uit zetten
    </div>
    <div class='md-toolbar-tools'
         ng-click='page_filter_settings.setStateToList();'
         ng-show='page_filter_settings.state === "form"'>
        <i class='mdi mdi-arrow-left m-r-sm' />
      Overboeken aan/uit zetten
    </div>
  </md-toolbar>
  <md-content>
    <div ng-class='page_filter_settings.state === "list" ? "show" : "transparent"'>
      <div class='wrapper'>
        <p>Met overboeken kun je zorgen dat er meer personen toegelaten<br />
        worden tot je zaak dan er aan tafels beschikbaar is. Kies hieronder<br />
        je tijdsperiodes waarin je dit wil doen.</p>
      </div>
      <table class='table no-margin' ng-show='page_filter_settings.is_loaded'>
        <thead>
          <th>Type</th>
          <th>Waarde</th>
          <th>Starttijd</th>
          <th>Eindttijd</th>
          <th>Hele dag?</th>
          <th></th>
        </thead>
        <tbody>
          <tr ng-repeat='time_range in page_filter_settings.time_ranges'>
            <td class='v-middle'>{{ time_range.type }}</td>
            <td class='v-middle'>{{ time_range.value ? 'Overboeken' : 'Niet overboeken' }}</td>
            <td class='v-middle'>{{ time_range.start_time }}</td>
            <td class='v-middle'>{{ time_range.end_time }}</td>
            <td class='v-middle'>{{ time_range.whole_day ? 'Hele dag' : '-' }}</td>
            <td class='v-middle text-right'>
              <button md-ink-ripple
                      class='md-btn md-fab no-shadow'
                      ng-disabled='disabled'
                      aria-haspopup='true'
                      aria-expanded='false'
                      aria-disabled='false'
                      ng-click='page_filter_settings.edit(time_range)'>
                  <i class='mdi mdi-pencil i-20'></i>
                </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div layout='row' layout-align='space-around' ng-hide='page_filter_settings.is_loaded'>
        <md-progress-circular md-mode="indeterminate" md-diameter='24'></md-progress-circular>
      </div>
      <div class='wrapper'>
        <button md-ink-ripple
                class='md-btn md-flat btn-fw text-success'
                ng-click='page_filter_settings.add();'>
          <i class='mdi mdi-plus-circle-outline'></i>
          NIEUWE TIJDSZONE 
        </button>
      </div>
    </div>
    
    <div ng-class='page_filter_settings.state === "form" ? "show" : "transparent"'>
      <form name='page_filter_settings_form'
            ng-submit='page_filter_settings.submitForm(page_filter_settings_form.$valid);'>
        <div class='wrapper' layout='column' layout-align='space-around center'>
          <div class='w-xl'>
            <md-datepicker ng-model='page_filter_settings.form_data.fixed_date'></md-datepicker>
            <p class='no-margin'>Stel hier tijden in om de openingtijden te veranderen (de default vaarde zijn de openingstijden die het product of zone nu neeft.)</p>
          </div>
        </div>
        <div class='wrapper'>
          <rzslider rz-slider-model="page_filter_settings.slider.minValue"
                    rz-slider-high="page_filter_settings.slider.maxValue"
                    rz-slider-options="page_filter_settings.slider.options"></rzslider>
        </div>
        <div class='wrapper' layout='column' layout-align='space-around center'>
          <div class='w-xl'>
            <div class='md-form-group no-padder'>
              <md-checkbox ng-model='page_filter_settings.form_data.value' aria-label='Overboeken'>
                Overboeken
              </md-checkbox>
            </div>
            <div class='md-form-group no-padder'>
              <md-checkbox ng-model='page_filter_settings.form_data.whole_day'
                           ng-change='page_filter_settings.slider.options.disabled = page_filter_settings.form_data.whole_day'
                           aria-label='Hele dag?'>
                Hele dag?
              </md-checkbox>
            </div>

            <div class='b-a wrapper rounded-sm m-t-md'>Door deze verandering kunnen eerder geplaatste reserveringen buiten de openingtijden terecht komen</div>
            <p ng-if='page_filter_settings.form_data.id'
               class='m-t-md'>
              <span class='text-danger' ng-click='page_filter_settings.destoyWithConfirm();'>TIJDSZONE VERWIJDEREN</span>
            </p>
          </div>
        </div>

        <button type='submit'
                class='btn btn-lg btn-success text-success w-full no-top-radius md_content_button'
                ng-class="{ 'disabled': !page_filter_settings_form.$valid }">
          <span ng-hide='page_filter_settings.is_submitting'>OPSLAAN</span>
          <div layout='row' layout-align='space-around' ng-show='page_filter_settings.is_submitting'>
            <md-progress-circular md-mode="indeterminate" md-diameter='24' class='white'></md-progress-circular>
          </div>
        </button>
      </form>
    </div>
  </md-content>
</section>