<section class='no-margin'>
  <md-toolbar>
    <div class='md-toolbar-tools'>
      <h2 md-truncate flex translate='customers.customer_merge.title'></h2>
      <md-button class='md-icon-button'
                 ng-click='customer_merge.$modalInstance.dismiss("cancel")'
                 md-no-ink>
        <i class='mdi mdi-close m-r-sm i-24'></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-content>
    <div class='wrapper'>
      <div class='panel' ng-repeat='mergeData in customer_merge.auto_merge'>
        <div class='panel-heading'>
          <h4>
            {{ mergeData.source.last_name }} {{ mergeData.source.first_name }} (#{{ mergeData.source.id }})
            <i class='mdi mdi-arrow-right' />
            {{ mergeData.target.last_name }} {{ mergeData.target.first_name }} (#{{ mergeData.target.id }})
          </h4>
        </div>
        <div class='panel-footer'>
          <button class='md-btn md-flat btn-fw text-success'
                  ng-click='customer_merge.merge(mergeData)'
                  type='button'
                  translate='merge'
                  md-ink-ripple></button>
          <button class='md-btn md-flat btn-fw text-success'
                  ng-click='customer_merge.ignore(mergeData)'
                  type='button'
                  translate='ignore'
                  md-ink-ripple></button>
        </div>
      </div>

      <div class='panel' ng-repeat='mergeData in customer_merge.manual_merge'>
        <div class='panel-heading'>
          <h4>
            {{ mergeData.source.last_name }} {{ mergeData.source.first_name }} ({{ mergeData.source.id }}) -> {{ mergeData.target.last_name }} {{ mergeData.target.first_name }} ({{ mergeData.target.id }})
          </h4>
        </div>
        <div class='panel-body'>
          <table class='table m-b-none'>
            <thead>
              <th>Key</th>
              <th>Customer #1 value</th>
              <th>Customer #2 value</th>
            </thead>
            <tbody ng-repeat='(key, value) in mergeData.source'>
              <tr ng-if='customer_merge.canCompareField(key, value, mergeData.target[key])'>
                <td>{{ key | translate }}</td>
                <td>
                  <label>
                    <input type='radio' ng-model='mergeData.merge.fields[key]' value='source' />
                    {{ value }}
                  </label>
                </td>
                <td>
                  <label>
                    <input type='radio' ng-model='mergeData.merge.fields[key]' value='target' />
                    {{ mergeData.target[key] }}
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class='panel-footer'>
          <button class='md-btn md-flat btn-fw text-success'
                  ng-click='customer_merge.merge(mergeData)'
                  type='button'
                  translate='merge'
                  md-ink-ripple></button>
          <button class='md-btn md-flat btn-fw text-success'
                  ng-click='customer_merge.ignore(mergeData)'
                  type='button'
                  translate='ignore'
                  md-ink-ripple></button>
        </div>
      </div>

      <div ng-show='!customer_merge.auto_merge.length && !customer_merge.manual_merge.length'
           class='md-padding text-center'
           translate='geen'></div>
    </div>
  </md-content>
</section>