<md-tab>
  <md-tab-label>
    <div class='text-center l-h'>Allergiën</div>
  </md-tab-label>
  <md-tab-body>
    <div class='md-content-submit'>
      <div class='wrapper' layout='column' layout-align='space-around center'>
        <div class='w-xl'>

          <label ng-repeat='allergy in controller.allergies'
                 class='btn btn-default block m-b-xs no-shadow text-success text-left'
                 ng-model='controller.allergy'
                 uncheckable
                 btn-radio='allergy'>
            <span>{{ allergy.allergy }}</span>
            <span class='pull-right' ng-click='controller.deleteAllergy($index)'>
              <i class='mdi mdi-close i-21'></i>
            </span>
          </label>

          <form name='user_allergies_form'>
            <div class='wrapper'>
              <md-input-container class='md-block'>
                <label>Allergiën</label>
                <textarea required ng-model='controller.allergy.allergy'></textarea>
              </md-input-container>

              <input type="hidden" ng-model='controller.allergy.id' />
            </div>
          </form>
        </div>
      </div>

      <button type='submit'
            ng-class="{ 'disabled': !user_allergies_form.$valid || controller.allergies_is_submitting }"
            ng-click="controller.submitAllergiesForm(user_allergies_form.$valid)"
            class='btn btn-lg btn-success text-success w-full no-top-radius md-content-button'>
        OPSLAAN
      </button>
    </div>
  </md-tab-body>
</md-tab>