<section class='no-margin user_edit'>
  <md-toolbar>
    <div class='md-toolbar-tools'>
      <h2 md-truncate flex>Algemene informatie</h2>
      <md-button class="md-icon-button" ng-click='edit_user.closeModal();' md-no-ink>
        <i class='mdi mdi-close m-r-sm i-24'></i>
      </md-button>
    </div>
  </md-toolbar>
  <md-content class="height-854">

  <md-tabs class='reservation_tabs'
           flex
           md-selected='new_product.tab_index'
           md-no-pagination
           md-stretch-tabs
           md-dynamic-height>
    <md-tab>
      <md-tab-label>
        <div class='text-center l-h'>Algemene</div>
      </md-tab-label>
      <md-tab-body>
        <form name='edit_user_form' ng-submit='edit_user.submitForm(edit_user_form.$valid)'>
          <div class='wrapper'>
            <md-input-container class='md-block'>
              <label>E-mail</label>
              <input required ng-model="userData.mail" />
            </md-input-container>
            <md-input-container class='md-block'>
              <label>Voornaam</label>
              <input required ng-model="userData.first_name" />
            </md-input-container>
            <md-input-container class='md-block'>
              <label>Achternaam</label>
              <input ng-model="userData.last_name" />
            </md-input-container>
            <md-input-container class='md-block'>
              <label>Telefoon</label>
              <input required ng-model="userData.primary_phone_number" />
            </md-input-container>
            <md-input-container class='md-block'>
              <label>Secundair nummer</label>
              <input ng-model="userData.secondary_phone_number" />
            </md-input-container>
          <md-input-container class='md-block'>
              <label>Geboortedatum</label>
              <input
                 type="text"
                 class="form-control date-picker"
                 id="BirthDate"
                 ng-model="userData.date_of_birth"
                 datepicker-popup="dd-MM-yyyy"
                 aw-datepicker-pattern="^(0[1-9]|1\d|2\d|3[01])\-(0[1-9]|1[0-2])\-(19|20)\d{2}$"
                 is-open="Opened"
                 ng-click="Opened=true"
                 datepicker-options='edit_user.date_options'
                 show-button-bar='false'
                 close-text='Close' />
            </md-input-container>
            <md-input-container class='md-block'>
              <label>Straat</label>
              <input ng-model="userData.street" />
            </md-input-container>
            <md-input-container class='md-block'>
              <label>Huisnummer</label>
              <input ng-model="userData.house_number" />
            </md-input-container>
            <md-input-container class='md-block'>
              <label>Postcode</label>
              <input ng-model="userData.zipcode" />
            </md-input-container>
            <md-input-container class='md-block'>
              <label>Stad</label>
              <input ng-model="userData.city" />
            </md-input-container>
            <md-input-container class='md-block'>
              <label>Gemiddelde score</label>
              <input type="number" ng-model="userData.average_rating" ng-pattern="/^[0-9]+(\.[0-9])?$/" step="0.1" />
            </md-input-container>
            <div class='md-form-group no-padder'>
              <md-radio-group ng-model="userData.gender">
                <md-radio-button value='Man' class='inline md-success'>Man</md-radio-button>
                <md-radio-button value='Vrouw' class='inline md-success'>Vrouw</md-radio-button>
              </md-radio-group>
            </div>
          </div>

          <button type='submit'
                  ng-class="{ 'disabled': !edit_user_form.$valid || edit_user.is_submitting }"
                  class='btn btn-lg btn-success text-success w-full no-top-radius'>
            <span>OPSLAAN</span>
          </button>
        </form>

      </md-tab-body>
    </md-tab>

    <md-tab>
      <md-tab-label>
        <div class='text-center l-h'>Opmerkingen</div>
      </md-tab-label>
      <md-tab-body>

        <div class="form_wrapper m-t-xs">

          <div class='clearfix'>

            <div ng-repeat="note in edit_user.notes track by $index">
              <label ng-model='edit_user.note'
                     class='box-line'
                     uncheckable
                     btn-radio='note'>
                <span>{{ note.note }}</span>
              </label>

              <div ng-click="edit_user.deleteNote($index)"
                      class='md-btn md-flat btn-fw text-success md-ink-ripple m-r-sm pull-right delete_note_button'>
                <i class='mdi mdi-close i-24'></i>
              </div>
            </div>

            <button md-ink-ripple="" class="md-btn md-flat btn-fw text-success md-ink-ripple m-l-sm" ng-click="edit_user.note={}">
              <i class="mdi mdi-plus-circle-outline"></i>
              Opmerking toevoegen
            <div class="md-ripple-container"></div></button>

          </div>


          <form name='user_notes_form'>
            <div class='wrapper'>
              <md-input-container class='md-block'>
                <label>Opmerking</label>
                <textarea required ng-model="edit_user.note.note"></textarea>
              </md-input-container>

              <input type="hidden" ng-model="edit_user.note.id" />
            </div>
          </form>
        </div>

        <button type='submit'
                ng-class="{ 'disabled': !user_notes_form.$valid || edit_user.notes_is_submitting }"
                ng-click="edit_user.submitNoteForm(user_notes_form.$valid)"
                class='btn btn-lg btn-success text-success w-full no-top-radius'>
          <span>OPSLAAN</span>
        </button>

      </md-tab-body>
    </md-tab>

    <md-tab>
      <md-tab-label>
        <div class='text-center l-h'>Voorkeuren</div>
      </md-tab-label>
      <md-tab-body>

        <div class="form_wrapper m-t-xs">

          <div class='clearfix'>

            <div ng-repeat="preference in edit_user.preferences track by $index">
              <label ng-model='edit_user.preference'
                     class='box-line'
                     uncheckable
                     btn-radio='preference'>
                <span>{{ preference.name }}</span>
              </label>

              <div ng-click="edit_user.deletePreference($index)"
                      class='md-btn md-flat btn-fw text-success md-ink-ripple m-r-sm pull-right delete_note_button'>
                <i class='mdi mdi-close i-24'></i>
              </div>
            </div>

            <button md-ink-ripple="" class="md-btn md-flat btn-fw text-success md-ink-ripple m-l-sm" ng-click="edit_user.preference={}">
              <i class="mdi mdi-plus-circle-outline"></i>
              Voorkeur toevoegen
            <div class="md-ripple-container"></div></button>

          </div>


          <form name='user_preferences_form'>
            <div class='wrapper'>
              <md-input-container class='md-block'>
                <label>Voorkeur</label>
                <input required ng-model="edit_user.preference.name" />
              </md-input-container>

              <md-input-container class='md-block'>
                <label>Omschrijving</label>
                <input required ng-model="edit_user.preference.value" />
              </md-input-container>

              <input type="hidden" ng-model="edit_user.preference.id" />
            </div>
          </form>
        </div>

        <button type='submit'
                ng-class="{ 'disabled': !user_preferences_form.$valid || edit_user.preferences_is_submitting }"
                ng-click="edit_user.submitPreferenceForm(user_preferences_form.$valid)"
                class='btn btn-lg btn-success text-success w-full no-top-radius'>
          <span>OPSLAAN</span>
        </button>


      </md-tab-body>
    </md-tab>

    <md-tab>
      <md-tab-label>
        <div class='text-center l-h'>Allergiën</div>
      </md-tab-label>
      <md-tab-body>

        <div class="form_wrapper m-t-xs">

          <div class='clearfix'>

            <div ng-repeat="allergy in edit_user.allergies track by $index">
              <label ng-model='edit_user.allergy'
                     class='box-line'
                     uncheckable
                     btn-radio='allergy'>
                <span>{{ allergy.allergy }}</span>
              </label>

              <div ng-click="edit_user.deleteAllergy($index)"
                      class='md-btn md-flat btn-fw text-success md-ink-ripple m-r-sm pull-right delete_note_button'>
                <i class='mdi mdi-close i-24'></i>
              </div>
            </div>

            <button md-ink-ripple="" class="md-btn md-flat btn-fw text-success md-ink-ripple m-l-sm" ng-click="edit_user.allergy={}">
              <i class="mdi mdi-plus-circle-outline"></i>
              Allergiën toevoegen
            <div class="md-ripple-container"></div></button>

          </div>


          <form name='user_allergies_form'>
            <div class='wrapper'>
              <md-input-container class='md-block'>
                <label>Allergiën</label>
                <textarea required ng-model="edit_user.allergy.allergy"></textarea>
              </md-input-container>

              <input type="hidden" ng-model="edit_user.allergy.id" />
            </div>
          </form>
        </div>

        <button type='submit'
                ng-class="{ 'disabled': !user_allergies_form.$valid || edit_user.allergies_is_submitting }"
                ng-click="edit_user.submitAllergiesForm(user_allergies_form.$valid)"
                class='btn btn-lg btn-success text-success w-full no-top-radius'>
          <span>OPSLAAN</span>
        </button>


      </md-tab-body>
    </md-tab>

  </md-content>
</section>