<md-tab>
  <md-tab-label>
    <div class='text-center l-h' translate='general'></div>
  </md-tab-label>
  <md-tab-body>
    <div class='md-content-submit'>
      <div class='wrapper' layout='column' layout-align='space-around center'>
        <div class='w-xl'>
          <form name='edit_user_form' ng-submit='controller.submitForm(edit_user_form.$valid)'>
            <div class='wrapper'>
              <md-input-container class='md-block'>
                <label translate='email'></label>
                <input ng-model="controller.customer.mail" />
              </md-input-container>
              <md-input-container class='md-block'>
                <label translate='first_name'></label>
                <input ng-model="controller.customer.first_name" />
              </md-input-container>
              <md-input-container class='md-block'>
                <label translate='last_name'></label>
                <input ng-model="controller.customer.last_name" />
              </md-input-container>
              <md-input-container class='md-block'>
                <label translate='phone'></label>
                <input ng-model="controller.customer.primary_phone_number" />
              </md-input-container>
              <md-input-container class='md-block'>
                <label translate='second_phone'></label>
                <input ng-model="controller.customer.secondary_phone_number" />
              </md-input-container>
            <md-input-container class='md-block'>
                <label translate='birthdate'></label>
                <input
                   type="text"
                   class="form-control date-picker"
                   id="BirthDate"
                   ng-model="controller.customer.date_of_birth"
                   datepicker-popup="dd-MM-yyyy"
                   aw-datepicker-pattern="^(0[1-9]|1\d|2\d|3[01])\-(0[1-9]|1[0-2])\-(19|20)\d{2}$"
                   is-open="Opened"
                   ng-click="Opened=true"
                   datepicker-options='controller.date_options'
                   show-button-bar='false'
                   close-text='Close' />
              </md-input-container>
              <md-input-container class='md-block'>
                <label translate='address'></label>
                <input ng-model="controller.customer.street" />
              </md-input-container>
              <md-input-container class='md-block'>
                <label translate='housenumber'></label>
                <input ng-model="controller.customer.house_number" />
              </md-input-container>
              <md-input-container class='md-block'>
                <label translate='postcode'></label>
                <input ng-model="controller.customer.zipcode" />
              </md-input-container>
              <md-input-container class='md-block'>
                <label translate='city'></label>
                <input ng-model="controller.customer.city" />
              </md-input-container>
              <div class='md-form-group no-padder'>
                <md-radio-group ng-model="controller.customer.gender">
                  <md-radio-button value='Man' class='inline md-success'>
                    {{ 'male' | translate }}
                  </md-radio-button>
                  <md-radio-button value='Vrouw' class='inline md-success'>
                    {{ 'female' | translate }}
                  </md-radio-button>
                </md-radio-group>
              </div>
            </div>

            <button type='submit'
                    ng-class="{ 'disabled': !edit_user_form.$valid || controller.is_submitting }"
                    class='btn btn-lg btn-success text-success w-full no-top-radius md-content-button'>
              <translate>save</translate>
            </button>
          </form>
        </div>
      </div>
    </div>
  </md-tab-body>
</md-tab>