.height-854
  height 854px

.user_edit
  .delete_note_button
    margin-top 3px
    padding 0px 3px

  .form_wrapper
    height 436px
    overflow-y auto
  
  md-tabs md-tabs-wrapper
    display block

  md-content
    padding-bottom 0
    height auto
    min-height modal-height

    md-tabs.reservation_tabs
      md-tabs-wrapper
        md-tabs-canvas
          height 40px

          md-pagination-wrapper
            height 40px
            width 100%

            md-tab-item.md-tab
              width 25%
              height 40px
