.user_edit
  .md-content-submit
    min-height 480px

  .delete_note_button
    margin-top 3px
    padding 0px 3px

md-tabs.user_menu_tabs
  md-tabs-wrapper
    md-tabs-canvas
      md-pagination-wrapper
        md-tab-item.md-tab
          width 25%
