<section class='no-margin'>
  <md-toolbar class='blue-grey-900'>
    <div class='md-toolbar-tools'>
      <span ng-click='edit_user.closeModal();'>
        <i class='mdi mdi-close m-r-sm'></i>
        Algemene informatie
      </span>
    </div>
  </md-toolbar>
  <md-content class="height-854">
    <form name='edit_user_form' ng-submit='edit_user.submitForm(edit_user_form.$valid)'>
      <div class='wrapper'>
        <md-input-container class='md-block'>
          <label>E-mail</label>
          <input required ng-model="userData.mail" />
        </md-input-container>
        <md-input-container class='md-block'>
          <label>Voornaam</label>
          <input required ng-model="userData.first_name" />
        </md-input-container>
        <md-input-container class='md-block'>
          <label>Achternaam</label>
          <input required ng-model="userData.last_name" />
        </md-input-container>
        <md-input-container class='md-block'>
          <label>Telefoon</label>
          <input required ng-model="userData.primary_phone_number" />
        </md-input-container>
        <md-input-container class='md-block'>
          <label>Secundair nummer</label>
          <input ng-model="userData.secondary_phone_number" />
        </md-input-container>
      <md-input-container class='md-block'>
          <label>Geboortedatum</label>
          <input
             type="text"
             required
             class="form-control date-picker"
             id="BirthDate"
             ng-model="userData.date_of_birth"
             datepicker-popup="dd-MM-yyyy"
             aw-datepicker-pattern="^(0[1-9]|1\d|2\d|3[01])\-(0[1-9]|1[0-2])\-(19|20)\d{2}$"
             is-open="Opened"
             ng-click="Opened=true"
             datepicker-options='edit_user.date_options'
             show-button-bar='false'
             close-text='Close' />
        </md-input-container>
        <md-input-container class='md-block'>
          <label>Straat</label>
          <input ng-model="userData.street" />
        </md-input-container>
        <md-input-container class='md-block'>
          <label>Huisnummer</label>
          <input ng-model="userData.house_number" />
        </md-input-container>
        <md-input-container class='md-block'>
          <label>Postcode</label>
          <input ng-model="userData.zipcode" />
        </md-input-container>
        <md-input-container class='md-block'>
          <label>Stad</label>
          <input ng-model="userData.city" />
        </md-input-container>
        <div class='md-form-group no-padder'>
          <md-radio-group ng-model="userData.gender">
            <md-radio-button value='Man' class='inline md-success'>Man</md-radio-button>
            <md-radio-button value='Vrouw' class='inline md-success'>Vrouw</md-radio-button>
          </md-radio-group>
        </div>
      </div>
      <button type='submit'
              ng-class="{ 'disabled': !edit_user_form.$valid }"
              class='btn btn-lg btn-success text-success w-full no-top-radius'>
        <span ng-hide='edit_user.is_submitting'>OPSLAAN</span>
        <div layout='row' layout-align='space-around' ng-show='edit_user.is_submitting'>
          <md-progress-circular md-mode="indeterminate" md-diameter='24' class='white'></md-progress-circular>
        </div>
      </button>
    </form>
  </md-content>
</section>