<div class='panel'>
  <div class='panel-heading' translate='dashboard.action_required'></div>
  <md-list class='no-padder'>
    <md-list-item class='md-no-proxy'>
      <fix-reservations-item></fix-reservations-item>
    </md-list-item>
  </md-list>
</div>

<div class='panel'>
  <div class='panel-heading' translate='dashboard.groups'></div>
  <md-list class='no-padder'>
    <md-list-item class='md-no-proxy'>
      <fix-reservations-item></fix-reservations-item>
    </md-list-item>
  </md-list>
</div>

<div class='panel'>
  <div class='panel-heading' translate='today'></div>
  <md-list class='no-padder'>
    <md-list-item class='md-no-proxy'>
      <fix-reservations-item></fix-reservations-item>
    </md-list-item>
  </md-list>
</div>
