font-color = #58666e
muted-color = #bdbdbd

default-success-color = #009688
default-success-color-hover = #00796b
default-success-color-disabled = #b2dfdb
default-primary-color = #ff9800
default-theme-color = #263238

aqua-success-color = #2196f3
aqua-success-color-hover = #1976d2
aqua-success-color-disabled = #bbdefb
aqua-primary-color = #0087ff
aqua-theme-color = #303e4d

lego-success-color = #2196f3
lego-success-color-hover = #1976d2
lego-success-color-disabled = #bbdefb
lego-primary-color = #ffeb3b
lego-theme-color = #f44336

chocolate-success-color = #2196f3
chocolate-success-color-hover = #1976d2
chocolate-success-color-disabled = #bbdefb
chocolate-primary-color = #009688
chocolate-theme-color = #473627

border-color = #dee5e7
border-radius = 6px
input-border-color = rgba(160, 160, 160, 0.2)

box-shadow = 0 2px 10px 0 rgba(0, 0, 0, 0.07)
text-shadow = 0 1px 0 rgba(0, 0, 0, 0.2)

font-size = 14px
small-font-size = 13px
line-height = 1.42857143
background-color = #f9f7f5

modal-height = 520px

new-reserv-tab-height = 56px
tab-height = 40px
header-menu-tab-height = 72px

list-item-active-color = rgba(88, 102, 110, 0.1)