<md-sidenav class='md-sidenav-left md-whiteframe-z2 pos-fix'
            md-component-id='left'
            ng-swipe-left='ctrl.closeMenu()'>
  <md-content>
    <div class='wrapper profile-wrapper'>
      <div class='clear'>
        <div class='profile-menu__avatar pull-left'></div>
        <button md-ink-ripple class='pull-right md-btn md-flat btn-fw' ng-click='ctrl.closeMenu()'>
          <i class='mdi mdi-close i-30' ></i>
        </button>
      </div>
      <h3 class='text-md top-profile-email'>
        <span>{{ ctrl.User.current.email }}</span>
      </h3>

    </div>

    <ul class='nav'>

      <div class='inset m-t'>
        <div class='md-list-item-left'>
          <i class='mdi mdi-view-list icon-muted i-24'></i>
        </div>
        <div class='md-list-item-content mt-8'>
          <a
            class='text-md'
            ng-click='ctrl.closeMenu()'
            ui-sref='app.dashboard'
            translate='top_menu.dashboard'></a>
        </div>
      </div>

      <div class='inset'>
        <div class='md-list-item-left'>
          <i class='mdi mdi-chart-bar icon-muted i-24'></i>
        </div>
        <div class='md-list-item-content mt-8'>
          <a
            class='text-md'
            ng-click='ctrl.closeMenu()'
            ui-sref='app.analytics'
            translate='top_menu.analytics'></a>
        </div>
      </div>

      <div class='inset'>
        <div class='md-list-item-left'>
          <i class='mdi mdi-calendar icon-muted i-24'></i>
        </div>
        <div class='md-list-item-content mt-8'>
          <a
            class='text-md'
            ng-click='ctrl.closeMenu()'
            ui-sref='app.agenda'
            translate='top_menu.calendar'></a>
        </div>
      </div>

      <div class='inset'>
        <div class='md-list-item-left'>
          <i class='mdi mdi-account-multiple icon-muted i-24'></i>
        </div>
        <div class='md-list-item-content mt-8'>
          <a
            class='text-md'
            ng-click='ctrl.closeMenu()'
            ui-sref='app.customers'
            translate='top_menu.customers'></a>
        </div>
      </div>

      <div class='inset'>
        <div class='md-list-item-left'>
          <i class='mdi mdi-calendar icon-muted i-24'></i>
        </div>
        <div class='md-list-item-content mt-8'>
          <a
            class='text-md'
            ng-click='ctrl.closeMenu()'
            ui-sref='app.leads'
            translate='top_menu.leads'></a>
        </div>
      </div>

    </ul>
  </md-content>
</md-sidenav>
