<div class='profile_menu m-b-md clearfix'>
  <md-menu>
    <i class='mdi mdi-settings i-24 m-l-md' ng-click='$mdMenu.open($event);' />
    <md-menu-content>
      <md-menu-item>
        <md-button ng-click='profiles.exportCSV();'>CSV export</md-button>
      </md-menu-item>
      <md-menu-item>
        <md-button ng-click=''>Profiel samenvoegen</md-button>
      </md-menu-item>
    </md-menu-content>
  </md-menu>
</div>

<div class='profiles'>
  <div class='col-lg-10 col-md-10 col-sm-10'>
    <div class='panel'>
      <div class='panel-heading'>Profielen</div>
      <div class='md-list'>

        <div class="md-list-item char_wrapper" ng-repeat="(char, customers) in profiles.customers">
          <div class="md-list-item-left char">{{ char }}</div>
            <div ng-repeat="customer in customers | orderBy:'customer.last_name':false" class="customers">
              <div class="md-list-item-content ng-scope">
                <div class="md-list-item-left m-t-sm">
                  <div class="grey-100 img-circle customer_avatar" ng-hide="customer.photoURI"></div>
                  <img ng-src="{{ customer.photoURI }}" ng-show="customer.photoURI" class="customer_avatar">
                </div>


                <h3 class="text-md ng-binding customer">{{ customer.last_name }} {{ customer.first_name }}</h3>
                <div class="pull-right ng-scope">
                  <button md-ink-ripple="" class="md-btn md-fab m-t-xs m-b-xs no-shadow md-ink-ripple" ng-disabled="disabled" aria-haspopup="true" aria-expanded="false" aria-disabled="false" ng-click='user.openCustomerMenu(customer.id, reservation.pid)' ng-controller='UserMenuCtrl as user'>
                    <i class="mdi mdi-dots-vertical i-20"></i>
                    <div class="md-ripple-container"></div>
                  </button>

                </div>
              </div>
            </div>
        </div>

      </div>
    </div>
  </div>

  <div data-ng-include=" 'user_menu.view.html' " ng-controller='UserMenuCtrl as user'></div>

</div>