<div class='profiles'>
  <div class='col-lg-10 col-md-10 col-sm-10'>
    <div class='page_filter m-b-md clearfix'>
      <div class='pull-left'
           ng-init='controller = profiles'
           data-ng-include=" 'page_filter.profile_settings.view.html' "></div>
    </div>

    <div class='panel'>
      <div class='panel-heading' translate='profiles'></div>
      <md-list class='no-padder'>
        <div class='char_wrapper' ng-repeat='(char, customers) in profiles.customers' scroll-more="profiles.loadCustomers(true)">
          <div class='md-list-item-left char'>{{ char }}</div>
          <md-list-item ng-click='profiles.openCustomerMenu(customer.id)'
                        ng-class='{"active": profiles.active_profile == customer.id}'
                        ng-repeat="customer in customers | orderBy:'customer.last_name':false"
                        ng-mouseup='profiles.active_profile = customer.id'
                        class='md-2-line md-no-proxy b-b-none m-l-xxl'>
            <div class='md-avatar'>
              <div class='grey-100 img-circle customer_avatar'
                   ng-if='!profiles.Customer.socialImageUrl(customer)'></div>
              <img ng-src='{{ profiles.Customer.socialImageUrl(customer) }}'
                   ng-if='profiles.Customer.socialImageUrl(customer)'
                   class='customer_avatar' />
            </div>
            <div class='md-list-item-text'>
              <h3>{{ customer.last_name }} {{ customer.first_name }}</h3>
            </div>
            <div class='pull-right'>
              <button md-ink-ripple
                      class='md-icon-button md-button'
                      ng-disabled='disabled'
                      aria-haspopup='true'
                      aria-expanded='false'
                      aria-disabled='false'
                      ng-click='profiles.openCustomerMenu(customer.id)'>
                <i class='mdi mdi-dots-vertical i-24'></i>
              </button>
            </div>

          </md-list-item>
        </div>
      </md-list>
    </div>
  </div>
</div>

<alphabet group-by="1" letter-clicked="profiles.onFilterChanged(letter)"></alphabet>
<alphabet group-by="2" letter-clicked="profiles.onFilterChanged(letter)"></alphabet>
