.profiles
  .char_wrapper
    .char
      font-size 24px
      text-align left
      display table-cell
      padding 12px 20px
    
    .customers
      padding-left 57px
      
      .customer
        font-size 16px
        text-align left
        float left
        line-height 56px
