<div class='modal-dialog' ng-controller='NewReservationCtrl as reserv'>
  <section class='reservation_modal panel no-margin'>
    <form ng-submit='reserv.submitForm()'>
      <md-toolbar>
        <div class='md-toolbar-tools'>
          <h2 md-truncate flex ng-hide='reserv.success'>Reserveren</h2>
          <h2 md-truncate flex ng-show='reserv.success'>Nieuwe reservering</h2>
          <md-button class='md-icon-button'
                     ng-click='reserv.$window.location.reload()'
                     md-no-ink>
            <i class='mdi mdi-close m-r-sm i-24'></i>
          </md-button>
        </div>
      </md-toolbar>
      <md-content>
        <div ng-hide='reserv.success'>
          <md-tabs class='reservation_tabs'
                   flex
                   md-selected='reserv.selected_index'
                   md-no-pagination
                   md-stretch-tabs
                   md-dynamic-height>
            <div data-ng-include=" 'new_reservation.type.view.html' "></div>

            <div data-ng-include=" 'new_reservation.date.view.html' "></div>

            <div data-ng-include=" 'new_reservation.number_of_persons.view.html' "></div>

            <div data-ng-include=" 'new_reservation.product.view.html' "></div>

            <div data-ng-include=" 'new_reservation.time.view.html' "></div>

            <div data-ng-include=" 'new_reservation.person.view.html' "></div>
          </md-tabs>
        </div>

        <div class='md-content-submit b-t' flex ng-show='reserv.success'>
          <div class='md-list-item'>
            <div class='md-list-item-content'>
              <h4>Reservering geplaatst</h4>
            </div>
          </div>
          <div class='wrapper'>
            <div class="md-list-item inset">
              <div class="md-list-item-left">
                <i class="mdi mdi-attachment icon-muted i-24"></i>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">{{ reserv.moment(reserv.current_part.date).format('DD MMMM YYYY') }} {{ reserv.current_part.time }}</h3>
                <small class="font-thin">{{ reserv.Reservation.getProductNameByProductId(reserv.products, reserv.current_part.product) }},  {{ reserv.current_part.number_of_persons }} personen</small>
              </div>
            </div>
            <div class="md-list-item inset" ng-if='reserv.reservation.primary_phone_number'>
              <div class="md-list-item-left ">
                <i class="mdi mdi-phone icon-muted i-24"></i>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">{{ reserv.reservation.primary_phone_number }}</h3>
                <small class="font-thin">Telefoon</small>
              </div>
            </div>
            <div class="md-list-item inset">
              <div class="md-list-item-left ">
                <i class="mdi mdi-email icon-muted i-24"></i>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">{{ reserv.reservation.mail }}</h3>
                <small class="font-thin">E-mail</small>
              </div>
            </div>

            <div class="md-list-item ">
              <div class="md-list-item-left ">
                <i class="mdi mdi-comment-text icon-muted i-24"></i>
              </div>
              <div class="md-list-item-content">
                <h3 class="text-md">{{ reserv.reservation.notes }}</h3>
                <small class="font-thin">Opmerkingen</small>
              </div>
            </div>
          </div>
        </div>
      </md-content>
    </form>
  </section>
</div>

<div ng-show='app.$rootScope.show_spinner' id='loading-bar-spinner'>
  <div class='spinner-icon'></div>
</div>