<div class='agenda-content'>
  <ng-include src="'agenda.widget.html'"></ng-include>

  <div class='col-sm-8' ng-show='ctrl.is_loaded'>
    <div class='page_filter m-b-md clearfix'>
      <div class='pull-left m-r-xs'
           ng-init='controller = ctrl'
           data-ng-include=" 'page_filter.print.view.html' "></div>
      <div class='pull-left m-r-xs'
           ng-init='controller = ctrl'
           data-ng-include=" 'page_filter.date.view.html' "></div>
      <div class='pull-left'
           ng-init='controller = ctrl'
           data-ng-include=" 'page_filter.settings.view.html' "></div>
      <div class='pull-left m-r-xs'
           ng-init='controller = ctrl'
           data-ng-include=" 'page_filter.filter.view.html' "></div>
      <div class='page_sort pull-left'
           ng-init='controller = ctrl'
           data-ng-include=" 'page_filter.sort.view.html' "></div>
      <div class='pull-right'
           ng-init='controller = ctrl'
           data-ng-include=" 'page_filter.change_view.view.html' "></div>
    </div>

    <button ng-click='ctrl.openReservation()' md-ink-ripple class='panel-add-button md-btn md-fab m-b'>
      <md-tooltip>{{ 'new_reservation' | translate }}?</md-tooltip>
      <i class='mdi mdi-plus i-24'></i>
    </button>

    <div class='panel' ng-show='ctrl.view_type == "list"'>
      <div class='panel-heading' translate='reservations'></div>
      <div class='panel-body no-padder'>
        <div ng-if='!ctrl.data.length'
          class='empty_reservations'
          translate='make_first_reservation'>
        </div>

        <div ng-if='ctrl.data.length'
          class='agenda-reservation-item-wrapper'>
          <div class='agenda-reservation-header text-muted'>
            <div translate='status_name'></div>
            <div translate='time'></div>
            <div translate='product'></div>
            <div translate='name'></div>
            <div translate='persons'></div>
            <div translate='table'></div>
            <div translate='note'></div>
            <div></div>
          </div>
          <agenda-reservation-item
            ng-class='{"active": ctrl.active_part == item.part.id,
                      "cancelled": item.reservation.status == "cancelled",
                      "b-b-none": item.reservation.id === agenda_data[$index + 1].reservation.id}'
            ng-repeat='item in agenda_data = ctrl.data track by $index'
            ng-mouseup='ctrl.active_part = item.part.id'
            hide-icon='item.reservation.id === agenda_data[$index - 1].reservation.id'
            change-status='ctrl.changeStatus(reservation, status)'
            show-date=true
            data='item'></agenda-reservation-item>
        </div>
      </div>
    </div>

    <uib-accordion
      class='agenda'
      close-others='false'
      ng-show='ctrl.view_type == "calendar"'>
      <div
        uib-accordion-group
        ng-repeat='(zoneId, zone) in ctrl.zones'
        is-open='ctrl.opened[$index]'
        ng-if='ctrl.zones'>
        
        <uib-accordion-heading>
          <div class='clearfix' ng-click='ctrl.scrollToNow($index)'>
            <div class='pull-left'>
              {{ zone.name }}
            </div>
            <div class='pull-left'>
              <i class='mdi mdi-chevron-down i-24' ng-show='!ctrl.opened[$index]'></i>
              <i class='mdi mdi-chevron-up i-24' ng-show='ctrl.opened[$index]'></i>
            </div>
          </div>
        </uib-accordion-heading>

        <div ng-if='ctrl.opened[$index]'>
          <div class='tables_wrapper'>
            <div ng-repeat='(tableIndex, table) in zone.tables | orderBy:"position"'>
              <div class='table_item_number pull-left m-t-sm'
                   ng-style='{ top: tableIndex * ctrl.reservation_height }'
                   ng-bind='table.table_number'></div>
            </div>
          </div>

          <div class='calendar_wrapper' data-zone-id='{{ zone.id }}'>
            <div class='scroll-wrapper'>
              <div class='hours-timeline' ng-show='zone.tables.length'>
                <div class='hour' ng-repeat='hour in ctrl.hours'>
                  {{ hour }}:00
                </div>
              </div>
              <div class='timeline-wrapper' ng-show='zone.tables.length'>
                <div class='now' ng-style='ctrl.nowLineStyle(zone.id)' ng-show='ctrl.is_today'></div>
                <ul class='tables md-list no-padder no-margin'>
                  <li class='table_item md-list-item no-padder no-margin z-index1'
                      ng-repeat='(tableIndex, table) in zone.tables | orderBy:"position"'>
                    <div class='hours-wrapper'>
                      <div class='hour' ng-repeat='hour in ctrl.hours'>
                        <div class='quarter'
                             data-hour='{{ hour }}'
                             data-quarter='{{ quarter }}'
                             data-zone-id='{{ zone.id }}'
                             ng-repeat='quarter in [0,1,2,3]'
                             ui-on-drop='ctrl.onDrop(table.id, tableIndex, hour, quarter, $data)'
                             ng-click='ctrl.openWalkIn(table.id, table.table_number, hour, quarter)'
                             ng-class='{ closed: ctrl.isClosedTime(hour, quarter, zone.id) }'
                             ng-mouseenter="hover=true"
                             ng-mouseleave="hover=false"
                             drop-channel='move,resize'></div>
                      </div>
                      <div class='reservation'
                        ng-repeat='item in ctrl.graph_data[table.id] track by $index'
                        ng-if='ctrl.graph_data[table.id]'
                        ui-on-drop=''
                        drop-channel='resize'
                        ui-draggable='true'
                        drag='[item.id, table.id]'
                        ng-style='ctrl.reservationBlockStyle(tableIndex, table.id, item)'
                        on-drop-failure='ctrl.dragEnd()'
                        ng-class='ctrl.draggable_class'
                        data-product-id='{{ item.product.id }}'
                        data-id='{{ item.id }}'
                        drag-channel='move'>
                        <agenda-calendar-reservation-item
                          change-status='ctrl.changeStatus(reservation, status)'
                          data='item'></agenda-calendar-reservation-item>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </uib-accordion>
  </div>

  <div class='col-sm-8' ng-if='!ctrl.is_loaded'>
    <fix-agenda-reservations></fix-agenda-reservations>
  </div>

  <div class='agenda-timeranges col-sm-4' ng-show='ctrl.time_ranges_is_loaded'>
    <div data-ng-include=" 'agenda_charts.view.html' " ng-controller='AgendaChartsCtrl as agenda_charts'></div>

    <div class='panel'>
      <div class='panel-heading' translate='time_ranges'></div>
      <div class='panel-body no-padder'>
        <table class='table no-margin'>
          <thead>
            <th translate='type'></th>
            <th translate='value'></th>
            <th translate='time'></th>
          </thead>
          <tbody>
            <tr ng-repeat='time_range in ctrl.time_ranges'>
              <td class='v-middle'>
                <span ng-if='time_range.type !== "zone" && time_range.type !== "product"'>
                  {{ time_range.type }}
                </span>
                <span ng-if='time_range.type == "zone"'>{{ ctrl.getZoneNameByRange(time_range) }}</span>
                <span ng-if='time_range.type == "product"'>{{ ctrl.getProductsName(time_range) }}</span>
              </td>
              <td ng-if='["open", "zone", "product", "multiproduct"].includes(time_range.type)'
                  class='v-middle'>{{ time_range.value ? 'opened' : 'closed' | translate }}</td>
              <td ng-if='time_range.type == "overboeken"'
                  class='v-middle'>{{ time_range.value ? 'overbooking' : 'not_overbooking' | translate }}</td>
              <td class='v-middle'>
                <span ng-if='!time_range.whole_day'>
                  {{ time_range.start_time }} - {{ time_range.end_time }}
                </span>
                <span ng-if='time_range.whole_day' translate='whole_day'></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class='agenda-timeranges col-sm-4' ng-if='!ctrl.time_ranges_is_loaded'>
    <fix-agenda-charts></fix-agenda-charts>
  </div>
</div>

<div data-ng-include=" 'reservation_print.view.html' " ng-init='controller = ctrl'></div>
