<div ng-show='agenda.is_loaded' class='col-lg-8 col-md-8 col-sm-8'>

  <div class='page_filter m-b-md clearfix'>
    <div class='pull-left'
         ng-init='controller = agenda'
         data-ng-include=" 'page_filter.date.view.html' "></div>
    <div class='pull-left'
         ng-init='controller = agenda'
         data-ng-include=" 'page_filter.settings.view.html' "></div>
    <div class='pull-left'
         ng-init='controller = agenda'
         data-ng-include=" 'page_filter.filter.view.html' "></div>
    <div class='page_sort pull-left'
         ng-init='controller = agenda'
         data-ng-include=" 'page_filter.sort.view.html' "></div>
    <div class='pull-right'
         ng-init='controller = agenda'
         data-ng-include=" 'page_filter.change_view.view.html' "></div>
  </div>

  <button ng-click='agenda.openReservation()' md-ink-ripple class='panel-add-button md-btn md-fab m-b'>
    <i class='mdi mdi-plus i-24'></i>
  </button>

  <accordion class='agenda' close-others='false'>
    <accordion-group ng-repeat='zone in agenda.zones' is-open='agenda.opened[$index]'>
      <accordion-heading>
        <div class='clearfix' ng-click='agenda.scrollToNow($index)'>
          <div class='pull-left'>
            {{ zone.name }}
            <i class='mdi mdi-chevron-down i-24' ng-if='!agenda.opened[$index]'></i>
            <i class='mdi mdi-chevron-up i-24' ng-if='agenda.opened[$index]'></i>
          </div>
        </div>
      </accordion-heading>

      <table class='table m-b-none' ng-show='agenda.view_type == "list"'>
        <thead>
          <tr>
              <th>Aanwezig</th>
              <th>Tijd</th>
              <th>Product</th>
              <th>Naam</th>
              <th>Personen</th>
              <th>Tafel</th>
              <th class='text-right'>Opmerking</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-include=" 'agenda.item.view.html' "
              ng-click='user.openCustomerMenu(item.customer_id, part.id)'
              ng-class='{"active": agenda.active_part == item.id,
                         "cancelled": item.reservation.status == "cancelled"}'
              ng-controller='UserMenuCtrl as user'
              ng-repeat='item in data = agenda.data[zone.id]'
              ng-mouseup='agenda.active_part = item.id'
              ng-init='controller = agenda;hideIcon = item.reservation.id === data[$index - 1].reservation.id;'>
              </tr>
        </tbody>
      </table>

      <div class='tables_wrapper'
           ng-show='agenda.view_type == "calendar"'
           ng-if='agenda.tables_by_zone[zone.id].length'>
        <div ng-repeat='(tableIndex, table) in agenda.tables_by_zone[zone.id] | orderBy:"position"'>
          <div class='table_item_number pull-left m-t-sm' ng-style='{ top: tableIndex * agenda.reservation_height }'>
            {{ table.table_number }}
          </div>
        </div>
      </div>

      <div class='calendar_wrapper' ng-show='agenda.view_type == "calendar"' data-zone-id='{{ zone.id }}'>
        <div class='scroll-wrapper'>
          <div class='hours-timeline' ng-if='agenda.tables_by_zone[zone.id].length'>
            <div class='hour' ng-repeat='hour in agenda.hours'>
              {{ hour }}:00
            </div>
          </div>
          <div class='timeline-wrapper' ng-if='agenda.tables_by_zone[zone.id].length'>
            <div class='now' ng-style='agenda.nowLineStyle(zone.id)' ng-if='agenda.is_today'></div>
            <ul class='tables md-list no-padder no-margin'>
              <li class='table_item md-list-item no-padder no-margin z-index1'
                  ng-repeat='(tableIndex, table) in agenda.tables_by_zone[zone.id] | orderBy:"position"'>

                <div class='hours-wrapper'>
                  <div class='hour' ng-repeat='hour in agenda.hours'>
                    <div class='quarter'
                         data-hour='{{ hour }}'
                         data-quarter='{{ quarter }}'
                         data-zone-id='{{ zone.id }}'
                         ng-repeat='quarter in [0,1,2,3]'
                         ui-on-drop='agenda.onDrop(table.id, tableIndex, hour, quarter, $data)'
                         ng-click='agenda.openQuickReservation(table.id, table.table_number, hour, quarter)'
                         ng-class='agenda.getQuarterClass(hour, quarter)'
                         drop-channel='move,resize'></div>
                  </div>

                  <div class='reservation'
                       ng-repeat='(partId, part) in agenda.partsByTable[table.id]'
                       ui-on-drop=''
                       drop-channel='resize'
                       ui-draggable='true'
                       drag='partId'
                       ng-style='agenda.reservationBlockStyle(tableIndex, part)'
                       on-drop-failure='agenda.dragEnd()'
                       ng-class='agenda.draggable_class'
                       data-product-id='{{ part.product_id }}'
                       data-id='{{ partId }}'
                       drag-channel='move'>
                    <i class='mdi i-20'
                       ng-class='agenda.ReservationStatus.getIcon(part.reservation)'
                       ng-click='agenda.setPresent(part.reservation)'
                       title='{{ agenda.ReservationStatus.getStatus(part.reservation) | capitalize }}'
                    ></i>
                    <a ng-click='user.openCustomerMenu(part.customer.id, partId)' ng-controller='UserMenuCtrl as user'>
                      {{ part.number_of_persons }}
                      {{ part.product.name }}
                      <strong>
                        {{ part.customer.last_name }}
                        {{ part.customer.first_name }}
                      </strong>
                    </a>
                    <div class='resizer' ui-draggable='true' drag-channel='resize'></div>
                  </div>


                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </accordion-group>
  </accordion>
</div>
